{%- if settings.ask_an_expert_show == 'all_page' -%}
	{{ 'component-ask-an-expert.css' | asset_url | stylesheet_tag }}
{%- else -%}
	<link rel="stylesheet" href="{{ 'component-ask-an-expert.css' | asset_url }}" media="print" onload="this.media='all'">
	<noscript>{{ 'component-ask-an-expert.css' | asset_url | stylesheet_tag }}</noscript>
{%- endif -%}
{%- if settings.ask_an_expert_show == 'all_page' -%}
	<div class="halo-ask-an-expert-banner">
	    <button
			type="button"
			data-open-ask-an-expert
			{% if settings.ask_an_expert_banner != blank -%}
				class="link"
			{% endif %}
      		aria-label="{{ 'accessibility.close' | t }}"
		>
		    {%- if settings.ask_an_expert_banner != blank -%}
		        {% assign image = settings.ask_an_expert_banner %}
		        <img
					srcset="{{ image | img_url: 'master' }} 1x, {{ image | img_url: 'master', scale: 2 }} 2x"
	                src="{{ image | img_url: 'master' }}"
	                loading="lazy"
	                alt="{{ image.alt | default: shop.name | escape }}"
	                width="{{ image.width | replace: 'px', '' }}"
	                height="{{ image.height | replace: 'px', '' }}"
	            >
		    {%- else -%}
		    	{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
		    {%- endif -%}
		    <span class="wrap">
			    {%- if settings.ask_an_expert_icon_1 != blank -%}
                    {{ settings.ask_an_expert_icon_1 }}
                {%- elsif settings.ask_an_expert_icon_2 != blank -%}
                    {{ settings.ask_an_expert_icon_2 }}
			    {%- else -%}
			    	{% render 'icon-question' %}
			    {%- endif -%}
		    </span>
	    </button>
	</div>
{%- endif -%}
<div
	class="halo-modal halo-ask-an-expert-popup halo-modal__topDown"
	data-ask-an-expert-popup
	id="halo-ask-an-expert-popup"
>
    <div class="halo-modal__dialog"
      	role="dialog"
      	aria-label="Dialog"
      	aria-modal="true"
      	tabindex="-1"
    >
    	<div class="halo-modal-header">
            <button
				type="button"
				class="halo-modal-close clearfix"
        		data-close-ask-an-expert
				aria-label="{{ 'general.common.close' | t }}"
			>
		        {% render 'icon-close' %}
		    </button>
            <h3 class="halo-modal-title text-center">
            	{%- if settings.ask_an_expert_header != blank -%}
                	{{ settings.ask_an_expert_header | escape }}
                {%- else -%}
                	{{ shop.name | escape }}
	        	{%- endif -%}
            </h3>
    	</div>
        <div class="halo-popup-content halo-modal-content halo-popup-scroll custom-scrollbar">
    		{%- form 'contact', id: 'ask_an_expert_form', class: 'halo-ask-an-expert-form contact-form' -%}
				{%- if form.posted_successfully? -%}
					<div class="form-message" data-form-message="ask">
						<div class="alertBox alertBox--success">
							<p class="alertBox-message">
								{{ 'ask_an_expert.general.success' | t }}
							</p>
						</div>
					</div>
				{%- elsif form.errors -%}
					<div class="form-message" data-form-message="ask">
						<div class="alertBox alertBox--error">
							<p class="alertBox-message">
								<ul>
									{% for field in form.errors %}
										<li>{{ form.errors.translated_fields[field] | capitalize }} - {{ form.errors.messages[field] }}</li>
									{% endfor %}
								</ul>
							</p>
						</div>
					</div>
				{%- endif -%}
			{%- endform -%}
        </div>
    </div>
</div>