{% comment %}
    List out your main-menu linklist (default)
    More info on linklists:
    - http://docs.shopify.com/themes/liquid-variables/linklists
{% endcomment %}
<ul class="{{ listClass }}{% if block.settings.show_resize_menu %} flex justify-{{ block.settings.align }}{% endif %} list-unstyled" role="list" {% if block.settings.show_resize_menu %} data-resize-menu{% endif %}
    style="--sale-item-color: {{ block.settings.sale_item_color }};
    {% if block.settings.lv_1_font == 'font_1' %}
        --lv-1-font: var(--font-1-family);
    {% elsif block.settings.lv_1_font == 'font_2' %}
        --lv-1-font: var(--font-2-family);
    {% elsif block.settings.lv_1_font == 'font_3' %}
        --lv-1-font: var(--font-3-family);
    {% endif %}
    {% if block.settings.lv_2_font == 'font_1' %}
        --lv-2-font: var(--font-1-family);
    {% elsif block.settings.lv_2_font == 'font_2' %}
        --lv-2-font: var(--font-2-family);
    {% elsif block.settings.lv_2_font == 'font_3' %}
        --lv-2-font: var(--font-3-family);
    {% endif %}
    {% if block.settings.lv_2_mega_font == 'font_1' %}
        --lv-2-mega-font: var(--font-1-family);
    {% elsif block.settings.lv_2_mega_font == 'font_2' %}
        --lv-2-mega-font: var(--font-2-family);
    {% elsif block.settings.lv_2_mega_font == 'font_3' %}
        --lv-2-mega-font: var(--font-3-family);
    {% endif %}
    --lv-1-font-size: {{ block.settings.lv_1_font_size | append: 'px' }};
    --lv-1-font-weight: {{ block.settings.lv_1_font_weight }};
    --lv-1-text-transform: {{ block.settings.lv_1_text_transform }};
    --lv-1-color: {{ block.settings.lv_1_color }};
    --lv-1-color-hover: {{ block.settings.lv_1_color_hover }};
    --lv-1-color-mobile: {{ block.settings.lv_1_color_mobile }};

    --lv-2-font-size: {{ block.settings.lv_2_font_size | append: 'px' }};
    --lv-2-font-weight: {{ block.settings.lv_2_font_weight }};
    --lv-2-text-transform: {{ block.settings.lv_2_text_transform }};

    --lv-2-mega-font-size: {{ block.settings.lv_2_mega_font_size | append: 'px' }};
    --lv-2-mega-font-weight: {{ block.settings.lv_2_mega_font_weight }};
    --lv-2-mega-text-transform: {{ block.settings.lv_2_mega_text_transform }};
    --lv-2-color: {{ block.settings.lv_2_color }};
    --lv-2-color-hover: {{ block.settings.lv_2_color_hover }};
    --lv-2-color-mobile: {{ block.settings.lv_2_color_mobile }};
    --lv-2-bg: {{ block.settings.lv_2_bg }};
    {% if block.settings.show_label %}
        --new-label-color: {{ block.settings.new_label_color }};
        --new-label-bg: {{ block.settings.new_label_bg }};
        --sale-label-color: {{ block.settings.sale_label_color }};
        --sale-label-bg: {{ block.settings.sale_label_bg }};
        --hot-label-color: {{ block.settings.hot_label_color }};
        --hot-label-bg: {{ block.settings.hot_label_bg }};
    {% endif %}"
>
    {%- liquid
        if section.blocks.size > 0 and block.settings.show_megamenu
            assign megamenu = section.blocks | where: "type", "megamenu"
        endif
        if search.terms != blank and template.suffix == 'ajax_mega_menu'
            assign menu = linklists[search.terms].links
        elsif request.page_type == 'page'
            assign menu_tab = section.blocks | where: "type", "tab"
            assign menu = block.settings.menu.links
            if menu_tab.size > 0
                assign page_handle = page.handle
                for block in menu_tab
                    assign multi_page_handle = pages[block.settings.link].handle
                    if page_handle == multi_page_handle
                        assign menu = linklists[page_handle].links
                    endif
                endfor
            endif
        else
            assign menu = block.settings.menu.links
        endif
    -%}

    {%- for link in menu -%}
        {%- liquid
            assign show_resize_menu = block.settings.show_resize_menu
            assign sale_item_lv1 = block.settings.sale_item_1 | split: "," | strip | downcase | handle
            assign sale_item_lv2 = block.settings.sale_item_2 | split: "," | strip | downcase | handle
            assign sale_item_lv3 = block.settings.sale_item_3 | split: "," | strip | downcase | handle
            assign title = link.title | escape | downcase | handle
            if block.settings.show_label
                assign show_label_blink = block.settings.show_label_blink
                assign new_label_1 = block.settings.new_label_1 | split: "," | strip | downcase | handle
                assign new_label_2 = block.settings.new_label_2 | split: "," | strip | downcase | handle
                assign new_label_3 = block.settings.new_label_3 | split: "," | strip | downcase | handle
                assign sale_label_1 = block.settings.sale_label_1 | split: "," | strip | downcase | handle
                assign sale_label_2 = block.settings.sale_label_2 | split: "," | strip | downcase | handle
                assign sale_label_3 = block.settings.sale_label_3 | split: "," | strip | downcase | handle
                assign hot_label_1 = block.settings.hot_label_1 | split: "," | strip | downcase | handle
                assign hot_label_2 = block.settings.hot_label_2 | split: "," | strip | downcase | handle
                assign hot_label_3 = block.settings.hot_label_3 | split: "," | strip | downcase | handle
            endif
            for menuItem in megamenu
                assign check_menu = false
                assign item = menuItem.settings.item | escape | downcase | handle
                case item
                    when title
                        assign check_menu = true
                        assign column = menuItem.settings.column
                        assign show_custom_text = menuItem.settings.show_custom_text
                        if show_custom_text
                            assign custom_text_title = menuItem.settings.custom_text_title
                            assign custom_text_text = menuItem.settings.custom_text_text
                            assign custom_text_link_text = menuItem.settings.custom_text_link_text
                            assign custom_text_url = menuItem.settings.custom_text_url
                        endif
                        assign show_banner = menuItem.settings.show_banner
                        assign image_border_radius = settings.image_border_radius
                        assign image_effect = settings.image_effect
                        if show_banner
                            assign banner_width = menuItem.settings.banner_width
                            assign show_banner_1 = menuItem.settings.show_banner_1
                            if show_banner_1
                                assign banner_1 = menuItem.settings.banner_1
                                assign banner_title_1 = menuItem.settings.banner_title_1
                                assign banner_text_1 = menuItem.settings.banner_text_1
                                assign banner_url_1 = menuItem.settings.banner_url_1
                            endif
                            assign show_banner_2 = menuItem.settings.show_banner_2
                            if show_banner_2
                                assign banner_2 = menuItem.settings.banner_2
                                assign banner_title_2 = menuItem.settings.banner_title_2
                                assign banner_text_2 = menuItem.settings.banner_text_2
                                assign banner_url_2 = menuItem.settings.banner_url_2
                            endif
                            assign show_banner_3 = menuItem.settings.show_banner_3
                            if show_banner_3
                                assign banner_3 = menuItem.settings.banner_3
                                assign banner_title_3 = menuItem.settings.banner_title_3
                                assign banner_text_3 = menuItem.settings.banner_text_3
                                assign banner_url_3 = menuItem.settings.banner_url_3
                            endif
                            assign show_banner_4 = menuItem.settings.show_banner_4
                            if show_banner_4
                                assign banner_4 = menuItem.settings.banner_4
                                assign banner_title_4 = menuItem.settings.banner_title_4
                                assign banner_text_4 = menuItem.settings.banner_text_4
                                assign banner_url_4 = menuItem.settings.banner_url_4
                            endif
                            assign heading_font = menuItem.settings.heading_font
                            assign heading_font_size = menuItem.settings.heading_font_size
                            assign heading_font_weight = menuItem.settings.heading_font_weight
                            assign heading_text_transform = menuItem.settings.heading_text_transform
                            assign heading_color = menuItem.settings.heading_color
                            assign link_font = menuItem.settings.link_font
                            assign link_font_size = menuItem.settings.link_font_size
                            assign link_font_weight = menuItem.settings.link_font_weight
                            assign link_text_transform = menuItem.settings.link_text_transform
                            assign link_color = menuItem.settings.link_color
                        endif
                        assign show_az_brand = menuItem.settings.show_az_brand
                        if show_az_brand
                            assign az_brand_title = menuItem.settings.az_brand_title
                            assign az_brand_link_text = menuItem.settings.az_brand_link_text
                            assign az_brand_url = menuItem.settings.az_brand_url
                        endif
                        assign show_product = menuItem.settings.show_product
                        if show_product
                            assign product_title = menuItem.settings.product_title
                            assign product_collection = menuItem.settings.product_collection
                            assign product_limit = menuItem.settings.product_limit
                            assign product_per_row = menuItem.settings.product_per_row
                        endif
                        break
                endcase
            endfor
        -%}
        {%- if check_menu -%}
            {% render 'halo-megamenu'
                link: link,
                title: title,
                show_resize_menu: show_resize_menu,
                sale_item_lv1: sale_item_lv1,
                sale_item_lv2: sale_item_lv2,
                sale_item_lv3: sale_item_lv3,
                show_label_blink: show_label_blink,
                new_label_1: new_label_1,
                new_label_2: new_label_2,
                new_label_3: new_label_3,
                sale_label_1: sale_label_1,
                sale_label_2: sale_label_2,
                sale_label_3: sale_label_3,
                hot_label_1: hot_label_1,
                hot_label_2: hot_label_2,
                hot_label_3: hot_label_3,
                container: container,
                column: column,
                show_custom_text: show_custom_text,
                custom_text_title: custom_text_title,
                custom_text_text: custom_text_text,
                custom_text_link_text: custom_text_link_text,
                custom_text_url: custom_text_url,
                show_banner: show_banner,
                image_border_radius: image_border_radius,
                image_effect: image_effect,
                banner_width: banner_width,
                show_banner_1: show_banner_1,
                banner_1: banner_1,
                banner_title_1: banner_title_1,
                banner_text_1: banner_text_1,
                banner_url_1: banner_url_1,
                show_banner_2: show_banner_2,
                banner_2: banner_2,
                banner_title_2: banner_title_2,
                banner_text_2: banner_text_2,
                banner_url_2: banner_url_2,
                show_banner_3: show_banner_3,
                banner_3: banner_3,
                banner_title_3: banner_title_3,
                banner_text_3: banner_text_3,
                banner_url_3: banner_url_3,
                show_banner_4: show_banner_4,
                banner_4: banner_4,
                banner_title_4: banner_title_4,
                banner_text_4: banner_text_4,
                banner_url_4: banner_url_4,
                heading_font: heading_font,
                heading_font_size: heading_font_size,
                heading_font_weight: heading_font_weight,
                heading_text_transform: heading_text_transform,
                heading_color: heading_color,
                link_font: link_font,
                link_font_size: link_font_size,
                link_font_weight: link_font_weight,
                link_text_transform: link_text_transform,
                link_color: link_color,
                show_az_brand: show_az_brand,
                az_brand_title: az_brand_title,
                az_brand_link_text: az_brand_link_text,
                az_brand_url: az_brand_url,
                show_product: show_product,
                product_title: product_title,
                product_collection: product_collection,
                product_limit: product_limit,
                product_per_row: product_per_row,
                load: load
            %}
        {%- else -%}
            {% render 'halo-dropdownmenu'
                link: link,
                title: title,
                sale_item_lv1: sale_item_lv1,
                sale_item_lv2: sale_item_lv2,
                sale_item_lv3: sale_item_lv3,
                show_label_blink: show_label_blink,
                new_label_1: new_label_1,
                new_label_2: new_label_2,
                new_label_3: new_label_3,
                sale_label_1: sale_label_1,
                sale_label_2: sale_label_2,
                sale_label_3: sale_label_3,
                hot_label_1: hot_label_1,
                hot_label_2: hot_label_2,
                hot_label_3: hot_label_3,
                load: load
            %}
        {%- endif -%}
    {%- endfor -%}
    {%- if block.settings.show_resize_menu -%}
        <li class="menu-lv-item menu-lv-toggle menu-lv-1 text-left no-megamenu visually-hidden" data-menu-lv-toggle>
            <p class="menu-lv-1__action list-menu__item link focus-inset">
                <span class="text">
                    {% render 'icon-more' %}
                </span>
                <span class="icon-dropdown" data-toggle-menu-mb>
                    {% render 'icon-caret-right' %}
                </span>
            </p>
            <div class="menu-lv__dropdownmenu{% if settings.layout == '2' %} menu-lv__dropdownmenu--border{% endif %}">
                <ul class="menu-lv__list list-menu list-unstyled motion-reduce" role="list" data-menu-lv-toggle-content></ul>
            </div>
        </li>
    {%- endif -%}
</ul>