<div id="Cart-Content-Mini">
	{%- liquid
		assign item = cart.items | first
		if settings.show_global_checkbox
            assign has_global_checkbox = false
            assign global_checkbox_show = settings.global_checkbox_show
            if global_checkbox_show == 'all' or global_checkbox_show == 'cart'
                assign has_global_checkbox = true
            endif
        endif
	-%}
	<div class="product-added clearfix" data-json="{{ product | json }}">
        <a class="product-image" href="{{ item.url }}">
        	{% render 'icon-external-link' %}
        	<img srcset="{{ item.image | img_url: '110x' }}" src="{{ item.image | img_url: '90x' }}" alt="{{ item.title | escape }}" sizes="110px" loading="lazy">
        </a>
        <div class="product-info">
            <div class="product-title">
                <a class="title" href="{{ product.url }}">
                	{{ item.product.title }}
                </a>
                <span class="text">{{ 'products.product.add_to_cart_success_message' | t }}</span>
            </div>
            <div class="product-action clearfix">
                <a class="link link-continue" href="javascript:void(0)" onclick="window.location.reload();" role="button">
                    {% render 'icon-stop' %}
                    <span class="text">
                        {{ 'sections.cart.continue_shopping' | t }}
                    </span>
                </a>
                <a class="link link-view-cart"
                    href="{{ routes.cart_url }}"
                >
                    {% render 'icon-cart',
                        icon_cart: '1'
                    %}
                    <span class="text">
                        {{ 'sections.cart.view_cart' | t }}
                    </span>
                </a>
                {%- unless has_global_checkbox -%}
                    <a class="link link-checkout" href="javascript:void(0)" onclick="window.location='{{ routes.cart_url | split: '/cart' | first }}/checkout'" role="button">
                        {% render 'icon-money-check' %}
                        <span class="text">
                            {{ 'sections.cart.checkout' | t }}
                        </span>
                    </a>
                {%- endunless -%}
            </div>
        </div>
    </div>
</div>