{%- liquid
  assign padding_top = block.settings.padding_top
  assign padding_bottom = block.settings.padding_bottom
  assign heading_1_empty = false
  assign heading_2_empty = false
  assign heading_3_empty = false
  assign text_only_all_items = true

  if block.settings.heading_1 == empty
    assign heading_1_empty = true
  endif

  if block.settings.heading_2 == empty
    assign heading_2_empty = true
  endif

  if block.settings.heading_3 == empty
    assign heading_3_empty = true
  endif

  if heading_1_empty == false and block.settings.icon_1 != 'none' or block.settings.image_1 != null
    assign text_only_all_items = false
  elsif heading_2_empty == false and block.settings.icon_2 != 'none' or block.settings.image_2 != null
    assign text_only_all_items = false
  elsif heading_3_empty == false and block.settings.icon_3 != 'none' or block.settings.image_3 != null
    assign text_only_all_items = false
  endif

  assign link_1 = block.settings.link_1
  assign link_2 = block.settings.link_2
  assign link_3 = block.settings.link_3
-%}
<ul class="productView-icon-with-text icon-with-text icon-with-text--{{ block.settings.layout }} list-unstyled{% if text_only_all_items %} icon-with-text--text-only{% endif %} element-spacing" 
  {{ block.shopify_attributes }}
  style="--spacing-top: {{ padding_top | append: 'px' }};
        --spacing-bottom: {{ padding_bottom | append: 'px' }};
        --spacing-top-mobile: {{ padding_top | times: 0.5 | round: 0 | append: 'px' }};
        --spacing-bottom-mobile: {{ padding_bottom | times: 0.5 | round: 0 | append: 'px' }};
        --spacing-top-tablet: {{ padding_top | times: 0.75 | round: 0 | append: 'px' }};
        --spacing-bottom-tablet: {{ padding_bottom | times: 0.75 | round: 0 | append: 'px' }};"
>
  {%- unless heading_1_empty -%}
    <li class="icon-with-text__item" role="button">
      {%- if link_1 -%}
        <a href="{{ link_1 }}" class="item">
      {%- endif -%}
        {%- if block.settings.image_1 == null -%}
          {%- render 'icon-accordion', icon: block.settings.icon_1 -%}
        {%- else -%}
          <img src="{{ block.settings.image_1 | image_url }}" {% if block.settings.image_1.alt != blank %} alt="{{ block.settings.image_1.alt | escape }}" {% else %} role="presentation"{% endif %} height="auto" width="auto" loading="lazy" >
        {%- endif -%}
        <div class="title h4">
          {{- block.settings.heading_1 -}}
        </div>
      {%- if link_1 -%}
        </a>
      {%- endif -%}
    </li>
  {%- endunless -%}
  {%- unless heading_2_empty -%}
    <li class="icon-with-text__item" role="button">
      {%- if link_2 -%}
        <a href="{{ link_2 }}" class="item">
      {%- endif -%}
        {%- if block.settings.image_2 == null -%}
          {% render 'icon-accordion', icon: block.settings.icon_2 -%}
        {%- else -%}
          <img src="{{ block.settings.image_2 | image_url }}"{% if block.settings.image_2.alt != blank %} alt="{{ block.settings.image_2.alt | escape }}"{% else %} role="presentation"{% endif %} height="auto" width="auto" loading="lazy">
        {%- endif -%}
        <div class="title h4">
          {{- block.settings.heading_2 -}}
        </div>
      {%- if link_2 -%}
        </a>
      {%- endif -%}
    </li>
  {%- endunless -%}
  {%- unless heading_3_empty -%}
    <li class="icon-with-text__item" role="button">
      {%- if link_3 -%}
        <a href="{{ link_3 }}" class="item">
      {%- endif -%}
        {%- if block.settings.image_3 == null -%}
          {% render 'icon-accordion', icon: block.settings.icon_3 -%}
        {%- else -%}
          <img src="{{ block.settings.image_3 | image_url }}"{% if block.settings.image_3.alt != blank %} alt="{{ block.settings.image_3.alt | escape }}"{% else %} role="presentation"{% endif %} height="auto" width="auto" loading="lazy">
        {%- endif -%}
        <div class="title h4">
          {{- block.settings.heading_3 -}}
        </div>
      {%- if link_3 -%}
        </a>
      {%- endif -%}
    </li>
  {%- endunless -%}
</ul>
