{%- unless request.design_mode -%}
    {%- if settings.type_preloading_screen == 'icon' -%}
        <preload-screen class="preload-screen pos-fixed top-0 left-0 w-100v h-100v di-flex a-i-center j-c-center gradient o-h e-none no-js-hidden{% if settings.enable_preloading_screen %} di-block{% else %} hidden{% endif %}"
            style="--color-background: {{ settings.preloading_screen_bg }};"
        >
            <span class="loading-bar pos-relative o-h"></span>
        </preload-screen>
    {%- else -%}
        <preload-screen class="preload-screen pos-fixed top-0 left-0 w-100v h-100v di-flex a-i-center j-c-center gradient o-h e-none no-js-hidden{% if settings.enable_preloading_screen %} di-block{% else %} hidden{% endif %}"
            style="--color-background: {{ settings.preloading_screen_bg }};"
        >
            <div class="loading-logo pos-relative o-h">
                {%- if settings.preloading_screen_logo != blank -%}
                    <img 
                        srcset="{{ settings.preloading_screen_logo | img_url: image_size }} 1x, {{ settings.preloading_screen_logo | img_url: image_size, scale: 2 }} 2x"
                        src="{{ settings.preloading_screen_logo | img_url: image_size }}"
                        loading="lazy"
                        class="header__heading-logo"
                        alt="{{ settings.preloading_screen_logo.alt | default: shop.name | escape }}"
                        width="{{ settings.preloading_screen_logo_width | replace: 'px', '' }}"
                        height="{{ settings.preloading_screen_logo.height | replace: 'px', '' }}"
                    >
                {%- else -%}
                    <span class="name">{{ shop.name }}</span>
                {%- endif -%}
            </div>
        </preload-screen>
    {%- endif -%}
{%- endunless -%}