{%- if section.settings.show_fixed_banner -%}
    {%- liquid
        assign padding_top = section.settings.padding_top | append: 'px'
        assign padding_bottom = section.settings.padding_bottom | append: 'px'
        assign padding_top_tablet = section.settings.padding_top_tablet | append: 'px'
        assign padding_bottom_tablet = section.settings.padding_bottom_tablet | append: 'px'
        assign padding_top_mobile = section.settings.padding_top_mobile | append: 'px'
        assign padding_bottom_mobile = section.settings.padding_bottom_mobile | append: 'px'
        assign container = section.settings.container
        assign col = section.settings.col
        assign layout = section.settings.block_layout
        assign block_title = section.settings.block_title
        assign block_text = section.settings.block_text
        assign block_title_align = section.settings.block_title_align
        assign image_border_radius = settings.image_border_radius
        assign image_effect = settings.image_effect
        assign align = section.settings.align
        assign title_color = section.settings.title_color
        assign text_color = section.settings.text_color
        assign title_font = section.settings.title_font
        assign title_font_size = section.settings.title_font_size
        if title_font_size >= 60
            assign title_tablet_font_size = title_font_size | minus: 30 | append: 'px'
            assign title_font_size = title_font_size | append: 'px'
        else
            assign title_tablet_font_size = title_font_size | append: 'px'
            assign title_font_size = title_font_size | append: 'px'
        endif
        assign title_mobile_font_size = section.settings.title_mobile_font_size | append: 'px'
        assign title_font_weight = section.settings.title_font_weight
        assign title_text_transform = section.settings.title_text_transform
        assign text_font_size = section.settings.text_font_size | append: 'px'
        assign text_font_weight = section.settings.text_font_weight
        assign text_text_transform = section.settings.text_text_transform
    -%}
    <div class="halo-block halo-banner fixed-banner fixed-banner-8 halo-block-padding" id="halo-fixed-banner-{{ section.id }}"
        style="--padding-top: {{ padding_top }};
            --padding-bottom: {{ padding_bottom }};
            --padding-top-tablet: {{ padding_top_tablet }};
            --padding-bottom-tablet: {{ padding_bottom_tablet }};
            --padding-top-mobile: {{ padding_top_mobile }};
            --padding-bottom-mobile: {{ padding_bottom_mobile }};
            {% if title_font == 'font_1' %}
                --title-font: var(--font-1-family);
            {% elsif title_font == 'font_2' %}
                --title-font: var(--font-2-family);
            {% elsif title_font == 'font_3' %}
                --title-font: var(--font-3-family);
            {% endif %}
            --title-font-size: {{ title_font_size }};
            --title-tablet-font-size: {{ title_tablet_font_size }};
            --title-mobile-font-size: {{ title_mobile_font_size }};
            --title-font-weight: {{ title_font_weight }};
            --title-text-transform: {{ title_text_transform }};
            --title-color: {{ title_color }};
            --text-color: {{ text_color }};
            --text-font-size: {{ text_font_size }};
            --text-font-weight: {{ text_font_weight }};
            --text-text-transform: {{ text_text_transform }};"
    >
        <div class="container container-{{ container }}">
            {%- if block_title != blank -%}
                <div class="halo-block-header">
                    <h3 class="title text-{{ block_title_align }}">
                        <span class="text">
                            {{ block_title | escape }}
                        </span>
                    </h3>
                    {%- if block_text != blank -%}
                        <span class="desc text-{{ block_title_align }}">
                            {{ block_text }}
                        </span>
                    {%- endif -%}
                </div>
            {%- endif -%}
            <div class="halo-block-content">
                <div class="halo-grid halo-grid--{{ col }} halo-grid--collage column-2 grid-wrapper">
                    {%- liquid
                        assign image_1 = section.settings.image_1
                        assign title_1 = section.settings.title_1
                        assign link_1 = section.settings.link_1
                        assign link_text_1 = section.settings.link_text_1
                        assign image_2 = section.settings.image_2
                        assign title_2 = section.settings.title_2
                        assign link_2 = section.settings.link_2
                        assign link_text_2 = section.settings.link_text_2
                        assign image_3 = section.settings.image_3
                        assign title_3 = section.settings.title_3
                        assign link_3 = section.settings.link_3
                        assign link_text_3 = section.settings.link_text_3
                        assign image_4 = section.settings.image_4
                        assign title_4 = section.settings.title_4
                        assign link_4 = section.settings.link_4
                        assign link_text_4 = section.settings.link_text_4
                        assign image_5 = section.settings.image_5
                        assign title_5 = section.settings.title_5
                        assign link_5 = section.settings.link_5
                        assign link_text_5 = section.settings.link_text_5
                        assign image_6 = section.settings.image_6
                        assign title_6 = section.settings.title_6
                        assign link_6 = section.settings.link_6
                        assign link_text_6 = section.settings.link_text_6
                    -%}
                    <div class="halo-grid-item halo-grid-item{{ layout | capitalize }}">
                        {%- if layout == 'left' -%}
                        <div class="halo-grid-row row-1">
                        {%- endif -%}
                            <div class="item item-1">
                                <div class="banner-item">
                                    <div class="img-box">
                                        <loading-banner class="loading-banner">
                                            {%- if image_1 != blank -%}
                                                <{% if link_1 != blank %}a{% else %}div{% endif %} class="image image-{{ image_effect }} image-border-{{ image_border_radius }}" {% if link_1 != blank %} href="{{ link_1 }}"{% endif %} style="padding-top: {{ 1 | divided_by: image_1.aspect_ratio | times: 100 | append: '%' }}">
                                                    <img srcset="{{ image_1 | img_url: 'master' }} 1x, {{ image_1 | img_url: 'master', scale: 2 }} 2x"
                                                        src="{{ image_1 | img_url: 'master' }}"
                                                        loading="lazy"
                                                        alt="{{ image_1.alt | default: shop.name | escape }}">
                                                    {%- if image_effect == 'liquid' -%}
                                                        <span class="hover"></span>
                                                    {%- endif -%}
                                                </{% if link_1 != blank %}a{% else %}div{% endif %}>
                                            {%- else -%}
                                                <div class="image">
                                                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                                                </div>
                                            {%- endif -%}
                                        </loading-banner>
                                    </div>
                                    {%- if title_1 != blank or link_text_1 != blank -%}
                                        <div class="content-box text-{{ align }}">
                                            {%- if title_1 != blank -%}
                                                <h4 class="banner-title typography__mobile typography__tablet typography__desktop">
                                                    <{% if link_1 != blank %}a{% else %}span{% endif %} {% if link_1 != blank %} href="{{ link_1 }}"{% endif %}>
                                                        {{ title_1 | escape }}
                                                    </{% if link_1 != blank %}a{% else %}span{% endif %}>
                                                </h4>
                                            {%- endif -%}
                                            {%- if link_text_1 != blank -%}
                                                <{% if link_1 != blank %}a{% else %}div{% endif %} {% if link_1 != blank %} href="{{ link_1 }}"{% endif %} class="banner-link link link-underline text-underline typography__link">
                                                    <span class="text">{{ link_text_1 | escape }}</span>
                                                </{% if link_1 != blank %}a{% else %}div{% endif %}>
                                            {%- endif -%}
                                        </div>
                                    {%- endif -%}
                                </div>
                            </div>
                        {%- if layout == 'left' -%}
                        </div>
                        <div class="halo-grid-row row-2">
                        {%- endif -%}
                            <div class="item item-2">
                                <div class="banner-item">
                                    <div class="img-box">
                                        <loading-banner class="loading-banner">
                                            {%- if image_2 != blank -%}
                                                <{% if link_2 != blank %}a{% else %}div{% endif %} class="image image-{{ image_effect }} image-border-{{ image_border_radius }}" {% if link_2 != blank %} href="{{ link_2 }}"{% endif %} style="padding-top: {{ 1 | divided_by: image_2.aspect_ratio | times: 100 | append: '%' }}">
                                                    <img srcset="{{ image_2 | img_url: 'master' }} 1x, {{ image_2 | img_url: 'master', scale: 2 }} 2x"
                                                        src="{{ image_2 | img_url: 'master' }}"
                                                        loading="lazy"
                                                        alt="{{ image_2.alt | default: shop.name | escape }}">
                                                    {%- if image_effect == 'liquid' -%}
                                                        <span class="hover"></span>
                                                    {%- endif -%}
                                                </{% if link_2 != blank %}a{% else %}div{% endif %}>
                                            {%- else -%}
                                                <div class="image">
                                                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                                                </div>
                                            {%- endif -%}
                                        </loading-banner>
                                    </div>
                                    {%- if title_2 != blank or link_text_2 != blank -%}
                                        <div class="content-box text-{{ align }}">
                                            {%- if title_2 != blank -%}
                                                <h4 class="banner-title typography__mobile typography__tablet typography__desktop">
                                                    <{% if link_2 != blank %}a{% else %}span{% endif %} {% if link_2 != blank %} href="{{ link_2 }}"{% endif %}>
                                                        {{ title_2 | escape }}
                                                    </{% if link_2 != blank %}a{% else %}span{% endif %}>
                                                </h4>
                                            {%- endif -%}
                                            {%- if link_text_2 != blank -%}
                                                <{% if link_2 != blank %}a{% else %}div{% endif %} {% if link_2 != blank %} href="{{ link_2 }}"{% endif %} class="banner-link link link-underline text-underline typography__link">
                                                    <span class="text">{{ link_text_2 | escape }}</span>
                                                </{% if link_2 != blank %}a{% else %}div{% endif %}>
                                            {%- endif -%}
                                        </div>
                                    {%- endif -%}
                                </div>
                            </div>
                            <div class="item item-3">
                                <div class="banner-item">
                                    <div class="img-box">
                                        <loading-banner class="loading-banner">
                                            {%- if image_3 != blank -%}
                                                <{% if link_3 != blank %}a{% else %}div{% endif %} class="image image-{{ image_effect }} image-border-{{ image_border_radius }}" {% if link_3 != blank %} href="{{ link_3 }}"{% endif %} style="padding-top: {{ 1 | divided_by: image_3.aspect_ratio | times: 100 | append: '%' }}">
                                                    <img srcset="{{ image_3 | img_url: 'master' }} 1x, {{ image_3 | img_url: 'master', scale: 2 }} 2x"
                                                        src="{{ image_3 | img_url: 'master' }}"
                                                        loading="lazy"
                                                        alt="{{ image_3.alt | default: shop.name | escape }}">
                                                    {%- if image_effect == 'liquid' -%}
                                                        <span class="hover"></span>
                                                    {%- endif -%}
                                                </{% if link_3 != blank %}a{% else %}div{% endif %}>
                                            {%- else -%}
                                                <div class="image">
                                                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                                                </div>
                                            {%- endif -%}
                                        </loading-banner>
                                    </div>
                                    {%- if title_3 != blank or link_text_3 != blank -%}
                                        <div class="content-box text-{{ align }}">
                                            {%- if title_3 != blank -%}
                                                <h4 class="banner-title typography__mobile typography__tablet typography__desktop">
                                                    <{% if link_3 != blank %}a{% else %}span{% endif %} {% if link_3 != blank %} href="{{ link_3 }}"{% endif %}>
                                                        {{ title_3 | escape }}
                                                    </{% if link_3 != blank %}a{% else %}span{% endif %}>
                                                </h4>
                                            {%- endif -%}
                                            {%- if link_text_3 != blank -%}
                                                <{% if link_3 != blank %}a{% else %}div{% endif %} {% if link_3 != blank %} href="{{ link_3 }}"{% endif %} class="banner-link link link-underline text-underline typography__link">
                                                    <span class="text">{{ link_text_3 | escape }}</span>
                                                </{% if link_3 != blank %}a{% else %}div{% endif %}>
                                            {%- endif -%}
                                        </div>
                                    {%- endif -%}
                                </div>
                            </div>
                        {%- if layout == 'left' -%}
                        </div>
                        {%- endif -%}
                    </div>
                    <div class="halo-grid-item halo-grid-item{{ layout | capitalize }}">
                        {%- if layout == 'right' -%}
                        <div class="halo-grid-row row-1">
                        {%- endif -%}
                        <div class="item item-4">
                            <div class="banner-item">
                                <div class="img-box">
                                    <loading-banner class="loading-banner">
                                        {%- if image_4 != blank -%}
                                            <{% if link_4 != blank %}a{% else %}div{% endif %} class="image image-{{ image_effect }} image-border-{{ image_border_radius }}" {% if link_4 != blank %} href="{{ link_4 }}"{% endif %} style="padding-top: {{ 1 | divided_by: image_4.aspect_ratio | times: 100 | append: '%' }}">
                                                <img srcset="{{ image_4 | img_url: 'master' }} 1x, {{ image_4 | img_url: 'master', scale: 2 }} 2x"
                                                    src="{{ image_4 | img_url: 'master' }}"
                                                    loading="lazy"
                                                    alt="{{ image_4.alt | default: shop.name | escape }}">
                                                {%- if image_effect == 'liquid' -%}
                                                    <span class="hover"></span>
                                                {%- endif -%}
                                            </{% if link_4 != blank %}a{% else %}div{% endif %}>
                                        {%- else -%}
                                            <div class="image">
                                                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                                            </div>
                                        {%- endif -%}
                                    </loading-banner>
                                </div>
                                {%- if title_4 != blank or link_text_4 != blank -%}
                                    <div class="content-box text-{{ align }}">
                                        {%- if title_4 != blank -%}
                                            <h4 class="banner-title typography__mobile typography__tablet typography__desktop">
                                                <{% if link_4 != blank %}a{% else %}span{% endif %} {% if link_4 != blank %} href="{{ link_4 }}"{% endif %}>
                                                    {{ title_4 | escape }}
                                                </{% if link_4 != blank %}a{% else %}span{% endif %}>
                                            </h4>
                                        {%- endif -%}
                                        {%- if link_text_4 != blank -%}
                                            <{% if link_4 != blank %}a{% else %}div{% endif %} {% if link_4 != blank %} href="{{ link_4 }}"{% endif %} class="banner-link link link-underline text-underline typography__link">
                                                <span class="text">{{ link_text_4 | escape }}</span>
                                            </{% if link_4 != blank %}a{% else %}div{% endif %}>
                                        {%- endif -%}
                                    </div>
                                {%- endif -%}
                            </div>
                        </div>
                        {%- if layout == 'right' -%}
                        </div>
                        <div class="halo-grid-row row-2">
                        {%- endif -%}
                        <div class="item item-5">
                            <div class="banner-item">
                                <div class="img-box">
                                    <loading-banner class="loading-banner">
                                        {%- if image_5 != blank -%}
                                            <{% if link_5 != blank %}a{% else %}div{% endif %} class="image image-{{ image_effect }} image-border-{{ image_border_radius }}" {% if link_5 != blank %} href="{{ link_5 }}"{% endif %} style="padding-top: {{ 1 | divided_by: image_5.aspect_ratio | times: 100 | append: '%' }}">
                                                <img srcset="{{ image_5 | img_url: 'master' }} 1x, {{ image_5 | img_url: 'master', scale: 2 }} 2x"
                                                    src="{{ image_5 | img_url: 'master' }}"
                                                    loading="lazy"
                                                    alt="{{ image_5.alt | default: shop.name | escape }}">
                                                {%- if image_effect == 'liquid' -%}
                                                    <span class="hover"></span>
                                                {%- endif -%}
                                            </{% if link_5 != blank %}a{% else %}div{% endif %}>
                                        {%- else -%}
                                            <div class="image">
                                                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                                            </div>
                                        {%- endif -%}
                                    </loading-banner>
                                </div>
                                {%- if title_5 != blank or link_text_5 != blank -%}
                                    <div class="content-box text-{{ align }}">
                                        {%- if title_5 != blank -%}
                                            <h4 class="banner-title typography__mobile typography__tablet typography__desktop">
                                                <{% if link_5 != blank %}a{% else %}span{% endif %} {% if link_5 != blank %} href="{{ link_5 }}"{% endif %}>
                                                    {{ title_5 | escape }}
                                                </{% if link_5 != blank %}a{% else %}span{% endif %}>
                                            </h4>
                                        {%- endif -%}
                                        {%- if link_text_5 != blank -%}
                                            <{% if link_5 != blank %}a{% else %}div{% endif %} {% if link_5 != blank %} href="{{ link_5 }}"{% endif %} class="banner-link link link-underline text-underline typography__link">
                                                <span class="text">{{ link_text_5 | escape }}</span>
                                            </{% if link_5 != blank %}a{% else %}div{% endif %}>
                                        {%- endif -%}
                                    </div>
                                {%- endif -%}
                            </div>
                        </div>
                        <div class="item item-6">
                            <div class="banner-item">
                                <div class="img-box">
                                    <loading-banner class="loading-banner">
                                        {%- if image_6 != blank -%}
                                            <{% if link_6 != blank %}a{% else %}div{% endif %} class="image image-{{ image_effect }} image-border-{{ image_border_radius }}" {% if link_6 != blank %} href="{{ link_6 }}"{% endif %} style="padding-top: {{ 1 | divided_by: image_6.aspect_ratio | times: 100 | append: '%' }}">
                                                <img srcset="{{ image_6 | img_url: 'master' }} 1x, {{ image_6 | img_url: 'master', scale: 2 }} 2x"
                                                    src="{{ image_6 | img_url: 'master' }}"
                                                    loading="lazy"
                                                    alt="{{ image_6.alt | default: shop.name | escape }}">
                                                {%- if image_effect == 'liquid' -%}
                                                    <span class="hover"></span>
                                                {%- endif -%}
                                            </{% if link_5 != blank %}a{% else %}div{% endif %}>
                                        {%- else -%}
                                            <div class="image">
                                                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                                            </div>
                                        {%- endif -%}
                                    </loading-banner>
                                </div>
                                {%- if title_6 != blank or link_text_6 != blank -%}
                                    <div class="content-box text-{{ align }}">
                                        {%- if title_6 != blank -%}
                                            <h4 class="banner-title typography__mobile typography__tablet typography__desktop">
                                                <{% if link_6 != blank %}a{% else %}span{% endif %} {% if link_6 != blank %} href="{{ link_6 }}"{% endif %}>
                                                    {{ title_6 | escape }}
                                                </{% if link_6 != blank %}a{% else %}span{% endif %}>
                                            </h4>
                                        {%- endif -%}
                                        {%- if link_text_6 != blank -%}
                                            <{% if link_6 != blank %}a{% else %}div{% endif %} {% if link_6 != blank %} href="{{ link_6 }}"{% endif %} class="banner-link link link-underline text-underline typography__link">
                                                <span class="text">{{ link_text_6 | escape }}</span>
                                            </{% if link_6 != blank %}a{% else %}div{% endif %}>
                                        {%- endif -%}
                                    </div>
                                {%- endif -%}
                            </div>
                        </div>
                        {%- if layout == 'right' -%}
                        </div>
                        {%- endif -%}
                    </div>
                </div>
            </div>
        </div>
    </div>
{%- endif -%}
{% schema %}
    {
        "name": "t:sections.fixed-banner-8.name",
        "settings": [
            {
                "type": "header",
                "content": "t:sections.fixed-banner-8.settings.header__1.content"
            },
            {
                "type": "checkbox",
                "id": "show_fixed_banner",
                "label": "t:sections.fixed-banner-8.settings.general.label__1",
                "default": true
            },
            {
                "type": "select",
                "id": "container",
                "label": "t:sections.general.settings.container.label__1",
                "default": "1770",
                "options": [
                {
                    "value": "1170",
                    "label": "t:sections.general.settings.container.options__1"
                },
                {
                    "value": "1370",
                    "label": "t:sections.general.settings.container.options__2"
                },
                {
                    "value": "1570",
                    "label": "t:sections.general.settings.container.options__3"
                },
                {
                    "value": "1770",
                    "label": "t:sections.general.settings.container.options__4"
                },
                {
                    "value": "1860",
                    "label": "t:sections.general.settings.container.options__5"
                },
                {
                    "value": "full",
                    "label": "t:sections.general.settings.container.options__6"
                }],
                "info": "t:sections.general.settings.container.info"
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.padding.paragraph__1.content"
            },
            {
                "type": "range",
                "id": "padding_top",
                "label": "t:sections.general.settings.padding.label__1",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 0
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "label": "t:sections.general.settings.padding.label__2",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 0
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.padding.paragraph__2.content"
            },
            {
                "type": "range",
                "id": "padding_top_tablet",
                "label": "t:sections.general.settings.padding.label__1",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 40
            },
            {
                "type": "range",
                "id": "padding_bottom_tablet",
                "label": "t:sections.general.settings.padding.label__2",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 40
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.padding.paragraph__3.content"
            },
            {
                "type": "range",
                "id": "padding_top_mobile",
                "label": "t:sections.general.settings.padding.label__1",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 30
            },
            {
                "type": "range",
                "id": "padding_bottom_mobile",
                "label": "t:sections.general.settings.padding.label__2",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 30
            },
            {
                "type": "text",
                "id": "block_title",
                "label": "t:sections.general.settings.block-title.label__1",
                "default": "Top Categories"
            },
            {
                "type": "text",
                "id": "block_text",
                "label": "t:sections.general.settings.block-title.label__2",
                "default": "Give customers details about the banner image(s) or content on the template."
            },
            {
                "type": "select",
                "id": "block_title_align",
                "label": "t:sections.general.settings.block-title.label__3",
                "options": [
                {
                    "value": "left",
                    "label": "t:sections.general.settings.block-title.options__1"
                },
                {
                    "value": "center",
                    "label": "t:sections.general.settings.block-title.options__2"
                },
                {
                    "value": "right",
                    "label": "t:sections.general.settings.block-title.options__3"
                }],
                "default": "center"
            },
            {
                "type": "select",
                "id": "block_layout",
                "label": "t:sections.general.settings.block-layout.label__1",
                "options": [
                {
                    "value": "left",
                    "label": "t:sections.general.settings.block-layout.options__6"
                },
                {
                    "value": "right",
                    "label": "t:sections.general.settings.block-layout.options__7"
                }],
                "default": "left"
            },
            {
                "type": "select",
                "id": "col",
                "label": "t:sections.general.settings.column.label__1",
                "default": "wide",
                "options": [
                {
                    "value": "strait",
                    "label": "t:sections.general.settings.column.options__3"
                },
                {
                    "value": "narrow",
                    "label": "t:sections.general.settings.column.options__2"
                },
                {
                    "value": "wide",
                    "label": "t:sections.general.settings.column.options__1"
                }]
            },
            {
                "type": "header",
                "content": "t:sections.fixed-banner-8.settings.header__2.content"
            },
            {
                "type": "select",
                "id": "align",
                "label": "t:sections.general.settings.aligmnent.label__1",
                "options": [
                {
                    "value": "left",
                    "label": "t:sections.general.settings.aligmnent.options__1"
                },
                {
                    "value": "center",
                    "label": "t:sections.general.settings.aligmnent.options__2"
                },
                {
                    "value": "right",
                    "label": "t:sections.general.settings.aligmnent.options__3"
                }],
                "default": "center"
            },
            {
                "type": "paragraph",
                "content": "t:sections.fixed-banner-8.settings.banner.paragraph__1.content"
            },
            {
                "type": "image_picker",
                "id": "image_1",
                "label": "t:sections.general.settings.image.label__1"
            },
            {
                "type": "text",
                "id": "title_1",
                "label": "t:sections.general.settings.content.label__1",
                "default": "Heading"
            },
            {
                "type": "text",
                "id": "link_text_1",
                "label": "t:sections.general.settings.content.label__5"
            },
            {
                "type": "url",
                "id": "link_1",
                "label": "t:sections.general.settings.content.label__6",
                "info": "t:sections.general.settings.content.info__1"
            },
            {
                "type": "paragraph",
                "content": "t:sections.fixed-banner-8.settings.banner.paragraph__2.content"
            },
            {
                "type": "image_picker",
                "id": "image_2",
                "label": "t:sections.general.settings.image.label__1"
            },
            {
                "type": "text",
                "id": "title_2",
                "label": "t:sections.general.settings.content.label__1",
                "default": "Heading"
            },
            {
                "type": "text",
                "id": "link_text_2",
                "label": "t:sections.general.settings.content.label__5"
            },
            {
                "type": "url",
                "id": "link_2",
                "label": "t:sections.general.settings.content.label__6",
                "info": "t:sections.general.settings.content.info__1"
            },
            {
                "type": "paragraph",
                "content": "t:sections.fixed-banner-8.settings.banner.paragraph__3.content"
            },
            {
                "type": "image_picker",
                "id": "image_3",
                "label": "t:sections.general.settings.image.label__1"
            },
            {
                "type": "text",
                "id": "title_3",
                "label": "t:sections.general.settings.content.label__1",
                "default": "Heading"
            },
            {
                "type": "text",
                "id": "link_text_3",
                "label": "t:sections.general.settings.content.label__5"
            },
            {
                "type": "url",
                "id": "link_3",
                "label": "t:sections.general.settings.content.label__6",
                "info": "t:sections.general.settings.content.info__1"
            },
            {
                "type": "paragraph",
                "content": "t:sections.fixed-banner-8.settings.banner.paragraph__4.content"
            },
            {
                "type": "image_picker",
                "id": "image_4",
                "label": "t:sections.general.settings.image.label__1"
            },
            {
                "type": "text",
                "id": "title_4",
                "label": "t:sections.general.settings.content.label__1",
                "default": "Heading"
            },
            {
                "type": "text",
                "id": "link_text_4",
                "label": "t:sections.general.settings.content.label__5"
            },
            {
                "type": "url",
                "id": "link_4",
                "label": "t:sections.general.settings.content.label__6",
                "info": "t:sections.general.settings.content.info__1"
            },
            {
                "type": "paragraph",
                "content": "t:sections.fixed-banner-8.settings.banner.paragraph__5.content"
            },
            {
                "type": "image_picker",
                "id": "image_5",
                "label": "t:sections.general.settings.image.label__1"
            },
            {
                "type": "text",
                "id": "title_5",
                "label": "t:sections.general.settings.content.label__1",
                "default": "Heading"
            },
            {
                "type": "text",
                "id": "link_text_5",
                "label": "t:sections.general.settings.content.label__5"
            },
            {
                "type": "url",
                "id": "link_5",
                "label": "t:sections.general.settings.content.label__6",
                "info": "t:sections.general.settings.content.info__1"
            },
            {
                "type": "paragraph",
                "content": "t:sections.fixed-banner-8.settings.banner.paragraph__6.content"
            },
            {
                "type": "image_picker",
                "id": "image_6",
                "label": "t:sections.general.settings.image.label__1"
            },
            {
                "type": "text",
                "id": "title_6",
                "label": "t:sections.general.settings.content.label__1",
                "default": "Heading"
            },
            {
                "type": "text",
                "id": "link_text_6",
                "label": "t:sections.general.settings.content.label__5"
            },
            {
                "type": "url",
                "id": "link_6",
                "label": "t:sections.general.settings.content.label__6",
                "info": "t:sections.general.settings.content.info__1"
            },
            {
                "type": "header",
                "content": "t:sections.fixed-banner-8.settings.header__3.content"
            },
            {
                "type": "color",
                "id": "text_color",
                "label": "t:sections.general.settings.color.label__2",
                "default": "#202020"
            },
            {
                "type": "color",
                "id": "title_color",
                "label": "t:sections.general.settings.color.label__7",
                "default": "#202020"
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.typography.paragraph__1.content"
            },
            {
                "type": "select",
                "id": "title_font",
                "label": "t:settings_schema.typography.settings.font.label",
                "options": [
                {
                    "value": "font_1",
                    "label": "t:settings_schema.typography.settings.font.options__1"
                },
                {
                    "value": "font_2",
                    "label": "t:settings_schema.typography.settings.font.options__2"
                },
                {
                    "value": "font_3",
                    "label": "t:settings_schema.typography.settings.font.options__3"
                }],
                "default": "font_1"
            },
            {
                "type": "range",
                "id": "title_font_size",
                "label": "t:settings_schema.typography.settings.font_size.label",
                "min": 10,
                "max": 80,
                "step": 1,
                "unit": "t:settings_schema.typography.settings.font_size.unit",
                "default": 40
            },
            {
                "type": "range",
                "id": "title_mobile_font_size",
                "label": "t:settings_schema.typography.settings.font_size.label__2",
                "min": 10,
                "max": 40,
                "step": 1,
                "unit": "t:settings_schema.typography.settings.font_size.unit",
                "default": 30
            },
            {
                "type": "select",
                "id": "title_font_weight",
                "label": "t:settings_schema.typography.settings.font_weight.label",
                "default": "700",
                "options": [
                {
                    "value": "400",
                    "label": "t:settings_schema.typography.settings.font_weight.options__1"
                },
                {
                    "value": "500",
                    "label": "t:settings_schema.typography.settings.font_weight.options__2"
                },
                {
                    "value": "600",
                    "label": "t:settings_schema.typography.settings.font_weight.options__3"
                },
                {
                    "value": "700",
                    "label": "t:settings_schema.typography.settings.font_weight.options__4"
                },
                {
                    "value": "800",
                    "label": "t:settings_schema.typography.settings.font_weight.options__5"
                },
                {
                    "value": "900",
                    "label": "t:settings_schema.typography.settings.font_weight.options__6"
                }]
            },
            {
                "type": "select",
                "id": "title_text_transform",
                "label": "t:settings_schema.typography.settings.text_transform.label",
                "default": "capitalize",
                "options": [
                {
                    "value": "none",
                    "label": "t:settings_schema.typography.settings.text_transform.options__1"
                },
                {
                    "value": "capitalize",
                    "label": "t:settings_schema.typography.settings.text_transform.options__2"
                },
                {
                    "value": "uppercase",
                    "label": "t:settings_schema.typography.settings.text_transform.options__3"
                },
                {
                    "value": "lowercase",
                    "label": "t:settings_schema.typography.settings.text_transform.options__4"
                }]
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.typography.paragraph__2.content"
            },
            {
                "type": "range",
                "id": "text_font_size",
                "label": "t:settings_schema.typography.settings.font_size.label",
                "min": 10,
                "max": 30,
                "step": 1,
                "unit": "t:settings_schema.typography.settings.font_size.unit",
                "default": 15
            },
            {
                "type": "select",
                "id": "text_font_weight",
                "label": "t:settings_schema.typography.settings.font_weight.label",
                "default": "400",
                "options": [
                {
                    "value": "400",
                    "label": "t:settings_schema.typography.settings.font_weight.options__1"
                },
                {
                    "value": "500",
                    "label": "t:settings_schema.typography.settings.font_weight.options__2"
                },
                {
                    "value": "600",
                    "label": "t:settings_schema.typography.settings.font_weight.options__3"
                },
                {
                    "value": "700",
                    "label": "t:settings_schema.typography.settings.font_weight.options__4"
                },
                {
                    "value": "800",
                    "label": "t:settings_schema.typography.settings.font_weight.options__5"
                },
                {
                    "value": "900",
                    "label": "t:settings_schema.typography.settings.font_weight.options__6"
                }]
            },
            {
                "type": "select",
                "id": "text_text_transform",
                "label": "t:settings_schema.typography.settings.text_transform.label",
                "default": "none",
                "options": [
                {
                    "value": "none",
                    "label": "t:settings_schema.typography.settings.text_transform.options__1"
                },
                {
                    "value": "capitalize",
                    "label": "t:settings_schema.typography.settings.text_transform.options__2"
                },
                {
                    "value": "uppercase",
                    "label": "t:settings_schema.typography.settings.text_transform.options__3"
                },
                {
                    "value": "lowercase",
                    "label": "t:settings_schema.typography.settings.text_transform.options__4"
                }]
            }
        ],
        "presets": [
            {
                "name": "t:sections.fixed-banner-8.presets.name"
            }
        ],
        "disabled_on": {
            "groups": ["header", "footer"]
        }
    }
{% endschema %}