{%- if request.design_mode -%}
	<style type="text/css" media="screen">
        {% render 'variable' %}
        {% render 'global' %}
    </style>
    {{ 'base.css' | asset_url | stylesheet_tag }}
    {%- if settings.select_layout and enable_iso_rtl -%}
        {{ 'rtl-base.css' | asset_url | stylesheet_tag }}
    {%- endif -%}
    {%- unless settings.type_font_1_shopify_name.system? -%}
        <link rel="preload" as="font" href="{{ settings.type_font_1_shopify_name | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_font_2_shopify_name.system? -%}
        <link rel="preload" as="font" href="{{ settings.type_font_2_shopify_name | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_font_3_shopify_name.system? -%}
        <link rel="preload" as="font" href="{{ settings.type_font_3_shopify_name | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {{ 'custom.css' | asset_url | stylesheet_tag }}
    {% render 'global-style' %}
	{{ 'component-product.css' | asset_url | stylesheet_tag }}
	{{ 'component-review.css' | asset_url | stylesheet_tag }}
	{{ 'component-price.css' | asset_url | stylesheet_tag }}
	{{ 'component-badge.css' | asset_url | stylesheet_tag }}
	{{ 'component-rte.css' | asset_url | stylesheet_tag }}
	{{ 'component-product-form.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{% render 'halo-quick-view',
	section: section,
	product: product
%}

{% schema %}
{
	"name": "t:sections.main-product.name",
	"settings": [
	{
        "type": "header",
        "content": "t:sections.main-product.settings.header__1.content"
    },
    {
        "type": "select",
        "id": "thumnail_layout",
        "label": "t:sections.main-product.settings.general.label__1",
        "default": "1",
        "options": [
        {
            "value": "1",
            "label": "t:sections.main-product.settings.general.options__1"
        },
        {
            "value": "2",
            "label": "t:sections.main-product.settings.general.options__2"
        },
        {
            "value": "3",
            "label": "t:sections.main-product.settings.general.options__3"
        },
        {
            "value": "4",
            "label": "t:sections.main-product.settings.general.options__4"
        }]
    },
    {
        "type": "checkbox",
        "id": "show_arrow_main_image",
        "label": "t:sections.main-product.settings.general.label__3",
        "default": false
    },
    {
        "type": "checkbox",
        "id": "show_dot_main_image",
        "label": "t:sections.main-product.settings.general.label__5",
        "default": false
    },
    {
        "type": "header",
        "content": "t:sections.main-product.settings.header__2.content",
        "info": "t:sections.main-product.settings.header__2.info"
    },
    {
        "type": "select",
        "id": "product_image_ratio",
        "label": "t:sections.general.settings.image-ratio.label__1",
        "default": "portrait",
        "options": [
        {
            "value": "adapt",
            "label": "t:sections.general.settings.image-ratio.options__1"
        },
        {
            "value": "portrait",
            "label": "t:sections.general.settings.image-ratio.options__2"
        },
        {
            "value": "square",
            "label": "t:sections.general.settings.image-ratio.options__3"
        }]
    },
    {
        "type": "range",
        "id": "portrait_aspect_ratio",
        "label": "t:sections.general.settings.image-ratio.label__2",
        "min": 101,
        "max": 150,
        "step": 1,
        "unit": "t:sections.general.settings.image-ratio.unit",
        "default": 148,
        "info": "t:sections.general.settings.image-ratio.info"
    },
    {
        "type": "checkbox",
        "id": "zoomed_image",
        "label": "t:sections.main-product.settings.media.label__1",
        "default": true
    },
    {
        "type": "select",
        "id": "product_image_object_fit",
        "label": "t:sections.main-product.settings.media.label__2",
        "default": "cover",
        "options": [
        {
            "value": "none",
            "label": "t:sections.main-product.settings.media.options__1"
        },
        {
            "value": "fill",
            "label": "t:sections.main-product.settings.media.options__2"
        },
        {
            "value": "contain",
            "label": "t:sections.main-product.settings.media.options__3"
        },
        {
            "value": "cover",
            "label": "t:sections.main-product.settings.media.options__4"
        },
        {
            "value": "scale-down",
            "label": "t:sections.main-product.settings.media.options__5"
        }]
    },
    {
        "type": "select",
        "id": "product_image_popup",
        "label": "t:sections.main-product.settings.media.label__3",
        "default": "fancybox",
        "options": [
        {
            "value": "none",
            "label": "t:sections.main-product.settings.media.options__1"
        },
        {
            "value": "fancybox",
            "label": "t:sections.main-product.settings.media.options__7"
        }]
	},
	{
        "type": "header",
        "content": "t:sections.main-product.settings.header__3.content"
    },
    {
        "type": "checkbox",
        "id": "show_badge",
        "label": "t:sections.main-product.settings.badge.label__1",
        "default": true
    },
    {
        "type": "header",
        "content": "t:sections.main-product.settings.header__4.content"
    },
    {
        "type": "checkbox",
        "id": "show_variant_image_group",
        "label": "t:sections.main-product.settings.variant.label__1",
        "default": false
    },
    {
        "type": "header",
        "content": "t:sections.main-product.settings.header__5.content"
    },
    {
        "type": "select",
        "id": "add_to_cart_font",
        "label": "t:settings_schema.typography.settings.font.label",
        "default": "font_1",
        "options": [
        {
            "value": "font_1",
            "label": "t:settings_schema.typography.settings.font.options__1"
        },
        {
            "value": "font_2",
            "label": "t:settings_schema.typography.settings.font.options__2"
        },
        {
            "value": "font_3",
            "label": "t:settings_schema.typography.settings.font.options__3"
        }]
    },
    {
        "type": "range",
        "id": "add_to_cart_font_size",
        "label": "t:settings_schema.typography.settings.font_size.label",
        "min": 10,
        "max": 20,
        "step": 1,
        "unit": "t:settings_schema.typography.settings.font_size.unit",
        "default": 16
    },
    {
        "type": "select",
        "id": "add_to_cart_font_weight",
        "label": "t:settings_schema.typography.settings.font_weight.label",
        "default": "700",
        "options": [
        {
            "value": "400",
            "label": "t:settings_schema.typography.settings.font_weight.options__1"
        },
        {
            "value": "500",
            "label": "t:settings_schema.typography.settings.font_weight.options__2"
        },
        {
            "value": "600",
            "label": "t:settings_schema.typography.settings.font_weight.options__3"
        },
        {
            "value": "700",
            "label": "t:settings_schema.typography.settings.font_weight.options__4"
        },
        {
            "value": "800",
            "label": "t:settings_schema.typography.settings.font_weight.options__5"
        },
        {
            "value": "900",
            "label": "t:settings_schema.typography.settings.font_weight.options__6"
        }]
    },
    {
        "type": "select",
        "id": "add_to_cart_text_transform",
        "label": "t:settings_schema.typography.settings.text_transform.label",
        "default": "uppercase",
        "options": [
        {
            "value": "none",
            "label": "t:settings_schema.typography.settings.text_transform.options__1"
        },
        {
            "value": "capitalize",
            "label": "t:settings_schema.typography.settings.text_transform.options__2"
        },
        {
            "value": "uppercase",
            "label": "t:settings_schema.typography.settings.text_transform.options__3"
        },
        {
            "value": "lowercase",
            "label": "t:settings_schema.typography.settings.text_transform.options__4"
        }]
    },
    {
        "type": "paragraph",
        "content": "t:sections.general.settings.color.paragraph__1.content"
    },
    {
        "type": "color_background",
        "id": "add_to_cart_bg",
        "label": "t:sections.general.settings.color.label__1",
        "default": "#000000"
    },
    {
        "type": "color",
        "id": "add_to_cart_color",
        "label": "t:sections.general.settings.color.label__2",
        "default": "#FFFFFF"
    },
    {
        "type": "color",
        "id": "add_to_cart_border",
        "label": "t:sections.general.settings.color.label__5",
        "default": "#000000"
    },
    {
        "type": "paragraph",
        "content": "t:sections.general.settings.color.paragraph__2.content"
    },
    {
        "type": "color_background",
        "id": "add_to_cart_bg_hover",
        "label": "t:sections.general.settings.color.label__1",
        "default": "#D12442"
    },
    {
        "type": "color",
        "id": "add_to_cart_color_hover",
        "label": "t:sections.general.settings.color.label__2",
        "default": "#FFFFFF"
    },
    {
        "type": "color",
        "id": "add_to_cart_border_hover",
        "label": "t:sections.general.settings.color.label__5",
        "default": "#D12442"
    },
    {
        "type": "checkbox",
        "id": "use_available_button_style",
        "label": "t:settings_schema.buttons.settings.button.label__15",
        "default": false
    },
    {
        "type": "select",
        "id": "btn",
        "label": "t:sections.general.settings.button.label__1",
        "default": "1",
        "options": [
        {
            "value": "1",
            "label": "t:sections.general.settings.button.options__1"
        },
        {
            "value": "2",
            "label": "t:sections.general.settings.button.options__2"
        },
        {
            "value": "3",
            "label": "t:sections.general.settings.button.options__3"
        },
        {
            "value": "4",
            "label": "t:sections.general.settings.button.options__4"
        },
        {
            "value": "5",
            "label": "t:sections.general.settings.button.options__5"
        },
        {
            "value": "6",
            "label": "t:sections.general.settings.button.options__9"
        },
        {
            "value": "7",
            "label": "t:sections.general.settings.button.options__10"
        },
        {
            "value": "8",
            "label": "t:sections.general.settings.button.options__11"
        }]
    },
    {
        "type": "header",
        "content": "t:sections.main-product.settings.header__6.content"
    },
    {
        "type": "paragraph",
        "content": "t:sections.general.settings.color.paragraph__1.content"
    },
    {
        "type": "color_background",
        "id": "buy_it_now_bg",
        "label": "t:sections.general.settings.color.label__1",
        "default": "#E5E5E5"
    },
    {
        "type": "color",
        "id": "buy_it_now_color",
        "label": "t:sections.general.settings.color.label__2",
        "default": "#000000"
    },
    {
        "type": "color",
        "id": "buy_it_now_border",
        "label": "t:sections.general.settings.color.label__5",
        "default": "#E5E5E5"
    },
    {
        "type": "paragraph",
        "content": "t:sections.general.settings.color.paragraph__2.content"
    },
    {
        "type": "color_background",
        "id": "buy_it_now_bg_hover",
        "label": "t:sections.general.settings.color.label__1",
        "default": "#D12442"
    },
    {
        "type": "color",
        "id": "buy_it_now_color_hover",
        "label": "t:sections.general.settings.color.label__2",
        "default": "#FFFFFF"
    },
    {
        "type": "color",
        "id": "buy_it_now_border_hover",
        "label": "t:sections.general.settings.color.label__5",
        "default": "#D12442"
    },
    {
        "type": "header",
        "content": "t:sections.main-product.settings.header__7.content"
    },
    {
        "type": "range",
        "id": "wishlist_border_radius",
        "label": "t:settings_schema.buttons.settings.button.label__3",
        "max": 50,
        "min": 0,
        "step": 1,
        "unit": "t:sections.general.settings.padding.unit",
        "default": 0
    },
    {
        "type": "paragraph",
        "content": "t:sections.general.settings.color.paragraph__1.content"
    },
    {
        "type": "color_background",
        "id": "wishlist_btn_bg",
        "label": "t:sections.general.settings.color.label__1",
        "default": "#FFFFFF"
    },
    {
        "type": "color",
        "id": "wishlist_btn_color",
        "label": "t:sections.general.settings.color.label__4",
        "default": "#000000"
    },
    {
        "type": "color",
        "id": "wishlist_btn_border",
        "label": "t:sections.general.settings.color.label__5",
        "default": "#C7C7C7"
    },
    {
        "type": "paragraph",
        "content": "t:sections.general.settings.color.paragraph__2.content"
    },
    {
        "type": "color_background",
        "id": "wishlist_btn_bg_hover",
        "label": "t:sections.general.settings.color.label__1",
        "default": "#D12442"
    },
    {
        "type": "color",
        "id": "wishlist_btn_color_hover",
        "label": "t:sections.general.settings.color.label__4",
        "default": "#FFFFFF"
    },
    {
        "type": "color",
        "id": "wishlist_btn_border_hover",
        "label": "t:sections.general.settings.color.label__5",
        "default": "#D12442"
    },
    {
        "type": "header",
        "content": "t:sections.main-product.settings.header__12.content"
    },
    {
        "type": "checkbox",
        "id": "show_view_full_details",
        "label": "t:sections.main-product.settings.view_full_details.label__1",
        "default": false
    },
    {
        "type": "select",
        "id": "view_full_details_btn",
        "label": "t:sections.general.settings.button.label__1",
        "default": "3",
        "options": [
        {
            "value": "1",
            "label": "t:sections.general.settings.button.options__1"
        },
        {
            "value": "2",
            "label": "t:sections.general.settings.button.options__2"
        },
        {
            "value": "3",
            "label": "t:sections.general.settings.button.options__3"
        },
        {
            "value": "4",
            "label": "t:sections.general.settings.button.options__4"
        },
        {
            "value": "5",
            "label": "t:sections.general.settings.button.options__5"
        },
        {
            "value": "link",
            "label": "t:sections.general.settings.button.options__6"
        }]
    }],
    "blocks": [
    {
        "type": "add_to_cart_form",
        "name": "t:sections.main-product.blocks.add_to_cart_form.name",
        "limit": 1,
        "settings": [
        {
            "type": "checkbox",
            "id": "enable_shake_affect",
            "label": "t:sections.main-product.blocks.add_to_cart_form.settings.label__1",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "show_dynamic_checkout",
            "label": "t:sections.main-product.blocks.add_to_cart_form.settings.label__2",
            "info": "t:sections.main-product.blocks.add_to_cart_form.settings.info",
            "default": true
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "px",
            "label": "t:sections.general.settings.padding.label__1",
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "px",
            "label": "t:sections.general.settings.padding.label__2",
            "default": 0
        },
        {
            "type": "paragraph",
            "content": "t:sections.main-product.blocks.add_to_cart_form.paragraph__1.content"
        },
        {
            "type": "checkbox",
            "id": "show_subtotal",
            "label": "t:sections.main-product.blocks.add_to_cart_form.settings.label__3",
            "default": true
        },
        {
            "type": "select",
            "id": "subtotal_style",
            "label": "t:sections.general.settings.style.label__1",
            "options": [
            {
                "value": "1",
                "label": "1"
            },
            {
                "value": "2",
                "label": "2"
            }],
            "default": "1"
        },
        {
            "type": "paragraph",
            "content": "t:sections.main-product.blocks.add_to_cart_form.paragraph__2.content"
        },
        {
            "type": "checkbox",
            "id": "show_qty",
            "label": "t:sections.main-product.blocks.add_to_cart_form.settings.label__4",
            "default": true
        },
        {
            "type": "select",
            "id": "qty_style",
            "label": "t:sections.general.settings.style.label__1",
            "options": [
            {
                "value": "1",
                "label": "1"
            },
            {
                "value": "2",
                "label": "2"
            },
            {
                "value": "3",
                "label": "3"
            }],
            "default": "1"
        }]
    },
    {
        "type": "customer_viewing",
        "name": "t:sections.main-product.blocks.customer_viewing.name",
        "limit": 1,
        "settings": [
        {
            "type" : "text",
            "id" : "customer_viewing_number",
            "label" : "t:sections.main-product.blocks.customer_viewing.settings.label__1",
            "default" : "283, 100, 59, 11, 14, 185, 193, 165, 50, 38, 99, 112, 46, 10, 125, 200, 250, 18"
        },
        {
            "type": "range",
            "id": "customer_viewing_time",
            "label": "t:sections.main-product.blocks.customer_viewing.settings.label__2",
            "min": 1,
            "max": 30,
            "step": 1,
            "unit": "s",
            "default": 5
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "px",
            "label": "t:sections.general.settings.padding.label__1",
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "px",
            "label": "t:sections.general.settings.padding.label__2",
            "default": 0
        },
        {
            "type": "select",
            "id": "font_family",
            "label": "t:settings_schema.typography.settings.font.label",
            "default": "font_1",
            "options": [
            {
                "value": "font_1",
                "label": "t:settings_schema.typography.settings.font.options__1"
            },
            {
                "value": "font_2",
                "label": "t:settings_schema.typography.settings.font.options__2"
            },
            {
                "value": "font_3",
                "label": "t:settings_schema.typography.settings.font.options__3"
            }]
        },
        {
            "type": "range",
            "id": "font_size",
            "label": "t:settings_schema.typography.settings.font_size.label",
            "min": 10,
            "max": 20,
            "step": 1,
            "unit": "t:settings_schema.typography.settings.font_size.unit",
            "default": 16
        },
        {
            "type": "select",
            "id": "font_weight",
            "label": "t:settings_schema.typography.settings.font_weight.label",
            "default": "400",
            "options": [
            {
                "value": "400",
                "label": "t:settings_schema.typography.settings.font_weight.options__1"
            },
            {
                "value": "500",
                "label": "t:settings_schema.typography.settings.font_weight.options__2"
            },
            {
                "value": "600",
                "label": "t:settings_schema.typography.settings.font_weight.options__3"
            },
            {
                "value": "700",
                "label": "t:settings_schema.typography.settings.font_weight.options__4"
            },
            {
                "value": "800",
                "label": "t:settings_schema.typography.settings.font_weight.options__5"
            },
            {
                "value": "900",
                "label": "t:settings_schema.typography.settings.font_weight.options__6"
            }]
        },
        {
            "type": "select",
            "id": "text_transform",
            "label": "t:settings_schema.typography.settings.text_transform.label",
            "default": "none",
            "options": [
            {
                "value": "none",
                "label": "t:settings_schema.typography.settings.text_transform.options__1"
            },
            {
                "value": "capitalize",
                "label": "t:settings_schema.typography.settings.text_transform.options__2"
            },
            {
                "value": "uppercase",
                "label": "t:settings_schema.typography.settings.text_transform.options__3"
            },
            {
                "value": "lowercase",
                "label": "t:settings_schema.typography.settings.text_transform.options__4"
            }]
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "t:sections.general.settings.color.label__2",
            "default": "#000000"
        }]
    },
    {
        "type": "countdown",
        "name": "t:sections.main-product.blocks.countdown.name",
        "limit": 1,
        "settings": [
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "px",
            "label": "t:sections.general.settings.padding.label__1",
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "px",
            "label": "t:sections.general.settings.padding.label__2",
            "default": 0
        }]
    },
    {
        "type": "inventory",
        "name": "t:sections.main-product.blocks.inventory.name",
        "limit": 1,
        "settings": [
        {
            "type": "range",
            "id": "stock",
            "min": 0,
            "max": 100,
            "step": 1,
            "label": "t:sections.main-product.blocks.inventory.settings.stock.label",
            "default": 0
        },
        {
            "type": "range",
            "id": "progress_height",
            "label": "t:sections.main-product.blocks.inventory.settings.progress.label",
            "min": 2,
            "max": 10,
            "step": 1,
            "unit": "px",
            "default": 3
        },
        {
            "type": "color_background",
            "id": "bg_color",
            "label": "t:sections.general.settings.color.label__1",
            "default": "#f6f6f6"
        },
        {
            "type": "color",
            "id": "color",
            "label": "t:sections.general.settings.color.label__2",
            "default": "#2A6876"
        },
        {
            "type": "color_background",
            "id": "progress_bg_color",
            "label": "t:sections.general.settings.color.label__23",
            "default": "linear-gradient(45deg, rgba(42, 104, 118, 1), rgba(232, 153, 26, 1) 100%)"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "px",
            "label": "t:sections.general.settings.padding.label__1",
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "px",
            "label": "t:sections.general.settings.padding.label__2",
            "default": 0
        }]
    },
    {
        "type": "info",
        "name": "t:sections.main-product.blocks.info.name",
        "limit": 1,
        "settings": [
        {
            "type": "checkbox",
            "id": "show_vendor",
            "label": "t:sections.main-product.blocks.info.settings.label__1",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_sku",
            "label": "t:sections.main-product.blocks.info.settings.label__2",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "show_availability",
            "label": "t:sections.main-product.blocks.info.settings.label__3",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_product_type",
            "label": "t:sections.main-product.blocks.info.settings.label__4",
            "default": true
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "px",
            "label": "t:sections.general.settings.padding.label__1",
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "px",
            "label": "t:sections.general.settings.padding.label__2",
            "default": 0
        },
        {
            "type": "select",
            "id": "font_family",
            "label": "t:settings_schema.typography.settings.font.label",
            "default": "font_1",
            "options": [
            {
                "value": "font_1",
                "label": "t:settings_schema.typography.settings.font.options__1"
            },
            {
                "value": "font_2",
                "label": "t:settings_schema.typography.settings.font.options__2"
            },
            {
                "value": "font_3",
                "label": "t:settings_schema.typography.settings.font.options__3"
            }]
        },
        {
            "type": "range",
            "id": "font_size",
            "label": "t:settings_schema.typography.settings.font_size.label",
            "min": 10,
            "max": 20,
            "step": 1,
            "unit": "t:settings_schema.typography.settings.font_size.unit",
            "default": 16
        },
        {
            "type": "select",
            "id": "font_weight",
            "label": "t:settings_schema.typography.settings.font_weight.label",
            "default": "400",
            "options": [
            {
                "value": "400",
                "label": "t:settings_schema.typography.settings.font_weight.options__1"
            },
            {
                "value": "500",
                "label": "t:settings_schema.typography.settings.font_weight.options__2"
            },
            {
                "value": "600",
                "label": "t:settings_schema.typography.settings.font_weight.options__3"
            },
            {
                "value": "700",
                "label": "t:settings_schema.typography.settings.font_weight.options__4"
            },
            {
                "value": "800",
                "label": "t:settings_schema.typography.settings.font_weight.options__5"
            },
            {
                "value": "900",
                "label": "t:settings_schema.typography.settings.font_weight.options__6"
            }]
        },
        {
            "type": "select",
            "id": "text_transform",
            "label": "t:settings_schema.typography.settings.text_transform.label",
            "default": "none",
            "options": [
            {
                "value": "none",
                "label": "t:settings_schema.typography.settings.text_transform.options__1"
            },
            {
                "value": "capitalize",
                "label": "t:settings_schema.typography.settings.text_transform.options__2"
            },
            {
                "value": "uppercase",
                "label": "t:settings_schema.typography.settings.text_transform.options__3"
            },
            {
                "value": "lowercase",
                "label": "t:settings_schema.typography.settings.text_transform.options__4"
            }]
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "t:sections.general.settings.color.label__2",
            "default": "#505050"
        },
        {
            "type": "color",
            "id": "text_color_2",
            "label": "t:sections.general.settings.color.label__6",
            "default": "#000000"
        }]
    },
    {
        "type": "notify_form",
        "name": "t:sections.main-product.blocks.notify_form.name",
        "limit": 1,
        "settings": [
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "px",
            "label": "t:sections.general.settings.padding.label__1",
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "px",
            "label": "t:sections.general.settings.padding.label__2",
            "default": 0
        }]
    },
    {
        "type": "price",
        "name": "t:sections.main-product.blocks.price.name",
        "limit": 1,
        "settings": [
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "px",
            "label": "t:sections.general.settings.padding.label__1",
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "px",
            "label": "t:sections.general.settings.padding.label__2",
            "default": 0
        }]
    },
    {
        "type": "promotion",
        "name": "t:sections.main-product.blocks.promotion.name",
        "limit": 1,
        "settings": [
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "px",
            "label": "t:sections.general.settings.padding.label__1",
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "px",
            "label": "t:sections.general.settings.padding.label__2",
            "default": 0
        },
        {
            "type": "paragraph",
            "content": "t:sections.main-product.blocks.promotion.paragraph__1.content"
        },
        {
            "type" : "checkbox",
            "id" : "show_sold_in_last",
            "label" : "t:sections.main-product.blocks.promotion.settings.label__1",
            "default" : true
        },
        {
            "type" : "text",
            "id" : "sold_in_number",
            "label" : "t:sections.main-product.blocks.sold_in_last.settings.label__1",
            "default" : "3,5,6,7,8,10,12,15"
        },
        {
            "type" : "text",
            "id" : "sold_in_hours",
            "label" : "t:sections.main-product.blocks.sold_in_last.settings.label__2",
            "default" : "10,15,16,17,18,20,25,35"
        },
        {
            "type" : "textarea",
            "id" : "sold_in_icon",
            "label" : "t:sections.main-product.blocks.sold_in_last.settings.label__3"
        },
        {
            "type": "select",
            "id": "font_family",
            "label": "t:settings_schema.typography.settings.font.label",
            "default": "font_1",
            "options": [
            {
                "value": "font_1",
                "label": "t:settings_schema.typography.settings.font.options__1"
            },
            {
                "value": "font_2",
                "label": "t:settings_schema.typography.settings.font.options__2"
            },
            {
                "value": "font_3",
                "label": "t:settings_schema.typography.settings.font.options__3"
            }]
        },
        {
            "type": "range",
            "id": "font_size",
            "label": "t:settings_schema.typography.settings.font_size.label",
            "min": 10,
            "max": 20,
            "step": 1,
            "unit": "t:settings_schema.typography.settings.font_size.unit",
            "default": 16
        },
        {
            "type": "select",
            "id": "font_weight",
            "label": "t:settings_schema.typography.settings.font_weight.label",
            "default": "400",
            "options": [
            {
                "value": "400",
                "label": "t:settings_schema.typography.settings.font_weight.options__1"
            },
            {
                "value": "500",
                "label": "t:settings_schema.typography.settings.font_weight.options__2"
            },
            {
                "value": "600",
                "label": "t:settings_schema.typography.settings.font_weight.options__3"
            },
            {
                "value": "700",
                "label": "t:settings_schema.typography.settings.font_weight.options__4"
            },
            {
                "value": "800",
                "label": "t:settings_schema.typography.settings.font_weight.options__5"
            },
            {
                "value": "900",
                "label": "t:settings_schema.typography.settings.font_weight.options__6"
            }]
        },
        {
            "type": "select",
            "id": "text_transform",
            "label": "t:settings_schema.typography.settings.text_transform.label",
            "default": "none",
            "options": [
            {
                "value": "none",
                "label": "t:settings_schema.typography.settings.text_transform.options__1"
            },
            {
                "value": "capitalize",
                "label": "t:settings_schema.typography.settings.text_transform.options__2"
            },
            {
                "value": "uppercase",
                "label": "t:settings_schema.typography.settings.text_transform.options__3"
            },
            {
                "value": "lowercase",
                "label": "t:settings_schema.typography.settings.text_transform.options__4"
            }]
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "t:sections.general.settings.color.label__2",
            "default": "#DA0032"
        },
        {
            "type": "paragraph",
            "content": "t:sections.main-product.blocks.promotion.paragraph__1.content"
        },
        {
            "type" : "checkbox",
            "id" : "show_rating",
            "label" : "t:sections.main-product.blocks.promotion.settings.label__2",
            "default" : true
        }]
    },
    {
        "type": "richtext",
        "name": "t:sections.main-product.blocks.richtext.name",
        "settings": [
        {
            "type": "richtext",
            "id": "content",
            "label": "t:sections.general.settings.content.label__13",
            "default":"<p>Free standard shipping on orders over $99</p>"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "px",
            "label": "t:sections.general.settings.padding.label__1",
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "px",
            "label": "t:sections.general.settings.padding.label__2",
            "default": 0
        }]
    },
    {
        "type": "text",
        "name": "t:sections.main-product.blocks.text.name",
        "settings": [
        {
            "type": "text",
            "id": "text",
            "label": "t:sections.general.settings.content.label__2"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "px",
            "label": "t:sections.general.settings.padding.label__1",
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "px",
            "label": "t:sections.general.settings.padding.label__2",
            "default": 0
        },
        {
            "type": "select",
            "id": "font_family",
            "label": "t:settings_schema.typography.settings.font.label",
            "default": "font_1",
            "options": [
            {
                "value": "font_1",
                "label": "t:settings_schema.typography.settings.font.options__1"
            },
            {
                "value": "font_2",
                "label": "t:settings_schema.typography.settings.font.options__2"
            },
            {
                "value": "font_3",
                "label": "t:settings_schema.typography.settings.font.options__3"
            }]
        },
        {
            "type": "range",
            "id": "font_size",
            "label": "t:settings_schema.typography.settings.font_size.label",
            "min": 10,
            "max": 20,
            "step": 1,
            "unit": "t:settings_schema.typography.settings.font_size.unit",
            "default": 16
        },
        {
            "type": "select",
            "id": "font_weight",
            "label": "t:settings_schema.typography.settings.font_weight.label",
            "default": "400",
            "options": [
            {
                "value": "400",
                "label": "t:settings_schema.typography.settings.font_weight.options__1"
            },
            {
                "value": "500",
                "label": "t:settings_schema.typography.settings.font_weight.options__2"
            },
            {
                "value": "600",
                "label": "t:settings_schema.typography.settings.font_weight.options__3"
            },
            {
                "value": "700",
                "label": "t:settings_schema.typography.settings.font_weight.options__4"
            },
            {
                "value": "800",
                "label": "t:settings_schema.typography.settings.font_weight.options__5"
            },
            {
                "value": "900",
                "label": "t:settings_schema.typography.settings.font_weight.options__6"
            }]
        },
        {
            "type": "select",
            "id": "text_transform",
            "label": "t:settings_schema.typography.settings.text_transform.label",
            "default": "none",
            "options": [
            {
                "value": "none",
                "label": "t:settings_schema.typography.settings.text_transform.options__1"
            },
            {
                "value": "capitalize",
                "label": "t:settings_schema.typography.settings.text_transform.options__2"
            },
            {
                "value": "uppercase",
                "label": "t:settings_schema.typography.settings.text_transform.options__3"
            },
            {
                "value": "lowercase",
                "label": "t:settings_schema.typography.settings.text_transform.options__4"
            }]
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "t:sections.general.settings.color.label__2",
            "default": "#000000"
        }]
    },
    {
        "type": "title",
        "name": "t:sections.main-product.blocks.title.name",
        "limit": 1,
        "settings": [
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "px",
            "label": "t:sections.general.settings.padding.label__1",
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "px",
            "label": "t:sections.general.settings.padding.label__2",
            "default": 0
        },
        {
            "type": "select",
            "id": "font_family",
            "label": "t:settings_schema.typography.settings.font.label",
            "default": "font_1",
            "options": [
            {
                "value": "font_1",
                "label": "t:settings_schema.typography.settings.font.options__1"
            },
            {
                "value": "font_2",
                "label": "t:settings_schema.typography.settings.font.options__2"
            },
            {
                "value": "font_3",
                "label": "t:settings_schema.typography.settings.font.options__3"
            }]
        },
        {
            "type": "range",
            "id": "font_size",
            "label": "t:settings_schema.typography.settings.font_size.label",
            "min": 10,
            "max": 40,
            "step": 1,
            "unit": "t:settings_schema.typography.settings.font_size.unit",
            "default": 16
        },
        {
            "type": "select",
            "id": "font_weight",
            "label": "t:settings_schema.typography.settings.font_weight.label",
            "default": "400",
            "options": [
            {
                "value": "400",
                "label": "t:settings_schema.typography.settings.font_weight.options__1"
            },
            {
                "value": "500",
                "label": "t:settings_schema.typography.settings.font_weight.options__2"
            },
            {
                "value": "600",
                "label": "t:settings_schema.typography.settings.font_weight.options__3"
            },
            {
                "value": "700",
                "label": "t:settings_schema.typography.settings.font_weight.options__4"
            },
            {
                "value": "800",
                "label": "t:settings_schema.typography.settings.font_weight.options__5"
            },
            {
                "value": "900",
                "label": "t:settings_schema.typography.settings.font_weight.options__6"
            }]
        },
        {
            "type": "select",
            "id": "text_transform",
            "label": "t:settings_schema.typography.settings.text_transform.label",
            "default": "none",
            "options": [
            {
                "value": "none",
                "label": "t:settings_schema.typography.settings.text_transform.options__1"
            },
            {
                "value": "capitalize",
                "label": "t:settings_schema.typography.settings.text_transform.options__2"
            },
            {
                "value": "uppercase",
                "label": "t:settings_schema.typography.settings.text_transform.options__3"
            },
            {
                "value": "lowercase",
                "label": "t:settings_schema.typography.settings.text_transform.options__4"
            }]
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "t:sections.general.settings.color.label__2",
            "default": "#505050"
        }]
    },
    {
        "type": "trust_badge",
        "name": "t:sections.main-product.blocks.trust_badge.name",
        "limit": 1,
        "settings": [
        {
            "type": "image_picker",
            "id": "trust_badge_1",
            "label": "t:sections.main-product.blocks.trust_badge.settings.label__1"
        },
        {
            "type": "image_picker",
            "id": "trust_badge_2",
            "label": "t:sections.main-product.blocks.trust_badge.settings.label__2"
        },
        {
            "type": "image_picker",
            "id": "trust_badge_3",
            "label": "t:sections.main-product.blocks.trust_badge.settings.label__3"
        },
        {
            "type": "image_picker",
            "id": "trust_badge_4",
            "label": "t:sections.main-product.blocks.trust_badge.settings.label__4"
        },
        {
            "type": "image_picker",
            "id": "trust_badge_5",
            "label": "t:sections.main-product.blocks.trust_badge.settings.label__5"
        },
        {
            "type": "image_picker",
            "id": "trust_badge_6",
            "label": "t:sections.main-product.blocks.trust_badge.settings.label__6"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "px",
            "label": "t:sections.general.settings.padding.label__1",
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "px",
            "label": "t:sections.general.settings.padding.label__2",
            "default": 0
        }]
    },
    {
        "type": "variant_picker",
        "name": "t:sections.main-product.blocks.variant_picker.name",
        "limit": 1,
        "settings": [
        {
            "type": "select",
            "id": "picker_type",
            "label": "t:sections.main-product.blocks.variant_picker.settings.label__1",
            "options": [
            {
                "value": "dropdown",
                "label": "t:sections.main-product.blocks.variant_picker.settings.options__1"
            },
            {
                "value": "button",
                "label": "t:sections.main-product.blocks.variant_picker.settings.options__2"
            }],
            "default": "button"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "px",
            "label": "t:sections.general.settings.padding.label__1",
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "px",
            "label": "t:sections.general.settings.padding.label__2",
            "default": 0
        },
        {
            "type": "checkbox",
            "id": "show_border_top",
            "label": "t:sections.general.settings.border.label__4",
            "default": false
        },
        {
            "type": "select",
            "id": "option_border_top",
            "label": "t:sections.general.settings.border.label__2",
            "default": "dashed",
            "options": [
                {
                    "value": "none",
                    "label": "t:sections.general.settings.border.options__1"
                },
                {
                    "value": "dashed",
                    "label": "t:sections.general.settings.border.options__2"
                },
                {
                    "value": "dotted",
                    "label": "t:sections.general.settings.border.options__3"
                },
                {
                    "value": "solid",
                    "label": "t:sections.general.settings.border.options__4"
                }
            ]
        },
        {
            "type": "color",
            "id": "picker_border_color",
            "label": "t:settings_schema.buttons.settings.button.label__8",
            "default": "#cccccc"
        }]
    },
    {
        "type": "vendor",
        "name": "t:sections.main-product.blocks.vendor.name",
        "limit": 1,
        "settings": [
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "px",
            "label": "t:sections.general.settings.padding.label__1",
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "px",
            "label": "t:sections.general.settings.padding.label__2",
            "default": 0
        },
        {
            "type": "select",
            "id": "font_family",
            "label": "t:settings_schema.typography.settings.font.label",
            "default": "font_1",
            "options": [
            {
                "value": "font_1",
                "label": "t:settings_schema.typography.settings.font.options__1"
            },
            {
                "value": "font_2",
                "label": "t:settings_schema.typography.settings.font.options__2"
            },
            {
                "value": "font_3",
                "label": "t:settings_schema.typography.settings.font.options__3"
            }]
        },
        {
            "type": "range",
            "id": "font_size",
            "label": "t:settings_schema.typography.settings.font_size.label",
            "min": 10,
            "max": 20,
            "step": 1,
            "unit": "t:settings_schema.typography.settings.font_size.unit",
            "default": 16
        },
        {
            "type": "select",
            "id": "font_weight",
            "label": "t:settings_schema.typography.settings.font_weight.label",
            "default": "400",
            "options": [
            {
                "value": "400",
                "label": "t:settings_schema.typography.settings.font_weight.options__1"
            },
            {
                "value": "500",
                "label": "t:settings_schema.typography.settings.font_weight.options__2"
            },
            {
                "value": "600",
                "label": "t:settings_schema.typography.settings.font_weight.options__3"
            },
            {
                "value": "700",
                "label": "t:settings_schema.typography.settings.font_weight.options__4"
            },
            {
                "value": "800",
                "label": "t:settings_schema.typography.settings.font_weight.options__5"
            },
            {
                "value": "900",
                "label": "t:settings_schema.typography.settings.font_weight.options__6"
            }]
        },
        {
            "type": "select",
            "id": "text_transform",
            "label": "t:settings_schema.typography.settings.text_transform.label",
            "default": "none",
            "options": [
            {
                "value": "none",
                "label": "t:settings_schema.typography.settings.text_transform.options__1"
            },
            {
                "value": "capitalize",
                "label": "t:settings_schema.typography.settings.text_transform.options__2"
            },
            {
                "value": "uppercase",
                "label": "t:settings_schema.typography.settings.text_transform.options__3"
            },
            {
                "value": "lowercase",
                "label": "t:settings_schema.typography.settings.text_transform.options__4"
            }]
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "t:sections.general.settings.color.label__2",
            "default": "#000000"
        }]
    },
    {
        "type": "icon-with-text",
        "name": "t:sections.main-product.blocks.icon_with_text.name",
        "settings": [
            {
                "type": "range",
                "id": "padding_top",
                "min": 0,
                "max": 50,
                "step": 1,
                "unit": "px",
                "label": "t:sections.general.settings.padding.label__1",
                "default": 0
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "min": 0,
                "max": 50,
                "step": 1,
                "unit": "px",
                "label": "t:sections.general.settings.padding.label__2",
                "default": 0
            },
            {
                "type": "select",
                "id": "layout",
                "options": [
                {
                    "value": "horizontal",
                    "label": "t:sections.main-product.blocks.icon_with_text.settings.layout.options__1.label"
                },
                {
                    "value": "vertical",
                    "label": "t:sections.main-product.blocks.icon_with_text.settings.layout.options__2.label"
                }],
                "default": "horizontal",
                "label": "t:sections.main-product.blocks.icon_with_text.settings.layout.label"
            },
            {
                "type": "header",
                "content": "t:sections.main-product.blocks.icon_with_text.settings.content.label",
                "info": "t:sections.main-product.blocks.icon_with_text.settings.content.info"
            },
            {
                "type": "select",
                "id": "icon_1",
                "options": [
                    {
                        "value": "none",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
                    },
                    {
                        "value": "apple",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
                    },
                    {
                        "value": "banana",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
                    },
                    {
                        "value": "bottle",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
                    },
                    {
                        "value": "box",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
                    },
                    {
                        "value": "carrot",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
                    },
                    {
                        "value": "chat_bubble",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
                    },
                    {
                        "value": "check_mark",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
                    },
                    {
                        "value": "clipboard",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
                    },
                    {
                        "value": "dairy",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
                    },
                    {
                        "value": "dairy_free",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
                    },
                    {
                        "value": "dryer",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
                    },
                    {
                        "value": "eye",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
                    },
                    {
                        "value": "fire",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
                    },
                    {
                        "value": "gluten_free",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
                    },
                    {
                        "value": "heart",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
                    },
                    {
                        "value": "iron",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
                    },
                    {
                        "value": "leaf",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
                    },
                    {
                        "value": "leather",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
                    },
                    {
                        "value": "lightning_bolt",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
                    },
                    {
                        "value": "lipstick",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
                    },
                    {
                        "value": "lock",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
                    },
                    {
                        "value": "map_pin",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
                    },
                    {
                        "value": "nut_free",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
                    },
                    {
                        "value": "pants",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__25.label"
                    },
                    {
                        "value": "paw_print",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__26.label"
                    },
                    {
                        "value": "pepper",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__27.label"
                    },
                    {
                        "value": "perfume",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__28.label"
                    },
                    {
                        "value": "plane",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__29.label"
                    },
                    {
                        "value": "plant",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__30.label"
                    },
                    {
                        "value": "price_tag",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__31.label"
                    },
                    {
                        "value": "question_mark",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__32.label"
                    },
                    {
                        "value": "recycle",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__33.label"
                    },
                    {
                        "value": "return",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__34.label"
                    },
                    {
                        "value": "ruler",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__35.label"
                    },
                    {
                        "value": "serving_dish",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__36.label"
                    },
                    {
                        "value": "shirt",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__37.label"
                    },
                    {
                        "value": "shoe",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__38.label"
                    },
                    {
                        "value": "silhouette",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__39.label"
                    },
                    {
                        "value": "snowflake",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__40.label"
                    },
                    {
                        "value": "star",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__41.label"
                    },
                    {
                        "value": "stopwatch",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__42.label"
                    },
                    {
                        "value": "truck",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__43.label"
                    },
                    {
                        "value": "washing",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__44.label"
                    }
                ],
                "default": "heart",
                "label": "t:sections.main-product.blocks.icon_with_text.settings.icon_1.label"
            },
            {
                "type": "image_picker",
                "id": "image_1",
                "label": "t:sections.main-product.blocks.icon_with_text.settings.image_1.label"
            },
            {
                "type": "richtext",
                "id": "heading_1",
                "default": "<p>Heading</p>",
                "label": "t:sections.main-product.blocks.icon_with_text.settings.heading_1.label",
                "info": "t:sections.main-product.blocks.icon_with_text.settings.heading.info"
            },
            {
                "type": "url",
                "id": "link_1",
                "label": "t:sections.general.settings.content.label__4",
                "info": "t:sections.general.settings.content.info__1"
            },
            {
                "type": "select",
                "id": "icon_2",
                "options": [
                    {
                        "value": "none",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
                    },
                    {
                        "value": "apple",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
                    },
                    {
                        "value": "banana",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
                    },
                    {
                        "value": "bottle",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
                    },
                    {
                        "value": "box",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
                    },
                    {
                        "value": "carrot",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
                    },
                    {
                        "value": "chat_bubble",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
                    },
                    {
                        "value": "check_mark",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
                    },
                    {
                        "value": "clipboard",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
                    },
                    {
                        "value": "dairy",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
                    },
                    {
                        "value": "dairy_free",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
                    },
                    {
                        "value": "dryer",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
                    },
                    {
                        "value": "eye",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
                    },
                    {
                        "value": "fire",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
                    },
                    {
                        "value": "gluten_free",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
                    },
                    {
                        "value": "heart",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
                    },
                    {
                        "value": "iron",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
                    },
                    {
                        "value": "leaf",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
                    },
                    {
                        "value": "leather",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
                    },
                    {
                        "value": "lightning_bolt",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
                    },
                    {
                        "value": "lipstick",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
                    },
                    {
                        "value": "lock",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
                    },
                    {
                        "value": "map_pin",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
                    },
                    {
                        "value": "nut_free",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
                    },
                    {
                        "value": "pants",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__25.label"
                    },
                    {
                        "value": "paw_print",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__26.label"
                    },
                    {
                        "value": "pepper",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__27.label"
                    },
                    {
                        "value": "perfume",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__28.label"
                    },
                    {
                        "value": "plane",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__29.label"
                    },
                    {
                        "value": "plant",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__30.label"
                    },
                    {
                        "value": "price_tag",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__31.label"
                    },
                    {
                        "value": "question_mark",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__32.label"
                    },
                    {
                        "value": "recycle",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__33.label"
                    },
                    {
                        "value": "return",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__34.label"
                    },
                    {
                        "value": "ruler",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__35.label"
                    },
                    {
                        "value": "serving_dish",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__36.label"
                    },
                    {
                        "value": "shirt",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__37.label"
                    },
                    {
                        "value": "shoe",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__38.label"
                    },
                    {
                        "value": "silhouette",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__39.label"
                    },
                    {
                        "value": "snowflake",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__40.label"
                    },
                    {
                        "value": "star",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__41.label"
                    },
                    {
                        "value": "stopwatch",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__42.label"
                    },
                    {
                        "value": "truck",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__43.label"
                    },
                    {
                        "value": "washing",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__44.label"
                    }
                ],
                "default": "return",
                "label": "t:sections.main-product.blocks.icon_with_text.settings.icon_2.label"
            },
            {
                "type": "image_picker",
                "id": "image_2",
                "label": "t:sections.main-product.blocks.icon_with_text.settings.image_2.label"
            },
            {
                "type": "richtext",
                "id": "heading_2",
                "default": "<p>Heading</p>",
                "label": "t:sections.main-product.blocks.icon_with_text.settings.heading_2.label",
                "info": "t:sections.main-product.blocks.icon_with_text.settings.heading.info"
            },
            {
                "type": "url",
                "id": "link_2",
                "label": "t:sections.general.settings.content.label__4",
                "info": "t:sections.general.settings.content.info__1"
            },
            {
                "type": "select",
                "id": "icon_3",
                "options": [
                    {
                        "value": "none",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
                    },
                    {
                        "value": "apple",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
                    },
                    {
                        "value": "banana",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
                    },
                    {
                        "value": "bottle",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
                    },
                    {
                        "value": "box",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
                    },
                    {
                        "value": "carrot",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
                    },
                    {
                        "value": "chat_bubble",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
                    },
                    {
                        "value": "check_mark",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
                    },
                    {
                        "value": "clipboard",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
                    },
                    {
                        "value": "dairy",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
                    },
                    {
                        "value": "dairy_free",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
                    },
                    {
                        "value": "dryer",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
                    },
                    {
                        "value": "eye",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
                    },
                    {
                        "value": "fire",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
                    },
                    {
                        "value": "gluten_free",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
                    },
                    {
                        "value": "heart",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
                    },
                    {
                        "value": "iron",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
                    },
                    {
                        "value": "leaf",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
                    },
                    {
                        "value": "leather",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
                    },
                    {
                        "value": "lightning_bolt",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
                    },
                    {
                        "value": "lipstick",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
                    },
                    {
                        "value": "lock",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
                    },
                    {
                        "value": "map_pin",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
                    },
                    {
                        "value": "nut_free",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
                    },
                    {
                        "value": "pants",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__25.label"
                    },
                    {
                        "value": "paw_print",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__26.label"
                    },
                    {
                        "value": "pepper",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__27.label"
                    },
                    {
                        "value": "perfume",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__28.label"
                    },
                    {
                        "value": "plane",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__29.label"
                    },
                    {
                        "value": "plant",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__30.label"
                    },
                    {
                        "value": "price_tag",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__31.label"
                    },
                    {
                        "value": "question_mark",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__32.label"
                    },
                    {
                        "value": "recycle",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__33.label"
                    },
                    {
                        "value": "return",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__34.label"
                    },
                    {
                        "value": "ruler",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__35.label"
                    },
                    {
                        "value": "serving_dish",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__36.label"
                    },
                    {
                        "value": "shirt",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__37.label"
                    },
                    {
                        "value": "shoe",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__38.label"
                    },
                    {
                        "value": "silhouette",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__39.label"
                    },
                    {
                        "value": "snowflake",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__40.label"
                    },
                    {
                        "value": "star",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__41.label"
                    },
                    {
                        "value": "stopwatch",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__42.label"
                    },
                    {
                        "value": "truck",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__43.label"
                    },
                    {
                        "value": "washing",
                        "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__44.label"
                    }
                ],
                "default": "truck",
                "label": "t:sections.main-product.blocks.icon_with_text.settings.icon_3.label"
            },
            {
                "type": "image_picker",
                "id": "image_3",
                "label": "t:sections.main-product.blocks.icon_with_text.settings.image_3.label"
            },
            {
                "type": "richtext",
                "id": "heading_3",
                "default": "<p>Heading</p>",
                "label": "t:sections.main-product.blocks.icon_with_text.settings.heading_3.label",
                "info": "t:sections.main-product.blocks.icon_with_text.settings.heading.info"
            },
            {
                "type": "url",
                "id": "link_3",
                "label": "t:sections.general.settings.content.label__4",
                "info": "t:sections.general.settings.content.info__1"
            }
        ]
    }]
}
{% endschema %}