{%- if section.settings.show_fixed_banner -%}
    {%- liquid
        assign padding_top = section.settings.padding_top | append: 'px'
        assign padding_bottom = section.settings.padding_bottom | append: 'px'
        assign padding_top_tablet = section.settings.padding_top_tablet | append: 'px'
        assign padding_bottom_tablet = section.settings.padding_bottom_tablet | append: 'px'
        assign padding_top_mobile = section.settings.padding_top_mobile | append: 'px'
        assign padding_bottom_mobile = section.settings.padding_bottom_mobile | append: 'px'
        assign container = section.settings.container
        assign transparent_button = section.settings.transparent_button
        assign block_bg = section.settings.block_bg
        assign show_block_bg_img = section.settings.show_block_bg_img
        if show_block_bg_img
            assign block_bg_img = section.settings.block_bg_img
            assign block_bg_position_x = section.settings.block_bg_position_x
            assign block_bg_position_y = section.settings.block_bg_position_y
            assign block_bg_repeat = section.settings.block_bg_repeat
            assign block_bg_attachment = section.settings.block_bg_attachment
            assign block_bg_size = section.settings.block_bg_size
        endif
        assign title_font = section.settings.title_font
        assign title_font_size = section.settings.title_font_size
        if title_font_size >= 60
            assign title_tablet_font_size = title_font_size | minus: 30 | append: 'px'
            assign title_font_size = title_font_size | append: 'px'
        else
            assign title_tablet_font_size = title_font_size | append: 'px'
            assign title_font_size = title_font_size | append: 'px'
        endif
        assign title_mobile_font_size = section.settings.title_mobile_font_size | append: 'px'
        assign title_font_weight = section.settings.title_font_weight
        assign title_text_transform = section.settings.title_text_transform
        assign text_font_size = section.settings.text_font_size | append: 'px'
        assign text_font_weight = section.settings.text_font_weight
        assign text_text_transform = section.settings.text_text_transform
        assign text_align = section.settings.text_align
        assign title_color = section.settings.color_title
        assign text_color = section.settings.color_text
        assign column_reverse_1 = section.settings.column_reverse_1
        assign column_reverse_2 = section.settings.column_reverse_2
        assign image_effect = settings.image_effect

        if settings.show_dark_mode
            assign dark_mode = false
            unless block_bg == blank or block_bg == '#fff' or block_bg == '#FFF' or block_bg == '#ffffff' or block_bg == '#FFFFFF' or block_bg == 'rgb(255,255,255)' or block_bg == 'rgba(255,255,255,1)' or block_bg == 'rgba(0,0,0,0)' or block_bg == 'rgb(0,0,0,0)'
                assign dark_mode = true
                assign dark_mode_background_color = section.settings.block_bg
                assign dark_mode_title_color = section.settings.color_title
                assign dark_mode_text_color = section.settings.color_text
            endunless
        endif
    -%}
    <div class="halo-block halo-banner fixed-banner-10 halo-block-padding{% unless dark_mode %} dark-mode{% endunless %}" id="halo-fixed-banner-{{ section.id }}"
        style="--padding-top: {{ padding_top }};
            --padding-bottom: {{ padding_bottom }};
            --padding-top-tablet: {{ padding_top_tablet }};
            --padding-bottom-tablet: {{ padding_bottom_tablet }};
            --padding-top-mobile: {{ padding_top_mobile }};
            --padding-bottom-mobile: {{ padding_bottom_mobile }};"
    >
        <div class="halo-block-background{% if show_block_bg_img %} halo-block-background--image{% endif %}"
            style="--bg-block: {{ block_bg }};
            {% if title_font == 'font_1' %}
                --title-font: var(--font-1-family);
            {% elsif title_font == 'font_2' %}
                --title-font: var(--font-2-family);
            {% elsif title_font == 'font_3' %}
                --title-font: var(--font-3-family);
            {% endif %}
            --title-font-size: {{ title_font_size }};
            --title-tablet-font-size: {{ title_tablet_font_size }};
            --title-mobile-font-size: {{ title_mobile_font_size }};
            --title-font-weight: {{ title_font_weight }};
            --title-text-transform: {{ title_text_transform }};
            --title-color: {{ title_color }};
            --text-color: {{ text_color }};
            --text-font-size: {{ text_font_size }};
            --text-font-weight: {{ text_font_weight }};
            --text-text-transform: {{ text_text_transform }};
            {% if show_block_bg_img %}
                --bg-block-img: url({{ block_bg_img | img_url: 'master' }}); 
                --bg-block-img-position-x: {{ block_bg_position_x }};
                --bg-block-img-position-y: {{ block_bg_position_y }};
                --bg-block-img-repeat: {{ block_bg_repeat }};
                --bg-block-img-attachment: {{ block_bg_attachment }};
                --bg-block-img-size: {{ block_bg_size }};
            {% endif %}
            {% if dark_mode %}
                --dark-mode-bg-color: {{ dark_mode_background_color }};
                --dark-mode-title-color: {{ dark_mode_title_color }};
                --dark-mode-text-color: {{ dark_mode_text_color }};
            {% endif %}
            {% if settings.show_dark_mode and show_block_bg_img and block_bg_img != blank %}
                --dark-mode-title-color: {{ title_color }};
                --dark-mode-text-color: {{ text_color }};
            {% endif %}"
        >
            <div class="container container-{{ container }}">
                <div class="halo-grid-block">
                    <div class="item item-1{% if column_reverse_1 %} item-column-reverse{% endif %}">
                        {%- liquid
                            assign image_1 = section.settings.image_1
                            assign title_1 = section.settings.title_1
                            assign text_1 = section.settings.text_1
                            assign btn_1 = section.settings.btn_1
                            assign btn_url_1 = section.settings.btn_url_1
                            assign btn_text_1 = section.settings.btn_text_1
                            assign image_ratio_1 = section.settings.image_ratio_1
                            assign portrait_ratio_1 = section.settings.portrait_ratio_1
                        -%}
                        <div class="img-box">
                            <loading-banner class="loading-banner">
                                {%- if image_1 != blank -%}
                                    <{% if btn_url_1 != blank %}a{% else %}div{% endif %} class="image image-bg image-adapt image-{{ image_effect }}" {% if btn_url_1 != blank %} href="{{ btn_url_1 }}"{% endif %} 
                                        {% if image_ratio_1 == 'adapt' %}
                                            style="padding-bottom: {% unless image_1.presentation.focal_point == '50.0% 50.0%' %}{{ 1 | divided_by: image_1.aspect_ratio | times: 100 | divided_by: 1.1 }}%{% else %}{{ 1 | divided_by: image_1.aspect_ratio | times: 100 }}%{% endunless %};"
                                        {% elsif image_ratio_1 == 'square' %}
                                            style="padding-bottom: 100%;"
                                        {% elsif image_ratio_1 == 'portrait' %}
                                            style="padding-bottom:  {{ portrait_ratio_1 }}%;"
                                        {% elsif image_ratio_1 == 'circle' %}
                                            style="padding-bottom: 100%; border-radius: 50%;"
                                        {% endif %}
                                    >
                                        <img srcset="{%- if image_1.width < 320 -%}{{ image_1 | image_url: width: image_1.width }} 320w,{%- endif -%}
                                            {%- if image_1.width >= 320 -%}{{ image_1 | image_url: width: 375 }} 375w,{%- endif -%}
                                            {%- if image_1.width >= 740 -%}{{ image_1 | image_url: width: 740 }} 740w,{%- endif -%} 
                                            {%- if image_1.width >= 750 -%}{{ image_1 | image_url: width: 750 }} 750w,{%- endif -%}
                                            {%- if image_1.width >= 1100 -%}{{ image_1 | image_url: width: 1100 }} 1100w,{%- endif -%}
                                            {%- if image_1.width >= 1370 -%}{{ image_1 | image_url: width: 1370 }} 1370w,{%- endif -%}
                                            {%- if image_1.width >= 1500 -%}{{ image_1 | image_url: width: 1500 }} 1500w,{%- endif -%}
                                            {%- if image_1.width >= 1770 -%}{{ image_1 | image_url: width: 1770 }} 1770w,{%- endif -%}
                                            {%- if image_1.width >= 1780 -%}{{ image_1 | image_url: width: 1780 }} 1780w,{%- endif -%}
                                            {%- if image_1.width >= 1880 -%}{{ image_1 | image_url: width: 1880 }} 1880w,{%- endif -%}
                                            {%- if image_1.width >= 2000 -%}{{ image_1 | image_url: width: 2000 }} 2000w,{%- endif -%}
                                            {%- if image_1.width >= 2800 -%}{{ image_1 | image_url: width: 2800 }} 2800w{%- endif -%}"
                                            alt="{{ image_1.alt | default: shop.name | escape }}" width="{{ image_1.width }}" height="{{ image_1.width | divided_by: image_1.aspect_ratio | round }}" 
                                            {% unless image_1.presentation.focal_point == '50.0% 50.0%' %}style="object-position: {{ image_1.presentation.focal_point }}"{% endunless %}
                                            loading="lazy"
                                        >
                                        {%- if image_effect == 'liquid' -%}
                                            <span class="hover"></span>
                                        {%- endif -%}
                                    </{% if btn_url_1 != blank %}a{% else %}div{% endif %}>  
                                {%- else -%}
                                    <{% if btn_url_1 != blank %}a{% else %}div{% endif %} class="image" {% if btn_url_1 != blank %} href="{{ btn_url_1 }}"{% endif %}>
                                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                                    </{% if btn_url_1 != blank %}a{% else %}div{% endif %}>
                                {%- endif -%}
                            </loading-banner>
                        </div>
                        {%- if title_1 != blank or text_1 != blank or btn_text_1 != blank -%}
                            <div class="content text-{{ text_align }}">
                                {%- if title_1 != blank -%}
                                    <h4 class="banner-title typography__mobile typography__tablet typography__desktop">
                                        {{ title_1 | escape }}
                                    </h4>
                                {%- endif -%}
                                {%- if text_1 != blank -%}
                                    <span class="banner-text typography__text">
                                        {{ text_1 }}
                                    </span>
                                {%- endif -%}
                                {%- if btn_text_1 != blank -%}
                                    <{% if btn_url_1 != blank %}a{% else %}div{% endif %} {% if btn_url_1 != blank %} href="{{ btn_url_1 }}"{% endif %} class="banner-button button button-{{ btn_1 }}{% if transparent_button %} button--transparent{% endif %}">
                                        <span class="text">
                                            {{ btn_text_1 | escape }}
                                        </span>
                                    </{% if btn_url_1 != blank %}a{% else %}div{% endif %}>
                                {%- endif -%}
                            </div>
                        {%- endif -%}
                    </div>
                    <div class="item item-2{% if column_reverse_2 %} item-column-reverse{% endif %}">
                        {%- liquid
                            assign image_2 = section.settings.image_2
                            assign title_2 = section.settings.title_2
                            assign text_2 = section.settings.text_2
                            assign btn_2 = section.settings.btn_2
                            assign btn_url_2 = section.settings.btn_url_2
                            assign btn_text_2 = section.settings.btn_text_2
                            assign image_ratio_2 = section.settings.image_ratio_2
                            assign portrait_ratio_2 = section.settings.portrait_ratio_2
                        -%}
                        <div class="img-box">
                            <loading-banner class="loading-banner">
                                {%- if image_2 != blank -%}
                                    <{% if btn_url_2 != blank %}a{% else %}div{% endif %} class="image image-bg image-adapt image-{{ image_effect }}" {% if btn_url_1 != blank %} href="{{ btn_url_1 }}"{% endif %} 
                                        {% if image_ratio_2 == 'adapt' %}
                                            style="padding-bottom: {% unless image_2.presentation.focal_point == '50.0% 50.0%' %}{{ 1 | divided_by: image_2.aspect_ratio | times: 100 | divided_by: 1.1 }}%{% else %}{{ 1 | divided_by: image_2.aspect_ratio | times: 100 }}%{% endunless %};"
                                        {% elsif image_ratio_2 == 'square' %}
                                            style="padding-bottom: 100%;"
                                        {% elsif image_ratio_2 == 'portrait' %}
                                            style="padding-bottom:  {{ portrait_ratio_2 }}%;"
                                        {% elsif image_ratio_2 == 'circle' %}
                                            style="padding-bottom: 100%; border-radius: 50%;"
                                        {% endif %}
                                    >
                                        <img srcset="{%- if image_2.width < 320 -%}{{ image_2 | image_url: width: image_2.width }} 320w,{%- endif -%}
                                            {%- if image_2.width >= 320 -%}{{ image_2 | image_url: width: 375 }} 375w,{%- endif -%}
                                            {%- if image_2.width >= 740 -%}{{ image_2 | image_url: width: 740 }} 740w,{%- endif -%} 
                                            {%- if image_2.width >= 750 -%}{{ image_2 | image_url: width: 750 }} 750w,{%- endif -%}
                                            {%- if image_2.width >= 1100 -%}{{ image_2 | image_url: width: 1100 }} 1100w,{%- endif -%}
                                            {%- if image_2.width >= 1370 -%}{{ image_2 | image_url: width: 1370 }} 1370w,{%- endif -%}
                                            {%- if image_2.width >= 1500 -%}{{ image_2 | image_url: width: 1500 }} 1500w,{%- endif -%}
                                            {%- if image_2.width >= 1770 -%}{{ image_2 | image_url: width: 1770 }} 1770w,{%- endif -%}
                                            {%- if image_2.width >= 1780 -%}{{ image_2 | image_url: width: 1780 }} 1780w,{%- endif -%}
                                            {%- if image_2.width >= 1880 -%}{{ image_2 | image_url: width: 1880 }} 1880w,{%- endif -%}
                                            {%- if image_2.width >= 2000 -%}{{ image_2 | image_url: width: 2000 }} 2000w,{%- endif -%}
                                            {%- if image_2.width >= 2800 -%}{{ image_2 | image_url: width: 2800 }} 2800w{%- endif -%}"
                                            alt="{{ image_2.alt | default: shop.name | escape }}" width="{{ image_2.width }}" height="{{ image_2.width | divided_by: image_2.aspect_ratio | round }}" 
                                            {% unless image_2.presentation.focal_point == '50.0% 50.0%' %}style="object-position: {{ image_2.presentation.focal_point }}"{% endunless %}
                                            loading="lazy"
                                        >
                                        {%- if image_effect == 'liquid' -%}
                                            <span class="hover"></span>
                                        {%- endif -%}
                                    </{% if btn_url_2 != blank %}a{% else %}div{% endif %}> 
                                {%- else -%}
                                    <{% if btn_url_2 != blank %}a{% else %}div{% endif %} class="image" {% if btn_url_2 != blank %} href="{{ btn_url_2 }}"{% endif %}>
                                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                                    </{% if btn_url_2 != blank %}a{% else %}div{% endif %}>
                                {%- endif -%}
                            </loading-banner>
                        </div>
                        {%- if title_2 != blank or text_2 != blank or btn_text_2 != blank -%}
                            <div class="content text-{{ text_align }}">
                                {%- if title_2 != blank -%}
                                    <h4 class="banner-title typography__mobile typography__tablet typography__desktop">
                                        {{ title_2 | escape }}
                                    </h4>
                                {%- endif -%}
                                {%- if text_2 != blank -%}
                                    <span class="banner-text typography__text">
                                        {{ text_2 }}
                                    </span>
                                {%- endif -%}
                                {%- if btn_text_2 != blank -%}
                                    <{% if btn_url_2 != blank %}a{% else %}div{% endif %} {% if btn_url_2 != blank %} href="{{ btn_url_2 }}"{% endif %} class="banner-button button button-{{ btn_2 }}{% if transparent_button %} button--transparent{% endif %}">
                                        <span class="text">
                                            {{ btn_text_2 | escape }}
                                        </span>
                                    </{% if btn_url_2 != blank %}a{% else %}div{% endif %}>
                                {%- endif -%}
                            </div>
                        {%- endif -%}
                    </div>
                </div>
            </div>
        </div>
    </div>
{%- endif -%}
{% schema %}
	{
		"name": "t:sections.fixed-banner-10.name",
		"settings": [
			{
                "type": "header",
                "content": "t:sections.fixed-banner-10.settings.header__1.content"
            },
            {
                "type": "checkbox",
                "id": "show_fixed_banner",
                "label": "t:sections.fixed-banner-10.settings.general.label__1",
                "default": true
            },
            {
                "type": "select",
                "id": "container",
                "label": "t:sections.general.settings.container.label__1",
                "default": "1570",
                "options": [
                {
                    "value": "1170",
                    "label": "t:sections.general.settings.container.options__1"
                },
                {
                    "value": "1370",
                    "label": "t:sections.general.settings.container.options__2"
                },
                {
                    "value": "1570",
                    "label": "t:sections.general.settings.container.options__3"
                },
                {
                    "value": "1770",
                    "label": "t:sections.general.settings.container.options__4"
                },
                {
                    "value": "1860",
                    "label": "t:sections.general.settings.container.options__5"
                },
                {
                    "value": "full",
                    "label": "t:sections.general.settings.container.options__6"
                }],
                "info": "t:sections.general.settings.container.info"
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.padding.paragraph__1.content"
            },
            {
                "type": "range",
                "id": "padding_top",
                "label": "t:sections.general.settings.padding.label__1",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 0
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "label": "t:sections.general.settings.padding.label__2",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 0
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.padding.paragraph__2.content"
            },
            {
                "type": "range",
                "id": "padding_top_tablet",
                "label": "t:sections.general.settings.padding.label__1",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 40
            },
            {
                "type": "range",
                "id": "padding_bottom_tablet",
                "label": "t:sections.general.settings.padding.label__2",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 40
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.padding.paragraph__3.content"
            },
            {
                "type": "range",
                "id": "padding_top_mobile",
                "label": "t:sections.general.settings.padding.label__1",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 30
            },
            {
                "type": "range",
                "id": "padding_bottom_mobile",
                "label": "t:sections.general.settings.padding.label__2",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 30
            },
            {
                "type": "header",
                "content": "t:sections.fixed-banner-10.settings.header__3.content"
            },
            {
                "type": "checkbox",
                "id": "transparent_button",
                "label": "t:sections.general.settings.button.label__5",
                "default": false
            },
            {
	            "id": "block_bg",
	            "type": "color_background",
	            "label": "t:sections.general.settings.color.label__1",
	            "default": "#000000"
	        },
	        {
	            "type": "checkbox",
	            "id": "show_block_bg_img",
	            "label": "t:sections.general.settings.background-image.label__1",
	            "default": false
	        },
	        {
	            "type": "image_picker",
	            "id": "block_bg_img",
	            "label": "t:sections.general.settings.background-image.label__2"
	        },
	        {
	            "type": "select",
	            "id": "block_bg_position_x",
	            "label": "t:sections.general.settings.background-image.label__3",
	            "default": "center",
	            "options": [
	            {
	                "value": "left",
	                "label": "t:sections.general.settings.background-image.options__1"
	            },
	            {
	                "value": "center",
	                "label": "t:sections.general.settings.background-image.options__2"
	            },
	            {
	                "value": "right",
	                "label": "t:sections.general.settings.background-image.options__3"
	            }]
	        },
	        {
	            "type": "select",
	            "id": "block_bg_position_y",
	            "label": "t:sections.general.settings.background-image.label__4",
	            "default": "center",
	            "options": [
	            {
	                "value": "top",
	                "label": "t:sections.general.settings.background-image.options__4"
	            },
	            {
	                "value": "center",
	                "label": "t:sections.general.settings.background-image.options__2"
	            },
	            {
	                "value": "bottom",
	                "label": "t:sections.general.settings.background-image.options__5"
	            }]
	        },
	        {
	            "type": "select",
	            "id": "block_bg_repeat",
	            "label": "t:sections.general.settings.background-image.label__5",
	            "default": "no-repeat",
	            "options": [
	            {
	                "value": "repeat",
	                "label": "t:sections.general.settings.background-image.options__6"
	            },
	            {
	                "value": "repeat-x",
	                "label": "t:sections.general.settings.background-image.options__7"
	            },
	            {
	                "value": "repeat-y",
	                "label": "t:sections.general.settings.background-image.options__8"
	            },
	            {
	                "value": "no-repeat",
	                "label": "t:sections.general.settings.background-image.options__9"
	            }]
	        },
	        {
	            "type": "select",
	            "id": "block_bg_attachment",
	            "label": "t:sections.general.settings.background-image.label__6",
	            "default": "fixed",
	            "options": [
	            {
	                "value": "scroll",
	                "label": "t:sections.general.settings.background-image.options__10"
	            },
	            {
	                "value": "fixed",
	                "label": "t:sections.general.settings.background-image.options__11"
	            }]
	        },
	        {
	            "type": "select",
	            "id": "block_bg_size",
	            "label": "t:sections.general.settings.background-image.label__7",
	            "default": "contain",
	            "options": [
	            {
	                "value": "contain",
	                "label": "t:sections.general.settings.background-image.options__12"
	            },
	            {
	                "value": "auto",
	                "label": "t:sections.general.settings.background-image.options__13"
	            },
	            {
	                "value": "cover",
	                "label": "t:sections.general.settings.background-image.options__14"
	            }]
	        },
            {
                "type": "header",
                "content": "t:sections.fixed-banner-10.settings.header__2.content"
            },
            {
                "type": "image_picker",
                "id": "image_1",
                "label": "t:sections.general.settings.background-image.label__1"
            },
            {
                "type": "select",
                "id": "image_ratio_1",
                "label": "t:sections.general.settings.image-ratio.label__1",
                "options": [
                    {
                        "value": "adapt",
                        "label": "t:sections.general.settings.image-ratio.options__1"
                    },
                    {
                        "value": "portrait",
                        "label": "t:sections.general.settings.image-ratio.options__2"
                    },
                    {
                        "value": "square",
                        "label": "t:sections.general.settings.image-ratio.options__3"
                    },
                    {
                        "value": "circle",
                        "label": "t:sections.general.settings.image-ratio.options__4"
                    }
                ],
                "default": "portrait"
            },
            {
                "type": "range",
                "id": "portrait_ratio_1",
                "label": "t:sections.general.settings.image-ratio.label__2",
                "min": 51,
                "max": 150,
                "step": 1,
                "unit": "%",
                "default": 112
            },
            {
                "type" : "text",
                "id" : "title_1",
                "label" : "t:sections.general.settings.content.label__1",
                "default" : "Cosmopolis"
            },
            {
                "type" : "text",
                "id" : "text_1",
                "label" : "t:sections.general.settings.content.label__2",
                "default" : "Lorem ipsum dolor sit amet"
            },
            {
                "type": "select",
                "id": "btn_1",
                "label": "t:sections.general.settings.button.label__1",
                "default": "1",
                "options": [
                {
                    "value": "1",
                    "label": "t:sections.general.settings.button.options__1"
                },
                {
                    "value": "2",
                    "label": "t:sections.general.settings.button.options__2"
                },
                {
                    "value": "3",
                    "label": "t:sections.general.settings.button.options__3"
                },
                {
                    "value": "4",
                    "label": "t:sections.general.settings.button.options__4"
                },
                {
                    "value": "5",
                    "label": "t:sections.general.settings.button.options__5"
                }]
            },
            {
                "type" : "text",
                "id" : "btn_text_1",
                "label" : "t:sections.general.settings.button.label__2",
                "default" : "Discover"
            },
            {
                "type" : "url",
                "id" : "btn_url_1",
                "label" : "t:sections.general.settings.button.label__3"
            },
            {
                "type": "checkbox",
                "id": "column_reverse_1",
                "label": "t:sections.fixed-banner-10.settings.general.grid__1",
                "default": false
            },
            {
                "type": "image_picker",
                "id": "image_2",
                "label": "t:sections.general.settings.background-image.label__1"
            },
            {
                "type": "select",
                "id": "image_ratio_2",
                "label": "t:sections.general.settings.image-ratio.label__1",
                "options": [
                    {
                        "value": "adapt",
                        "label": "t:sections.general.settings.image-ratio.options__1"
                    },
                    {
                        "value": "portrait",
                        "label": "t:sections.general.settings.image-ratio.options__2"
                    },
                    {
                        "value": "square",
                        "label": "t:sections.general.settings.image-ratio.options__3"
                    },
                    {
                        "value": "circle",
                        "label": "t:sections.general.settings.image-ratio.options__4"
                    }
                ],
                "default": "portrait"
            },
            {
                "type": "range",
                "id": "portrait_ratio_2",
                "label": "t:sections.general.settings.image-ratio.label__2",
                "min": 51,
                "max": 150,
                "step": 1,
                "unit": "%",
                "default": 112
            },
            {
                "type" : "text",
                "id" : "title_2",
                "label" : "t:sections.general.settings.content.label__1",
                "default" : "Cosmopolis"
            },
            {
                "type" : "text",
                "id" : "text_2",
                "label" : "t:sections.general.settings.content.label__2",
                "default" : "Lorem ipsum dolor sit amet"
            },
            {
                "type": "select",
                "id": "btn_2",
                "label": "t:sections.general.settings.button.label__1",
                "default": "1",
                "options": [
                {
                    "value": "1",
                    "label": "t:sections.general.settings.button.options__1"
                },
                {
                    "value": "2",
                    "label": "t:sections.general.settings.button.options__2"
                },
                {
                    "value": "3",
                    "label": "t:sections.general.settings.button.options__3"
                },
                {
                    "value": "4",
                    "label": "t:sections.general.settings.button.options__4"
                },
                {
                    "value": "5",
                    "label": "t:sections.general.settings.button.options__5"
                }]
            },
            {
                "type" : "text",
                "id" : "btn_text_2",
                "label" : "t:sections.general.settings.button.label__2",
                "default" : "Discover"
            },
            {
                "type" : "url",
                "id" : "btn_url_2",
                "label" : "t:sections.general.settings.button.label__3"
            },
            {
                "type": "checkbox",
                "id": "column_reverse_2",
                "label": "t:sections.fixed-banner-10.settings.general.grid__1",
                "default": true
            },
            {
                "type": "header",
                "content": "t:sections.fixed-banner-10.settings.header__3.content"
            },
            {
                "type": "select",
                "id": "text_align",
                "label": "t:sections.general.settings.aligmnent.label__1",
                "options": [
                    {
                        "value": "left",
                        "label": "t:sections.general.settings.aligmnent.options__1"
                    },
                    {
                        "value": "center",
                        "label": "t:sections.general.settings.aligmnent.options__2"
                    },
                    {
                        "value": "right",
                        "label": "t:sections.general.settings.aligmnent.options__3"
                    }
                ],
                "default": "center"
            },
            {
                "type": "color",
                "label": "t:sections.general.settings.color.label__7",
                "id": "color_title",
                "default": "#FFFFFF"
            },
            {
                "type": "color",
                "label": "t:sections.general.settings.color.label__2",
                "id": "color_text",
                "default": "#FFFFFF"
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.typography.paragraph__1.content"
            },
            {
                "type": "select",
                "id": "title_font",
                "label": "t:settings_schema.typography.settings.font.label",
                "options": [
                {
                    "value": "font_1",
                    "label": "t:settings_schema.typography.settings.font.options__1"
                },
                {
                    "value": "font_2",
                    "label": "t:settings_schema.typography.settings.font.options__2"
                },
                {
                    "value": "font_3",
                    "label": "t:settings_schema.typography.settings.font.options__3"
                }],
                "default": "font_2"
            },
            {
                "type": "range",
                "id": "title_font_size",
                "label": "t:settings_schema.typography.settings.font_size.label",
                "min": 10,
                "max": 60,
                "step": 1,
                "unit": "t:settings_schema.typography.settings.font_size.unit",
                "default": 40
            },
            {
                "type": "range",
                "id": "title_mobile_font_size",
                "label": "t:settings_schema.typography.settings.font_size.label__2",
                "min": 10,
                "max": 40,
                "step": 1,
                "unit": "t:settings_schema.typography.settings.font_size.unit",
                "default": 20
            },
            {
                "type": "select",
                "id": "title_font_weight",
                "label": "t:settings_schema.typography.settings.font_weight.label",
                "default": "400",
                "options": [
                {
                    "value": "300",
                    "label": "t:settings_schema.typography.settings.font_weight.options__7"
                },
                {
                    "value": "400",
                    "label": "t:settings_schema.typography.settings.font_weight.options__1"
                },
                {
                    "value": "500",
                    "label": "t:settings_schema.typography.settings.font_weight.options__2"
                },
                {
                    "value": "600",
                    "label": "t:settings_schema.typography.settings.font_weight.options__3"
                },
                {
                    "value": "700",
                    "label": "t:settings_schema.typography.settings.font_weight.options__4"
                },
                {
                    "value": "800",
                    "label": "t:settings_schema.typography.settings.font_weight.options__5"
                },
                {
                    "value": "900",
                    "label": "t:settings_schema.typography.settings.font_weight.options__6"
                }]
            },
            {
                "type": "select",
                "id": "title_text_transform",
                "label": "t:settings_schema.typography.settings.text_transform.label",
                "default": "uppercase",
                "options": [
                    {
                        "value": "none",
                        "label": "t:settings_schema.typography.settings.text_transform.options__1"
                    },
                    {
                        "value": "capitalize",
                        "label": "t:settings_schema.typography.settings.text_transform.options__2"
                    },
                    {
                        "value": "uppercase",
                        "label": "t:settings_schema.typography.settings.text_transform.options__3"
                    },
                    {
                        "value": "lowercase",
                        "label": "t:settings_schema.typography.settings.text_transform.options__4"
                    }
                ]
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.typography.paragraph__2.content"
            },
            {
                "type": "range",
                "id": "text_font_size",
                "label": "t:settings_schema.typography.settings.font_size.label",
                "min": 10,
                "max": 20,
                "step": 1,
                "unit": "t:settings_schema.typography.settings.font_size.unit",
                "default": 18
            },
            {
                "type": "select",
                "id": "text_font_weight",
                "label": "t:settings_schema.typography.settings.font_weight.label",
                "default": "400",
                "options": [
                {
                    "value": "300",
                    "label": "t:settings_schema.typography.settings.font_weight.options__7"
                },
                {
                    "value": "400",
                    "label": "t:settings_schema.typography.settings.font_weight.options__1"
                },
                {
                    "value": "500",
                    "label": "t:settings_schema.typography.settings.font_weight.options__2"
                },
                {
                    "value": "600",
                    "label": "t:settings_schema.typography.settings.font_weight.options__3"
                },
                {
                    "value": "700",
                    "label": "t:settings_schema.typography.settings.font_weight.options__4"
                },
                {
                    "value": "800",
                    "label": "t:settings_schema.typography.settings.font_weight.options__5"
                },
                {
                    "value": "900",
                    "label": "t:settings_schema.typography.settings.font_weight.options__6"
                }]
            },
            {
                "type": "select",
                "id": "text_text_transform",
                "label": "t:settings_schema.typography.settings.text_transform.label",
                "default": "none",
                "options": [
                    {
                        "value": "none",
                        "label": "t:settings_schema.typography.settings.text_transform.options__1"
                    },
                    {
                        "value": "capitalize",
                        "label": "t:settings_schema.typography.settings.text_transform.options__2"
                    },
                    {
                        "value": "uppercase",
                        "label": "t:settings_schema.typography.settings.text_transform.options__3"
                    },
                    {
                        "value": "lowercase",
                        "label": "t:settings_schema.typography.settings.text_transform.options__4"
                    }
                ]
            }
		],
		"presets": [
            {
                "name": "t:sections.fixed-banner-10.presets.name"
            }
        ],
        "disabled_on": {
            "groups": ["header", "footer"]
        }
	}
{% endschema %}