{%- if section.settings.show_collapsible_content and section.blocks.size > 0 -%}
    {%- liquid
        assign style = section.settings.style
        assign padding_top = section.settings.padding_top | append: 'px'
        assign padding_bottom = section.settings.padding_bottom | append: 'px'
        assign padding_top_tablet = section.settings.padding_top_tablet | append: 'px'
        assign padding_bottom_tablet = section.settings.padding_bottom_tablet | append: 'px'
        assign padding_top_mobile = section.settings.padding_top_mobile | append: 'px'
        assign padding_bottom_mobile = section.settings.padding_bottom_mobile | append: 'px'
        assign block_title = section.settings.block_title
        assign block_text = section.settings.block_text
        assign block_title_align = section.settings.block_title_align
        assign container = section.settings.container
        assign title_color = section.settings.title_color
        assign title_color_active = section.settings.title_color_active
        assign title_tab_font_size = section.settings.title_tab_font_size | append: 'px'
        assign title_tab_font_size_mobile = section.settings.title_tab_font_size_mobile | append: 'px'
        assign title_tab_font_weight = section.settings.title_tab_font_weight
        assign title_tab_transform = section.settings.title_tab_transform
        assign title_content_font_size = section.settings.title_content_font_size | append: 'px'
        assign title_content_font_weight = section.settings.title_content_font_weight
        assign title_content_transform = section.settings.title_content_transform
        assign title_content_color = section.settings.title_content_color
        assign title_content_color = section.settings.title_content_color
        assign text = section.settings.title_content_color
        assign text = section.settings.title_content_color
        assign icon_color = section.settings.icon_color
        assign bg_icon_color = section.settings.bg_icon_color
        assign icon_color_active = section.settings.icon_color_active
        assign bg_icon_color_active = section.settings.bg_icon_color_active
        assign background_color = section.settings.background_color
    -%}
    {%- if settings.show_dark_mode -%}
        <style type="text/css" media="screen">
            body.dark-mode .halo-collapsible-content-2 .product-tabs-list,
            body.dark-mode .halo-collapsible-content-2 .faqs-item .card-header .icon-plus {
                filter: invert(1);
            }
        </style>
    {%- endif -%}
    <div class="halo-block halo-collapsible-content-2 halo-block-padding style-{{ style }} halo-block-gradient" id="halo-collapsible-content-2-{{ section.id }}"
        sectionId="{{ section.id }}"
        style="--padding-top: {{ padding_top }};
            --padding-bottom: {{ padding_bottom }};
            --padding-top-tablet: {{ padding_top_tablet }};
            --padding-bottom-tablet: {{ padding_bottom_tablet }};
            --padding-top-mobile: {{ padding_top_mobile }};
            --padding-bottom-mobile: {{ padding_bottom_mobile }};
            --tab-font-size: {{ title_tab_font_size }};
            --tab-font-size-mobile: {{ title_tab_font_size_mobile }};
            --tab-font-weight: {{ title_tab_font_weight }};
            --tab-text-transform: {{ title_tab_transform }};
            --tab-color: {{ title_color }};
            --tab-color-active: {{ title_color_active }};
            --title-content-font-size: {{ title_content_font_size }};
            --title-content-font-weight: {{ title_content_font_weight }};
            --title-content-text-transform: {{ title_content_transform }};
            --title-content-color: {{ title_content_color }};
            --icon-color: {{ icon_color }};
            --bg-icon-color: {{ bg_icon_color }};
            --icon-color-active: {{ icon_color_active }};
            --bg-icon-color-active: {{ bg_icon_color_active }};
            --text-color: {{ title_content_color }};
            --bg-color: {{ background_color }};"
    >
        <div class="container container-{{ container }}">
            <div class="halo-block-header list-product-tabs text-{{ block_title_align }}">
                {%- if block_title != blank -%}
                    <h3 class="title text-{{ block_title_align }}">
                        <span class="text">
                            {{ block_title | escape }}
                        </span>
                    </h3>
                    {%- if block_text != blank -%}
                        <span class="desc text-{{ block_title_align }}">
                            {{ block_text }}
                        </span>
                    {%- endif -%}
                {%- endif -%}
            </div>
            <active-tab class="halo-block-content product-tabs-content">
                <ul class="product-tabs-list list-unstyled disable-scrollbar{% if style == '2' %} di-flex{% endif %}">
                    {%- for block in section.blocks -%}
                        {%- liquid
                            assign title = block.settings.title
                            assign icon = block.settings.icon
                        -%}
                        <li>
                            <a href="#" data-target="#product-tab-{{ block.id }}" data-tabs-title class="tab-links{% if style == '2' %} di-flex a-i-center{% endif %}{% if forloop.first %} active{% endif %}" role="button">
                                {%- if icon -%}
                                    <span class="icon">
                                        {{ icon }}
                                    </span>
                                {%- endif -%}
                                <span class="text">
                                    {{ title | escape }}
                                </span>
                            </a>
                        </li>
                    {%- endfor -%}
                </ul>
                <div class="tabs-list">
                    {%- for block in section.blocks -%}
                        <div class="tab-content{% if forloop.first %} active{% endif %}" data-tabs-content id="product-tab-{{ block.id }}">
                            {%- for i in (1..5) -%}
                                {% capture cap_question %}question_{{ i }}{% endcapture %}
                                {% capture cap_answer %}answer_{{ i }}{% endcapture %}
                                {%- liquid
                                    assign question = block.settings[cap_question]
                                    assign answer = block.settings[cap_answer]
                                -%}
                                {%- if question != blank -%}
                                    <div class="faqs-item">
                                        <div class="card" id="#accordion-{{ block.id }}-{{ forloop.index }}">
                                            <div class="card-header collapsed" id="question-{{ block.id }}-{{ forloop.index }}" data-toggle="collapse" data-target="#collapse-{{ block.id }}-{{ forloop.index }}" aria-expanded="true" aria-controls="collapse-{{ block.id }}-{{ forloop.index }}" tabindex="0" role="button">
                                                <div class="title" role="button" tabindex="0">
                                                    {{ question }}
                                                </div>
                                                <span class="icon-plus" role="none">&nbsp</span>
                                            </div>
                                            <div id="collapse-{{ block.id }}-{{ forloop.index }}" class="collapse" data-parent="#accordion">
                                                <div class="card-body" id="answer-{{ block.id }}-{{ forloop.index }}">
                                                    <div class="halo-text-format">
                                                        {{ answer }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {%- endif -%}
                            {%- endfor -%}
                        </div>
                    {%- endfor -%}
                </div>
            </active-tab>
        </div>
    </div>
{%- endif -%}
{% schema %}
    {
        "name": "t:sections.collapsible_content.name__2",
        "settings": [
            {
                "type": "header",
                "content": "t:sections.collapsible_content.settings.header__1.content"
            },
            {
                "type": "checkbox",
                "id": "show_collapsible_content",
                "label": "t:sections.collapsible_content.settings.general.label__1",
                "default": true
            },
            {
                "type": "color_background",
                "id": "background_color",
                "label": "t:sections.general.settings.color.label__1"
            },
            {
                "type" : "select",
                "id" : "style",
                "label" : "t:sections.general.settings.style.label__1",
                "default": "1",
                "options": [
                {
                    "value": "1",
                    "label": "1"
                },
                {
                    "value": "2",
                    "label": "2"
                }]
            },
            {
                "type": "select",
                "id": "container",
                "label": "t:sections.general.settings.container.label__1",
                "default": "1770",
                "options": [
                {
                    "value": "1170",
                    "label": "t:sections.general.settings.container.options__1"
                },
                {
                    "value": "1370",
                    "label": "t:sections.general.settings.container.options__2"
                },
                {
                    "value": "1570",
                    "label": "t:sections.general.settings.container.options__3"
                },
                {
                    "value": "1770",
                    "label": "t:sections.general.settings.container.options__4"
                },
                {
                    "value": "1860",
                    "label": "t:sections.general.settings.container.options__5"
                },
                {
                    "value": "full",
                    "label": "t:sections.general.settings.container.options__6"
                }],
                "info": "t:sections.general.settings.container.info"
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.padding.paragraph__1.content"
            },
            {
                "type": "range",
                "id": "padding_top",
                "label": "t:sections.general.settings.padding.label__1",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 0
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "label": "t:sections.general.settings.padding.label__2",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 0
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.padding.paragraph__2.content"
            },
            {
                "type": "range",
                "id": "padding_top_tablet",
                "label": "t:sections.general.settings.padding.label__1",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 40
            },
            {
                "type": "range",
                "id": "padding_bottom_tablet",
                "label": "t:sections.general.settings.padding.label__2",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 40
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.padding.paragraph__3.content"
            },
            {
                "type": "range",
                "id": "padding_top_mobile",
                "label": "t:sections.general.settings.padding.label__1",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 30
            },
            {
                "type": "range",
                "id": "padding_bottom_mobile",
                "label": "t:sections.general.settings.padding.label__2",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "t:sections.general.settings.padding.unit",
                "default": 30
            },
            {
                "type": "text",
                "id": "block_title",
                "label": "t:sections.general.settings.block-title.label__1",
                "default": "Shop By Sellect"
            },
            {
                "type": "text",
                "id": "block_text",
                "label": "t:sections.general.settings.block-title.label__2",
                "default": "Give customers details about the banner image(s) or content on the template."
            },
            {
                "type": "select",
                "id": "block_title_align",
                "label": "t:sections.general.settings.block-title.label__3",
                "options": [
                {
                    "value": "left",
                    "label": "t:sections.general.settings.block-title.options__1"
                },
                {
                    "value": "center",
                    "label": "t:sections.general.settings.block-title.options__2"
                },
                {
                    "value": "right",
                    "label": "t:sections.general.settings.block-title.options__3"
                }],
                "default": "center"
            },
            {
                "type": "header",
                "content": "t:sections.product-tabs-block.settings.header__4.content"
            },
            {
                "type": "range",
                "id": "title_tab_font_size",
                "label": "t:settings_schema.typography.settings.font_size.label",
                "min": 10,
                "max": 30,
                "step": 1,
                "unit": "t:settings_schema.typography.settings.font_size.unit",
                "default": 15
            },
            {
                "type": "range",
                "id": "title_tab_font_size_mobile",
                "label": "t:settings_schema.typography.settings.font_size.label__2",
                "min": 10,
                "max": 20,
                "step": 1,
                "unit": "t:settings_schema.typography.settings.font_size.unit",
                "default": 15
            },
            {
                "type": "select",
                "id": "title_tab_font_weight",
                "label": "t:settings_schema.typography.settings.font_weight.label",
                "default": "600",
                "options": [
                {
                    "value": "400",
                    "label": "t:settings_schema.typography.settings.font_weight.options__1"
                },
                {
                    "value": "500",
                    "label": "t:settings_schema.typography.settings.font_weight.options__2"
                },
                {
                    "value": "600",
                    "label": "t:settings_schema.typography.settings.font_weight.options__3"
                },
                {
                    "value": "700",
                    "label": "t:settings_schema.typography.settings.font_weight.options__4"
                },
                {
                    "value": "800",
                    "label": "t:settings_schema.typography.settings.font_weight.options__5"
                },
                {
                    "value": "900",
                    "label": "t:settings_schema.typography.settings.font_weight.options__6"
                }]
            },
            {
                "type": "select",
                "id": "title_tab_transform",
                "label": "t:settings_schema.typography.settings.text_transform.label",
                "default": "uppercase",
                "options": [
                {
                    "value": "none",
                    "label": "t:settings_schema.typography.settings.text_transform.options__1"
                },
                {
                    "value": "capitalize",
                    "label": "t:settings_schema.typography.settings.text_transform.options__2"
                },
                {
                    "value": "uppercase",
                    "label": "t:settings_schema.typography.settings.text_transform.options__3"
                },
                {
                    "value": "lowercase",
                    "label": "t:settings_schema.typography.settings.text_transform.options__4"
                }]
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.color.paragraph__1.content"
            },
            {
                "type": "color",
                "label": "t:sections.general.settings.color.label__11",
                "id": "title_color",
                "default": "#808080"
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.color.paragraph__2.content"
            },
            {
                "type": "color",
                "label": "t:sections.general.settings.color.label__11",
                "id": "title_color_active",
                "default": "#000000"
            },
            {
                "type": "header",
                "content": "t:sections.collapsible_content.settings.header__3.content"
            },
            {
                "type": "range",
                "id": "title_content_font_size",
                "label": "t:settings_schema.typography.settings.font_size.label",
                "min": 10,
                "max": 30,
                "step": 1,
                "unit": "t:settings_schema.typography.settings.font_size.unit",
                "default": 15
            },
            {
                "type": "select",
                "id": "title_content_font_weight",
                "label": "t:settings_schema.typography.settings.font_weight.label",
                "default": "600",
                "options": [
                {
                    "value": "400",
                    "label": "t:settings_schema.typography.settings.font_weight.options__1"
                },
                {
                    "value": "500",
                    "label": "t:settings_schema.typography.settings.font_weight.options__2"
                },
                {
                    "value": "600",
                    "label": "t:settings_schema.typography.settings.font_weight.options__3"
                },
                {
                    "value": "700",
                    "label": "t:settings_schema.typography.settings.font_weight.options__4"
                },
                {
                    "value": "800",
                    "label": "t:settings_schema.typography.settings.font_weight.options__5"
                },
                {
                    "value": "900",
                    "label": "t:settings_schema.typography.settings.font_weight.options__6"
                }]
            },
            {
                "type": "select",
                "id": "title_content_transform",
                "label": "t:settings_schema.typography.settings.text_transform.label",
                "default": "uppercase",
                "options": [
                {
                    "value": "none",
                    "label": "t:settings_schema.typography.settings.text_transform.options__1"
                },
                {
                    "value": "capitalize",
                    "label": "t:settings_schema.typography.settings.text_transform.options__2"
                },
                {
                    "value": "uppercase",
                    "label": "t:settings_schema.typography.settings.text_transform.options__3"
                },
                {
                    "value": "lowercase",
                    "label": "t:settings_schema.typography.settings.text_transform.options__4"
                }]
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.color.paragraph__1.content"
            },
            {
                "type": "color",
                "label": "t:settings_schema.colors.settings.header__2.content",
                "id": "title_content_color",
                "default": "#000000"
            },
            {
                "type": "color",
                "label": "t:sections.general.settings.color.label__4",
                "id": "icon_color",
                "default": "#ffffff"
            },
            {
                "type": "color",
                "label": "t:sections.general.settings.color.label__22",
                "id": "bg_icon_color",
                "default": "#000000"
            },
            {
                "type": "paragraph",
                "content": "t:sections.general.settings.color.paragraph__2.content"
            },
            {
                "type": "color",
                "label": "t:sections.general.settings.color.label__4",
                "id": "icon_color_active",
                "default": "#000000"
            },
            {
                "type": "color",
                "label": "t:sections.general.settings.color.label__22",
                "id": "bg_icon_color_active",
                "default": "#808080"
            }
        ],
        "blocks" : [
            {
                "type": "tab",
                "name": "t:sections.product-tabs-block.blocks.name",
                "settings":
                [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "t:sections.general.settings.content.label__1",
                        "default": "Title"
                    },
                    {
                        "type": "textarea",
                        "id": "icon",
                        "label": "t:sections.general.settings.content.label__8"
                    },
                    {
                        "type": "header",
                        "content": "t:sections.main-faqs-page.blocks.paragraph.settings.header__2.content"
                    },
                    {
                        "type" : "text",
                        "id" : "question_1",
                        "label" : "t:sections.main-faqs-page.blocks.paragraph.settings.question.label__1",
                        "default": "Question"
                    },
                    {
                        "type" : "html",
                        "id" : "answer_1",
                        "label" : "t:sections.main-faqs-page.blocks.paragraph.settings.question.label__2",
                        "default": "<p>Use overlay text to give your customers insight into your brand. Select image and text that relates to your style and story.</p>"
                    },
                    {
                        "type": "header",
                        "content": "t:sections.main-faqs-page.blocks.paragraph.settings.header__3.content"
                    },
                    {
                        "type" : "text",
                        "id" : "question_2",
                        "label" : "t:sections.main-faqs-page.blocks.paragraph.settings.question.label__1",
                        "default": "Question"
                    },
                    {
                        "type" : "html",
                        "id" : "answer_2",
                        "label" : "t:sections.main-faqs-page.blocks.paragraph.settings.question.label__2",
                        "default": "<p>Use overlay text to give your customers insight into your brand. Select image and text that relates to your style and story.</p>"
                    },
                    {
                        "type": "header",
                        "content": "t:sections.main-faqs-page.blocks.paragraph.settings.header__4.content"
                    },
                    {
                        "type" : "text",
                        "id" : "question_3",
                        "label" : "t:sections.main-faqs-page.blocks.paragraph.settings.question.label__1",
                        "default": "Question"
                    },
                    {
                        "type" : "html",
                        "id" : "answer_3",
                        "label" : "t:sections.main-faqs-page.blocks.paragraph.settings.question.label__2",
                        "default": "<p>Use overlay text to give your customers insight into your brand. Select image and text that relates to your style and story.</p>"
                    },
                    {
                        "type": "header",
                        "content": "t:sections.main-faqs-page.blocks.paragraph.settings.header__5.content"
                    },
                    {
                        "type" : "text",
                        "id" : "question_4",
                        "label" : "t:sections.main-faqs-page.blocks.paragraph.settings.question.label__1",
                        "default": "Question"
                    },
                    {
                        "type" : "html",
                        "id" : "answer_4",
                        "label" : "t:sections.main-faqs-page.blocks.paragraph.settings.question.label__2",
                        "default": "<p>Use overlay text to give your customers insight into your brand. Select image and text that relates to your style and story.</p>"
                    },
                    {
                        "type": "header",
                        "content": "t:sections.main-faqs-page.blocks.paragraph.settings.header__6.content"
                    },
                    {
                        "type" : "text",
                        "id" : "question_5",
                        "label" : "t:sections.main-faqs-page.blocks.paragraph.settings.question.label__1",
                        "default": "Question"
                    },
                    {
                        "type" : "html",
                        "id" : "answer_5",
                        "label" : "t:sections.main-faqs-page.blocks.paragraph.settings.question.label__2",
                        "default": "<p>Use overlay text to give your customers insight into your brand. Select image and text that relates to your style and story.</p>"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "t:sections.collapsible_content.presets.name__2",
                "blocks": [
                    {
                        "type": "tab",
                        "type": "tab",
                        "type": "tab"
                    }
                ]
            }
        ],
        "disabled_on": {
            "groups": ["header", "footer"]
        }
    }
{% endschema %}