{%- if section.settings.show_newsletter -%}
    {%- liquid
        assign container = section.settings.container
        assign padding_top = section.settings.padding_top | append: 'px'
        assign padding_bottom = section.settings.padding_bottom | append: 'px'
        assign padding_top_tablet = section.settings.padding_top_tablet | append: 'px'
        assign padding_bottom_tablet = section.settings.padding_bottom_tablet | append: 'px'
        assign padding_top_mobile = section.settings.padding_top_mobile | append: 'px'
        assign padding_bottom_mobile = section.settings.padding_bottom_mobile | append: 'px'
        assign choose_style = section.settings.choose_style
        assign show_border = section.settings.show_border
        assign text_align = section.settings.text_align
        assign show_newsletter_bg_img = section.settings.show_newsletter_bg_img
        if show_newsletter_bg_img
            assign newsletter_bg_img = section.settings.newsletter_bg_img
            assign newsletter_bg_position_x = section.settings.newsletter_bg_position_x
            assign newsletter_bg_position_y = section.settings.newsletter_bg_position_y
            assign newsletter_bg_repeat = section.settings.newsletter_bg_repeat
            assign newsletter_bg_attachment = section.settings.newsletter_bg_attachment
            assign newsletter_bg_size = section.settings.newsletter_bg_size
        endif
        assign heading_font = section.settings.heading_font
        assign heading_font_size = section.settings.heading_font_size | append: 'px'
        assign heading_font_weight = section.settings.heading_font_weight
        assign heading_text_transform = section.settings.heading_text_transform
        assign heading_font_style = section.settings.heading_font_style
        assign link_font = section.settings.link_font
        assign link_font_size = section.settings.link_font_size | append: 'px'
        assign link_font_weight = section.settings.link_font_weight
        assign link_text_transform = section.settings.link_text_transform
        assign block_bg = section.settings.block_bg
        assign link_color = section.settings.link_color
        assign heading_color = section.settings.heading_color
        assign block_text = section.blocks | where: "type", "text"
        assign block_newsletter = section.blocks | where: "type", "newsletter"
        assign block_icon = section.blocks | where: "type", "icon"
        if settings.show_dark_mode
            assign dark_mode = false
            unless bg_color == blank or bg_color == '#fff' or bg_color == '#FFF' or bg_color == '#ffffff' or bg_color == '#FFFFFF' or bg_color == 'rgb(255,255,255)' or bg_color == 'rgba(255,255,255,1)' or bg_color == 'rgba(0,0,0,0)'
                assign dark_mode = true
                assign dark_mode_background_color = section.settings.bg_color
                assign dark_mode_title_color = section.settings.title_color
                assign dark_mode_text_color = section.settings.text_color
                assign dark_mode_link_color = section.settings.link_color
            endunless
        endif
    -%}

    <div class="halo-block halo-banner halo-newsletter halo-block-padding{% if show_newsletter_bg_img %} newsletter__wrapper-bg{% endif %}{% unless dark_mode %} dark-mode{% endunless %}" id="halo-newsletter-{{ section.id }}"
        style="--padding-top: {{ padding_top }};
            --padding-bottom: {{ padding_bottom }};
            --padding-top-tablet: {{ padding_top_tablet }};
            --padding-bottom-tablet: {{ padding_bottom_tablet }};
            --padding-top-mobile: {{ padding_top_mobile }};
            --padding-bottom-mobile: {{ padding_bottom_mobile }};
            {% if show_newsletter_bg_img %}
                --newsletter-bg-img: url({{ newsletter_bg_img | img_url: 'master' }});
                --newsletter-bg-position: {{ newsletter_bg_position_x }} {{ newsletter_bg_position_y }};
                --newsletter-bg-repeat: {{ newsletter_bg_repeat }};
                --newsletter-bg-attachment: {{ newsletter_bg_attachment }};
                --newsletter-bg-size: {{ newsletter_bg_size }};
            {% endif %}
            {% if link_font == 'font_1' %}
                --link-font: var(--font-1-family);
            {% elsif link_font == 'font_2' %}
                --link-font: var(--font-2-family);
            {% elsif link_font == 'font_3' %}
                --link-font: var(--font-3-family);
            {% endif %}
                --link-font-size: {{ link_font_size }};
                --link-font-weight: {{ link_font_weight }};
                --link-text-transform: {{ link_text_transform }};
            {% if heading_font == 'font_1' %}
                --heading-font: var(--font-1-family);
            {% elsif heading_font == 'font_2' %}
                --heading-font: var(--font-2-family);
            {% elsif heading_font == 'font_3' %}
                --heading-font: var(--font-3-family);
            {% endif %}
                --heading-font-size: {{ heading_font_size }};
                --heading-font-weight: {{ heading_font_weight }};
                --heading-text-transform: {{ heading_text_transform }};
                --heading-font-style: {{ heading_font_style }};
                --bg-color: {{ block_bg }};
                --link-color: {{ link_color }};
                --heading-color: {{ heading_color }};
            {% if dark_mode %}
                --dark-mode-bg-color: {{ dark_mode_background_color }};
                --dark-mode-title-color: {{ dark_mode_title_color }};
                --dark-mode-text-color: {{ dark_mode_text_color }};
                --dark-mode-link-color: {{ dark_mode_link_color }};
            {% endif %}
        "
    >
        <div class="container container-{{ container }}">
            <div class="newsletter-block clearfix text-center style-{{ choose_style }}{% unless block_icon.size > 0 %} only-block{% endunless %}{% if block_icon.size > 0 %}{% unless block_newsletter.size > 0 %} only-block-2{% endunless %}{% endif %}{% if show_border %} show-border{% endif %}">
                {% for block in block_newsletter %}
                    {%- liquid 
                        assign layout = block.settings.layout
                    -%}
                    {%- if choose_style == 'horizontal' -%}
                        <div class="horizontal-{{ layout }}">
                    {%- endif -%}
                        {%- if block_text.size > 0 or block_newsletter.size > 0 -%}
                            {%- if choose_style == 'horizontal' -%}
                                <div class="newsletter-block-horizontal newsletter-block__item">
                            {%- endif -%}
                                {%- if block_text.size > 0 -%}
                                    <div class="{% unless choose_style == 'horizontal' %}newsletter-block__item {% endunless %}halo-block-text text-{{ text_align }} header-style-{{ layout }}">
                                        {%- for block in block_text -%}
                                            {%- liquid 
                                                assign newsletter_logo = block.settings.newsletter_logo
                                                assign newsletter_heading = block.settings.newsletter_heading
                                                assign newsletter_sub = block.settings.newsletter_sub
                                                assign newsletter_text = block.settings.newsletter_text
                                                if newsletter_logo != blank
                                                    assign padding_top = block.settings.padding_top
                                                    assign padding_bottom = block.settings.padding_bottom
                                                endif
                                                if newsletter_heading != blank
                                                    assign padding_top_heading = block.settings.padding_top_heading
                                                    assign padding_bottom_heading = block.settings.padding_bottom_heading
                                                endif
                                                if newsletter_sub != blank
                                                    assign newsletter_sub_font = block.settings.newsletter_sub_font
                                                    assign newsletter_sub_font_size = block.settings.newsletter_sub_font_size | append: 'px'
                                                    assign padding_top_sub = block.settings.padding_top_sub
                                                    assign padding_bottom_sub = block.settings.padding_bottom_sub
                                                endif
                                                if newsletter_text != blank
                                                    assign padding_top_text = block.settings.padding_top_text
                                                    assign padding_bottom_text = block.settings.padding_bottom_text
                                                endif
                                            -%}
                                            {%- if newsletter_text == blank and newsletter_logo != blank -%}
                                                <div class="style-item">
                                            {%- endif -%}
                                                {%- if newsletter_logo != blank -%}
                                                    <a href="{{ routes.root_url }}" class="newsletter-item__logo newsletter__heading-link focus-inset element-spacing"
                                                        style="--spacing-top: {{ padding_top | append: 'px' }};
                                                            --spacing-bottom: {{ padding_bottom | append: 'px' }};
                                                            --spacing-top-mobile: {{ padding_top | times: 0.5 | round: 0 | append: 'px' }};
                                                            --spacing-bottom-mobile: {% if padding_bottom != blank %}10px{% else %}{{ padding_bottom | times: 0.5 | round: 0 | append: 'px' }}{% endif %};
                                                            --spacing-top-tablet: {{ padding_top | times: 0.75 | round: 0 | append: 'px' }};
                                                            --spacing-bottom-tablet: {% if padding_bottom != blank %}10px{% else %}{{ padding_bottom | times: 0.75 | round: 0 | append: 'px' }}{% endif %};"
                                                    >
                                                        <img
                                                            srcset="{{ newsletter_logo | img_url: 'master' }} 1x, {{ newsletter_logo | img_url: 'master', scale: 2 }} 2x"
                                                            src="{{ newsletter_logo | img_url: 'master' }}"
                                                            loading="lazy"
                                                            class="newsletter__heading-logo"
                                                            alt="{{ newsletter_logo.alt | default: shop.name | escape }}"
                                                            width="{{ newsletter_logo.width | replace: 'px', '' }}"
                                                            height="{{ newsletter_logo.height | replace: 'px', '' }}"
                                                        >
                                                    </a>
                                                {%- endif -%}
                                                {%- if newsletter_heading != blank -%}
                                                    <h2 class="newsletter-item__title title element-spacing"
                                                        style="--spacing-top: {{ padding_top_heading | append: 'px' }};
                                                            --spacing-bottom: {{ padding_bottom_heading | append: 'px' }};
                                                            --spacing-top-mobile: {{ padding_top_heading | times: 0.5 | round: 0 | append: 'px' }};
                                                            --spacing-bottom-mobile:  {% if padding_bottom_heading != blank %}10px{% else %}{{ padding_bottom_heading | times: 0.5 | round: 0 | append: 'px' }}{% endif %};
                                                            --spacing-top-tablet: {{ padding_top_heading | times: 0.75 | round: 0 | append: 'px' }};
                                                            --spacing-bottom-tablet: {% if padding_bottom_heading != blank %}10px{% else %}{{ padding_bottom_heading | times: 0.75 | round: 0 | append: 'px' }}{% endif %};"
                                                    >
                                                        <span class="text">{{ newsletter_heading | escape }}</span>
                                                    </h2>
                                                {%- endif -%}
                                            {%- if newsletter_text == blank and newsletter_logo != blank -%}
                                                </div>
                                            {%- endif -%}
                                            {%- if newsletter_sub != blank -%}
                                                <div class="newsletter-item__sub desc rte element-spacing"
                                                    style="font-weight: unset;
                                                        text-transform: unset;
                                                        {% if newsletter_sub_font == 'font_1' %}
                                                            --link-font: var(--font-1-family);
                                                        {% elsif newsletter_sub_font == 'font_2' %}
                                                            --link-font: var(--font-2-family);
                                                        {% elsif newsletter_sub_font == 'font_3' %}
                                                            --link-font: var(--font-3-family);
                                                        {% endif %}
                                                        --link-font-size: {{ newsletter_sub_font_size }};
                                                        --spacing-top: {{ padding_top_sub | append: 'px' }};
                                                        --spacing-bottom: {{ padding_bottom_sub | append: 'px' }};
                                                        --spacing-top-mobile: {{ padding_top_sub | times: 0.5 | round: 0 | append: 'px' }};
                                                        --spacing-bottom-mobile:  {% if padding_bottom_sub != blank %}10px{% else %}{{ padding_bottom_sub | times: 0.5 | round: 0 | append: 'px' }}{% endif %};
                                                        --spacing-top-tablet: {{ padding_top_sub | times: 0.75 | round: 0 | append: 'px' }};
                                                        --spacing-bottom-tablet:  {% if padding_bottom_sub != blank %}10px{% else %}{{ padding_bottom_sub | times: 0.75 | round: 0 | append: 'px' }}{% endif %};"
                                                >
                                                    {{ newsletter_sub }}
                                                </div>
                                            {%- endif -%}
                                            {%- if newsletter_text != blank -%}
                                                <div class="newsletter-item__desc desc rte element-spacing"
                                                    style="--spacing-top: {{ padding_top_text | append: 'px' }};
                                                        --spacing-bottom: {{ padding_bottom_text | append: 'px' }};
                                                        --spacing-top-mobile: {{ padding_top_text | times: 0.5 | round: 0 | append: 'px' }};
                                                        --spacing-bottom-mobile:  {% if padding_bottom_text != blank %}10px{% else %}{{ padding_bottom_text | times: 0.5 | round: 0 | append: 'px' }}{% endif %};
                                                        --spacing-top-tablet: {{ padding_top_text | times: 0.75 | round: 0 | append: 'px' }};
                                                        --spacing-bottom-tablet:  {% if padding_bottom_text != blank %}10px{% else %}{{ padding_bottom_text | times: 0.75 | round: 0 | append: 'px' }}{% endif %};"
                                                >
                                                    {{ newsletter_text }}
                                                </div>
                                            {%- endif -%}
                                        {%- endfor -%}
                                    </div>
                                {%- endif -%}
                                {%- if block_newsletter.size > 0 -%}
                                    <div class="{% unless choose_style == 'horizontal' %}newsletter-block__item {% endunless %}halo-block__newsletter">
                                        {% for block in block_newsletter %}
                                            {%- liquid 
                                                assign newsletter_text_2 = block.settings.newsletter_text_2
                                                assign show_newsletter = block.settings.show_newsletter
                                                if show_newsletter
                                                    assign layout = block.settings.layout
                                                    assign padding_top = block.settings.padding_top
                                                    assign padding_bottom = block.settings.padding_bottom
                                                
                                                    assign newsletter_bg = block.settings.newsletter_bg
                                                    assign newsletter_color = block.settings.newsletter_color
                                                    assign newsletter_border = block.settings.newsletter_border
                                                    assign newsletter_btn_bg = block.settings.newsletter_btn_bg
                                                    assign newsletter_btn_color = block.settings.newsletter_btn_color
                                                    assign newsletter_btn_border = block.settings.newsletter_btn_border
                                                endif
                                            -%}
                                            {%- if show_newsletter != blank -%}
                                                <div class="newsletter-item__form newsletter-style-{{ layout }} element-spacing"
                                                    style="--spacing-top: {{ padding_top | append: 'px' }};
                                                        --spacing-bottom: {{ padding_bottom | append: 'px' }};
                                                        --spacing-top-mobile: {{ padding_top | times: 0.5 | round: 0 | append: 'px' }};
                                                        --spacing-bottom-mobile: {{ padding_bottom | times: 0.5 | round: 0 | append: 'px' }};
                                                        --spacing-top-tablet: {{ padding_top | times: 0.75 | round: 0 | append: 'px' }};
                                                        --spacing-bottom-tablet: {{ padding_bottom | times: 0.75 | round: 0 | append: 'px' }};

                                                        --newsletter-bg: {{ newsletter_bg }};
                                                        --newsletter-color: {{ newsletter_color }};
                                                        --newsletter-border: {{ newsletter_border }};

                                                        --newsletter-btn-bg: {{ newsletter_btn_bg }};
                                                        --newsletter-btn-color: {{ newsletter_btn_color }};
                                                        --newsletter-btn-border: {{ newsletter_btn_border }};"
                                                >
                                                    <div class="block__newsletter-item">
                                                        {% render 'newsletter-form',
                                                            newsletter_text: block.settings.newsletter_text_2,
                                                            footer_layout: layout,
                                                            form_id: section.id
                                                        %}
                                                    </div>
                                                </div>
                                            {%- endif -%}
                                            {%- if newsletter_text_2 != blank -%}
                                                {%- unless layout == '7' -%}
                                                    <div class="newsletter-block__subheading bottom-text rte">
                                                        {{ newsletter_text_2 }}
                                                    </div>
                                                {%- endunless -%}
                                            {%- endif -%}
                                        {%- endfor -%}
                                    </div>
                                {%- endif -%}
                            {%- if choose_style == 'horizontal' -%}
                                </div>
                            {%- endif -%}
                        {%- endif -%}

                        {%- if block_icon.size > 0 -%}
                            {%- if choose_style == 'horizontal' -%}
                                <div class="icon-block-horizontal newsletter-block__item">
                            {%- endif -%}
                                {% for block in block_icon %}
                                    {%- liquid
                                        assign choose_icon = block.settings.choose_icon
                                        assign padding_top = block.settings.padding_top
                                        assign padding_bottom = block.settings.padding_bottom
                                        if choose_icon == 'social-icon'
                                            assign show_social = block.settings.show_social
                                            if show_social 
                                                assign choose_style_social = block.settings.choose_style_social
                                                assign choose_social_align = block.settings.choose_social_align
                                                assign social_bg = block.settings.social_bg
                                                assign social_color = block.settings.social_color
                                                assign social_bg_hover = block.settings.social_bg_hover
                                                assign social_color_hover = block.settings.social_color_hover
                                            endif
                                        elsif choose_icon == 'custom-icon'
                                            assign show_icon_with_text = block.settings.show_icon_with_text
                                            if show_icon_with_text
                                                assign icon_with_text_heading = block.settings.icon_with_text_heading
                                                assign icon_with_text_icon = block.settings.icon_with_text_icon
                                                assign icon_with_text_text = block.settings.icon_with_text_text
                                                assign icon_with_text_link_text = block.settings.icon_with_text_link_text
                                                assign icon_with_text_link_url = block.settings.icon_with_text_link_url
                                            endif
                                        endif
                                    -%}
                                    {%- if choose_icon == 'social-icon' -%}
                                        {%- if show_social -%}
                                            <div class="{% unless choose_style == 'horizontal' %}newsletter-block__item {% endunless %}newsletter-block__list-social{% unless choose_style_social == '1' %} style-{{ choose_style_social }}{% endunless %} element-spacing"
                                                style="--spacing-top: {{ padding_top | append: 'px' }};
                                                    --spacing-bottom: {{ padding_bottom | append: 'px' }};
                                                    --spacing-top-mobile: {% if padding_top != blank %}20px{% else %}{{ padding_top | times: 0.5 | round: 0 | append: 'px' }}{% endif %};
                                                    --spacing-bottom-mobile: {{ padding_bottom | times: 0.5 | round: 0 | append: 'px' }};
                                                    --spacing-top-tablet: {% if padding_top != blank %}20px{% else %}{{ padding_top | times: 0.75 | round: 0 | append: 'px' }}{% endif %};
                                                    --spacing-bottom-tablet: {{ padding_bottom | times: 0.75 | round: 0 | append: 'px' }};
                                                    --choose-social-align: {{ choose_social_align }};
                                                    --social-bg: {{ social_bg }};
                                                    --social-color: {{ social_color }};
                                                    --social-bg-hover: {{ social_bg_hover }};
                                                    --social-color-hover: {{ social_color_hover }};
                                                "
                                            >
                                                <div class="item clearfix">
                                                    {% render 'halo-social-media-icons',
                                                        block: block,
                                                        show_social: true,
                                                        footer_layout: '1'
                                                    %}
                                                </div>
                                            </div>
                                        {%- endif -%}
                                    {%- elsif choose_icon == 'custom-icon' -%}
                                        {%- if show_icon_with_text -%}
                                            <div class="{% unless choose_style == 'horizontal' %}newsletter-block__item {% endunless %}newsletter-block__icon-text footer-icon-text column-1 element-spacing"
                                                style="--spacing-top: {{ padding_top | append: 'px' }};
                                                    --spacing-bottom: {{ padding_bottom | append: 'px' }};
                                                    --spacing-top-mobile: {% if padding_top != blank %}20px{% else %}{{ padding_top | times: 0.5 | round: 0 | append: 'px' }}{% endif %};
                                                    --spacing-bottom-mobile: {{ padding_bottom | times: 0.5 | round: 0 | append: 'px' }};
                                                    --spacing-top-tablet: {% if padding_top != blank %}20px{% else %}{{ padding_top | times: 0.75 | round: 0 | append: 'px' }}{% endif %};
                                                    --spacing-bottom-tablet: {{ padding_bottom | times: 0.75 | round: 0 | append: 'px' }};"
                                            >
                                                <div class="item clearfix">
                                                    <div class="wrapper-item">
                                                        {%- if icon_with_text_icon != blank -%}
                                                            <div class="item-icon">
                                                                {{ icon_with_text_icon }}
                                                            </div>
                                                        {%- endif -%}
                                                        {%- if icon_with_text_heading != blank or icon_with_text_text != blank or icon_with_text_link_text != blank -%}
                                                            <div class="item-content text-left">
                                                                {%- if icon_with_text_heading != blank -%}
                                                                    <h3 class="title">{{ icon_with_text_heading | escape }}</h3>
                                                                {%- endif -%}
                                                                {%- if icon_with_text_text != blank -%}
                                                                    <p class="subtitle">{{ icon_with_text_text }}</p>
                                                                {%- endif -%}
                                                                {%- if icon_with_text_link_text != blank -%}
                                                                    <a href="{{ icon_with_text_link_url }}" class="link link-underline text-underline">
                                                                        <span class="text">{{ icon_with_text_link_text }}</span>
                                                                    </a>
                                                                {%- endif -%}
                                                            </div>
                                                        {%- endif -%}
                                                    </div>
                                                </div>
                                            </div>
                                        {%- endif -%}
                                    {%- endif -%}
                                {%- endfor -%}
                            {%- if choose_style == 'horizontal' -%}
                                </div>
                            {%- endif -%}
                        {%- endif -%}
                    {%- if choose_style == 'horizontal' -%}
                        </div>
                    {%- endif -%}
                {%- endfor -%}
            </div>
        </div>
    </div>
{%- endif -%}

{% schema %}
{
    "name": "t:sections.newsletter.name",
    "settings": [
        {
            "type": "header",
            "content": "t:sections.newsletter.settings.general.name"
        },
        {
            "type": "checkbox",
            "id": "show_newsletter",
            "label": "t:sections.newsletter.settings.general.label__1",
            "default": true
        },
        {
            "type": "select",
            "id": "container",
            "label": "t:sections.general.settings.container.label__1",
            "default": "1770",
            "options": [
            {
                "value": "1170",
                "label": "t:sections.general.settings.container.options__1"
            },
            {
                "value": "1370",
                "label": "t:sections.general.settings.container.options__2"
            },
            {
                "value": "1570",
                "label": "t:sections.general.settings.container.options__3"
            },
            {
                "value": "1770",
                "label": "t:sections.general.settings.container.options__4"
            },
            {
                "value": "1860",
                "label": "t:sections.general.settings.container.options__5"
            },
            {
                "value": "full",
                "label": "t:sections.general.settings.container.options__6"
            }],
            "info": "t:sections.general.settings.container.info"
        },
        {
            "type": "paragraph",
            "content": "t:sections.general.settings.padding.paragraph__1.content"
        },
        {
            "type": "range",
            "id": "padding_top",
            "label": "t:sections.general.settings.padding.label__1",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "t:sections.general.settings.padding.unit",
            "default": 40
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "label": "t:sections.general.settings.padding.label__2",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "t:sections.general.settings.padding.unit",
            "default": 40
        },
        {
            "type": "paragraph",
            "content": "t:sections.general.settings.padding.paragraph__2.content"
        },
        {
            "type": "range",
            "id": "padding_top_tablet",
            "label": "t:sections.general.settings.padding.label__1",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "t:sections.general.settings.padding.unit",
            "default": 40
        },
        {
            "type": "range",
            "id": "padding_bottom_tablet",
            "label": "t:sections.general.settings.padding.label__2",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "t:sections.general.settings.padding.unit",
            "default": 40
        },
        {
            "type": "paragraph",
            "content": "t:sections.general.settings.padding.paragraph__3.content"
        },
        {
            "type": "range",
            "id": "padding_top_mobile",
            "label": "t:sections.general.settings.padding.label__1",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "t:sections.general.settings.padding.unit",
            "default": 30
        },
        {
            "type": "range",
            "id": "padding_bottom_mobile",
            "label": "t:sections.general.settings.padding.label__2",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "t:sections.general.settings.padding.unit",
            "default": 30
        },
        {
            "type": "header",
            "content": "t:sections.newsletter.settings.general.label__2"
        },
        {
            "type": "select",
            "id": "choose_style",
            "label": "t:sections.newsletter.settings.general.label__3",
            "default": "vertical",
            "options": [
                {
                    "value": "horizontal",
                    "label": "t:sections.newsletter.settings.general.options__1"
                },
                {
                    "value": "vertical",
                    "label": "t:sections.newsletter.settings.general.options__2"
                }]
        },
        {
            "type": "checkbox",
            "id": "show_border",
            "label": "t:sections.newsletter.settings.general.label__4",
            "default": false
        },
        {
            "type": "select",
            "id": "text_align",
            "label": "t:sections.general.settings.aligmnent.label__1",
            "default": "center",
            "options": [
            {
                "value": "left",
                "label": "t:sections.general.settings.aligmnent.options__1"
            },
            {
                "value": "center",
                "label": "t:sections.general.settings.aligmnent.options__2"
            },
            {
                "value": "right",
                "label": "t:sections.general.settings.aligmnent.options__3"
            }]
        },
        {
            "type": "paragraph",
            "content": "t:sections.general.settings.typography.paragraph__1.content"
        },
        {
            "type": "select",
            "id": "heading_font",
            "label": "t:settings_schema.typography.settings.font.label",
            "options": [
            {
                "value": "font_1",
                "label": "t:settings_schema.typography.settings.font.options__1"
            },
            {
                "value": "font_2",
                "label": "t:settings_schema.typography.settings.font.options__2"
            },
            {
                "value": "font_3",
                "label": "t:settings_schema.typography.settings.font.options__3"
            }],
            "default": "font_1"
        },
        {
            "type": "range",
            "id": "heading_font_size",
            "label": "t:settings_schema.typography.settings.font_size.label",
            "min": 10,
            "max": 45,
            "step": 1,
            "unit": "t:settings_schema.typography.settings.font_size.unit",
            "default": 25
        },
        {
            "type": "select",
            "id": "heading_font_weight",
            "label": "t:settings_schema.typography.settings.font_weight.label",
            "default": "900",
            "options": [
            {
                "value": "400",
                "label": "t:settings_schema.typography.settings.font_weight.options__1"
            },
            {
                "value": "500",
                "label": "t:settings_schema.typography.settings.font_weight.options__2"
            },
            {
                "value": "600",
                "label": "t:settings_schema.typography.settings.font_weight.options__3"
            },
            {
                "value": "700",
                "label": "t:settings_schema.typography.settings.font_weight.options__4"
            },
            {
                "value": "800",
                "label": "t:settings_schema.typography.settings.font_weight.options__5"
            },
            {
                "value": "900",
                "label": "t:settings_schema.typography.settings.font_weight.options__6"
            }]
        },
        {
            "type": "select",
            "id": "heading_text_transform",
            "label": "t:settings_schema.typography.settings.text_transform.label",
            "default": "uppercase",
            "options": [
            {
                "value": "none",
                "label": "t:settings_schema.typography.settings.text_transform.options__1"
            },
            {
                "value": "capitalize",
                "label": "t:settings_schema.typography.settings.text_transform.options__2"
            },
            {
                "value": "uppercase",
                "label": "t:settings_schema.typography.settings.text_transform.options__3"
            },
            {
                "value": "lowercase",
                "label": "t:settings_schema.typography.settings.text_transform.options__4"
            }]
        },
        {
            "type": "select",
            "id": "heading_font_style",
            "label": "t:settings_schema.typography.settings.font_style.label",
            "default": "normal",
            "options": [
                {
                    "value": "normal",
                    "label": "t:settings_schema.typography.settings.font_style.options__1"
                },
                {
                    "value": "italic",
                    "label": "t:settings_schema.typography.settings.font_style.options__2"
                }
            ]
        },
        {
            "type": "paragraph",
            "content": "t:sections.general.settings.typography.paragraph__2.content"
        },
        {
            "type": "select",
            "id": "link_font",
            "label": "t:settings_schema.typography.settings.font.label",
            "options": [
            {
                "value": "font_1",
                "label": "t:settings_schema.typography.settings.font.options__1"
            },
            {
                "value": "font_2",
                "label": "t:settings_schema.typography.settings.font.options__2"
            },
            {
                "value": "font_3",
                "label": "t:settings_schema.typography.settings.font.options__3"
            }],
            "default": "font_1"
        },
        {
            "type": "range",
            "id": "link_font_size",
            "label": "t:settings_schema.typography.settings.font_size.label",
            "min": 10,
            "max": 20,
            "step": 1,
            "unit": "t:settings_schema.typography.settings.font_size.unit",
            "default": 15
        },
        {
            "type": "select",
            "id": "link_font_weight",
            "label": "t:settings_schema.typography.settings.font_weight.label",
            "default": "400",
            "options": [
            {
                "value": "400",
                "label": "t:settings_schema.typography.settings.font_weight.options__1"
            },
            {
                "value": "500",
                "label": "t:settings_schema.typography.settings.font_weight.options__2"
            },
            {
                "value": "600",
                "label": "t:settings_schema.typography.settings.font_weight.options__3"
            },
            {
                "value": "700",
                "label": "t:settings_schema.typography.settings.font_weight.options__4"
            },
            {
                "value": "800",
                "label": "t:settings_schema.typography.settings.font_weight.options__5"
            },
            {
                "value": "900",
                "label": "t:settings_schema.typography.settings.font_weight.options__6"
            }]
        },
        {
            "type": "select",
            "id": "link_text_transform",
            "label": "t:settings_schema.typography.settings.text_transform.label",
            "default": "capitalize",
            "options": [
            {
                "value": "none",
                "label": "t:settings_schema.typography.settings.text_transform.options__1"
            },
            {
                "value": "capitalize",
                "label": "t:settings_schema.typography.settings.text_transform.options__2"
            },
            {
                "value": "uppercase",
                "label": "t:settings_schema.typography.settings.text_transform.options__3"
            },
            {
                "value": "lowercase",
                "label": "t:settings_schema.typography.settings.text_transform.options__4"
            }]
        },
        {
            "type": "paragraph",
            "content": "t:sections.general.settings.color.paragraph__1.content"
        },
        {
            "type": "color_background",
            "id": "block_bg",
            "label": "t:sections.general.settings.color.label__1",
            "default": "#C7C7C7"
        },
        {
            "type": "color",
            "id": "link_color",
            "label": "t:sections.general.settings.color.label__2",
            "default": "#202020"
        },
        {
            "type": "color",
            "id": "heading_color",
            "label": "t:sections.general.settings.color.label__7",
            "default": "#202020"
        },
        {
            "type": "paragraph",
            "content": "t:sections.general.settings.background-image.paragraph__1.content"
        },
        {
            "type": "checkbox",
            "id": "show_newsletter_bg_img",
            "label": "t:sections.general.settings.background-image.label__1",
            "default": false
        },
        {
            "type": "image_picker",
            "id": "newsletter_bg_img",
            "label": "t:sections.general.settings.background-image.label__2"
        },
        {
            "type": "select",
            "id": "newsletter_bg_position_x",
            "label": "t:sections.general.settings.background-image.label__3",
            "default": "center",
            "options": [
            {
                "value": "left",
                "label": "t:sections.general.settings.background-image.options__1"
            },
            {
                "value": "center",
                "label": "t:sections.general.settings.background-image.options__2"
            },
            {
                "value": "right",
                "label": "t:sections.general.settings.background-image.options__3"
            }]
        },
        {
            "type": "select",
            "id": "newsletter_bg_position_y",
            "label": "t:sections.general.settings.background-image.label__4",
            "default": "center",
            "options": [
            {
                "value": "top",
                "label": "t:sections.general.settings.background-image.options__4"
            },
            {
                "value": "center",
                "label": "t:sections.general.settings.background-image.options__2"
            },
            {
                "value": "bottom",
                "label": "t:sections.general.settings.background-image.options__5"
            }]
        },
        {
            "type": "select",
            "id": "newsletter_bg_repeat",
            "label": "t:sections.general.settings.background-image.label__5",
            "default": "no-repeat",
            "options": [
            {
                "value": "repeat",
                "label": "t:sections.general.settings.background-image.options__6"
            },
            {
                "value": "repeat-x",
                "label": "t:sections.general.settings.background-image.options__7"
            },
            {
                "value": "repeat-y",
                "label": "t:sections.general.settings.background-image.options__8"
            },
            {
                "value": "no-repeat",
                "label": "t:sections.general.settings.background-image.options__9"
            }]
        },
        {
            "type": "select",
            "id": "newsletter_bg_attachment",
            "label": "t:sections.general.settings.background-image.label__6",
            "default": "scroll",
            "options": [
            {
                "value": "scroll",
                "label": "t:sections.general.settings.background-image.options__10"
            },
            {
                "value": "fixed",
                "label": "t:sections.general.settings.background-image.options__11"
            }]
        },
        {
            "type": "select",
            "id": "newsletter_bg_size",
            "label": "t:sections.general.settings.background-image.label__7",
            "default": "cover",
            "options": [
            {
                "value": "contain",
                "label": "t:sections.general.settings.background-image.options__12"
            },
            {
                "value": "auto",
                "label": "t:sections.general.settings.background-image.options__13"
            },
            {
                "value": "cover",
                "label": "t:sections.general.settings.background-image.options__14"
            }]
        }
    ],
    "blocks": [
        {
            "type": "text",
            "name": "t:sections.newsletter.blocks.name",
            "limit": 1,
            "settings": [
                {
                    "type": "header",
                    "content": "t:sections.footer.settings.footer_top.label__2"
                },
                {
                    "type": "image_picker",
                    "id": "newsletter_logo",
                    "label": "t:sections.footer.settings.footer_top.label__2"
                },
                {
                    "type": "range",
                    "id": "padding_top",
                    "min": 0,
                    "max": 50,
                    "step": 1,
                    "unit": "px",
                    "label": "t:sections.general.settings.padding.label__1",
                    "default": 20
                },
                {
                    "type": "range",
                    "id": "padding_bottom",
                    "min": 0,
                    "max": 50,
                    "step": 1,
                    "unit": "px",
                    "label": "t:sections.general.settings.padding.label__2",
                    "default": 20
                },
                {
                    "type": "header",
                    "content": "t:sections.footer.settings.newsletter.label__2"
                },
                {
                    "type": "text",
                    "id": "newsletter_heading",
                    "label": "t:sections.footer.settings.newsletter.label__2",
                    "default": "Love HALO? Subscribe now!"
                },
                {
                    "type": "range",
                    "id": "padding_top_heading",
                    "min": 0,
                    "max": 50,
                    "step": 1,
                    "unit": "px",
                    "label": "t:sections.general.settings.padding.label__1",
                    "default": 0
                },
                {
                    "type": "range",
                    "id": "padding_bottom_heading",
                    "min": 0,
                    "max": 50,
                    "step": 1,
                    "unit": "px",
                    "label": "t:sections.general.settings.padding.label__2",
                    "default": 0
                },
                {
                    "type": "header",
                    "content": "t:sections.footer.settings.newsletter.label__5"
                },
                {
                    "type": "richtext",
                    "id": "newsletter_sub",
                    "label": "t:sections.footer.settings.newsletter.label__5"
                },
                {
                    "type": "select",
                    "id": "newsletter_sub_font",
                    "label": "t:settings_schema.typography.settings.font.label",
                    "options": [
                    {
                        "value": "font_1",
                        "label": "t:settings_schema.typography.settings.font.options__1"
                    },
                    {
                        "value": "font_2",
                        "label": "t:settings_schema.typography.settings.font.options__2"
                    },
                    {
                        "value": "font_3",
                        "label": "t:settings_schema.typography.settings.font.options__3"
                    }],
                    "default": "font_1"
                },
                {
                    "type": "range",
                    "id": "newsletter_sub_font_size",
                    "label": "t:settings_schema.typography.settings.font_size.label",
                    "min": 10,
                    "max": 22,
                    "step": 1,
                    "unit": "t:settings_schema.typography.settings.font_size.unit",
                    "default": 15
                },
                {
                    "type": "range",
                    "id": "padding_top_sub",
                    "min": 0,
                    "max": 50,
                    "step": 1,
                    "unit": "px",
                    "label": "t:sections.general.settings.padding.label__1",
                    "default": 0
                },
                {
                    "type": "range",
                    "id": "padding_bottom_sub",
                    "min": 0,
                    "max": 50,
                    "step": 1,
                    "unit": "px",
                    "label": "t:sections.general.settings.padding.label__2",
                    "default": 0
                },
                {
                    "type": "header",
                    "content": "t:sections.footer.settings.newsletter.label__3"
                },
                {
                    "type": "richtext",
                    "id": "newsletter_text",
                    "label": "t:sections.footer.settings.newsletter.label__3",
                    "default": "<p>Receive early access, wishlist on discount and more. Your privacy is our policy.</p>"
                },
                {
                    "type": "range",
                    "id": "padding_top_text",
                    "min": 0,
                    "max": 50,
                    "step": 1,
                    "unit": "px",
                    "label": "t:sections.general.settings.padding.label__1",
                    "default": 0
                },
                {
                    "type": "range",
                    "id": "padding_bottom_text",
                    "min": 0,
                    "max": 50,
                    "step": 1,
                    "unit": "px",
                    "label": "t:sections.general.settings.padding.label__2",
                    "default": 0
                }
            ]
        },
        {
            "type": "newsletter",
            "name": "t:sections.newsletter.blocks.name__2",
            "limit": 1,
            "settings": [
                {
                    "type": "header",
                    "content": "t:sections.footer.settings.header__1.content",
                    "info": "t:sections.footer.settings.header__1.info"
                },
                {
                    "type": "checkbox",
                    "id": "show_newsletter",
                    "label": "t:sections.footer.settings.newsletter.label__1",
                    "default": true
                },
                {
                    "type" : "select",
                    "id" : "layout",
                    "label" : "t:sections.general.settings.style.label__1",
                    "default": "1",
                    "options": [
                        {
                            "value": "1",
                            "label": "1"
                        },
                        {
                            "value": "3",
                            "label": "2"
                        },
                        {
                            "value": "5",
                            "label": "3"
                        },
                        {
                            "value": "7",
                            "label": "4"
                        },
                        {
                            "value": "8",
                            "label": "5"
                        },
                        {
                            "value": "9",
                            "label": "6"
                        },
                        {
                            "value": "2",
                            "label": "7"
                        },
                        {
                            "value": "4",
                            "label": "8"
                        }
                    ]
                },
                {
                    "type": "range",
                    "id": "padding_top",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit": "px",
                    "label": "t:sections.general.settings.padding.label__1",
                    "default": 25
                },
                {
                    "type": "range",
                    "id": "padding_bottom",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit": "px",
                    "label": "t:sections.general.settings.padding.label__2",
                    "default": 17
                },
                {
                    "type": "richtext",
                    "id": "newsletter_text_2",
                    "label": "t:sections.footer.settings.newsletter.label__4",
                    "default": "<p>By subscribing, I accept the privacy terms and I give my consent to receive HALO newsletter.</p>"
                },
                {
                    "type": "header",
                    "content": "t:sections.newsletter.settings.general.label__2"
                },
                {
                    "type": "paragraph",
                    "content": "t:sections.general.settings.color.paragraph__5.content"
                },
                {
                    "type": "color_background",
                    "id": "newsletter_bg",
                    "label": "t:sections.general.settings.color.label__1",
                    "default": "#2E2E2E"
                },
                {
                    "type": "color",
                    "id": "newsletter_color",
                    "label": "t:sections.general.settings.color.label__2",
                    "default": "#FFFFFF"
                },
                {
                    "id": "newsletter_border",
                    "type": "color",
                    "label": "t:sections.general.settings.color.label__5",
                    "default": "#C7C7C7"
                },
                {
                    "type": "paragraph",
                    "content": "t:sections.general.settings.color.paragraph__4.content"
                },
                {
                    "type": "color_background",
                    "id": "newsletter_btn_bg",
                    "label": "t:sections.general.settings.color.label__17",
                    "default": "#fff1dc"
                },
                {
                    "type": "color",
                    "id": "newsletter_btn_color",
                    "label": "t:sections.general.settings.color.label__18",
                    "default": "#202020"
                },
                {
                    "type": "color",
                    "id": "newsletter_btn_border",
                    "label": "t:sections.general.settings.color.label__5",
                    "default": "#505050"
                }
            ]
        },
        {
            "type": "icon",
            "name": "t:sections.newsletter.blocks.name__3",
            "limit": 1,
            "settings": [
                {
                    "type": "header",
                    "content": "t:sections.newsletter.settings.general.name"
                },
                {
                    "type": "select",
                    "id": "choose_icon",
                    "label": "t:sections.newsletter.blocks.label__1",
                    "default": "social-icon",
                    "options": [
                        {
                            "value": "social-icon",
                            "label": "t:sections.footer.settings.header__2.content"
                        },
                        {
                            "value": "custom-icon",
                            "label": "t:sections.footer.settings.header__9.content"
                        }
                    ]
                },
                {
                    "type": "range",
                    "id": "padding_top",
                    "min": 0,
                    "max": 50,
                    "step": 1,
                    "unit": "px",
                    "label": "t:sections.general.settings.padding.label__1",
                    "default": 0
                },
                {
                    "type": "range",
                    "id": "padding_bottom",
                    "min": 0,
                    "max": 50,
                    "step": 1,
                    "unit": "px",
                    "label": "t:sections.general.settings.padding.label__2",
                    "default": 0
                },
                {
                    "type": "header",
                    "content": "t:sections.footer.settings.header__2.content",
                    "info": "t:sections.footer.settings.header__2.info"
                },
                {
                    "type": "checkbox",
                    "id": "show_social",
                    "label": "t:sections.footer.settings.social_media_link.label__1",
                    "default": true
                },
                {
                    "type": "select",
                    "id": "choose_style_social",
                    "label": "t:settings_schema.layouts.settings.general.label__1",
                    "default": "1",
                    "options": [
                        {
                            "value": "1",
                            "label": "1"
                        },
                        {
                            "value": "2",
                            "label": "2"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "choose_social_align",
                    "label": "t:sections.general.settings.aligmnent.label__1",
                    "default": "center",
                    "options": [
                        {
                            "value": "left",
                            "label": "t:sections.general.settings.aligmnent.options__1"
                        },
                        {
                            "value": "center",
                            "label": "t:sections.general.settings.aligmnent.options__2"
                        },
                        {
                            "value": "right",
                            "label": "t:sections.general.settings.aligmnent.options__3"
                        }
                    ]
                },
                {
                    "type": "paragraph",
                    "content": "t:sections.general.settings.color.paragraph__1.content"
                },
                {
                    "type": "color_background",
                    "id": "social_bg",
                    "label": "t:sections.general.settings.color.label__1",
                    "default": "#2E2E2E"
                },
                {
                    "type": "color",
                    "id": "social_color",
                    "label": "t:sections.general.settings.color.label__4",
                    "default": "#FFFFFF"
                },
                {
                    "type": "paragraph",
                    "content": "t:sections.general.settings.color.paragraph__2.content"
                },
                {
                    "type": "color_background",
                    "id": "social_bg_hover",
                    "label": "t:sections.general.settings.color.label__1",
                    "default": "#BC1B3B"
                },
                {
                    "type": "color",
                    "id": "social_color_hover",
                    "label": "t:sections.general.settings.color.label__4",
                    "default": "#FFFFFF"
                },
                {
                    "type": "header",
                    "content": "t:sections.footer.settings.header__9.content"
                },
                {
                    "type": "checkbox",
                    "id": "show_icon_with_text",
                    "label": "t:sections.footer.settings.custom_icon_text.label__1",
                    "default": true
                },
                {
                    "type": "text",
                    "id": "icon_with_text_heading",
                    "label": "t:sections.footer.settings.custom_icon_text.label__2",
                    "default": "Member's benifits"
                },
                {
                    "type": "textarea",
                    "id": "icon_with_text_icon",
                    "label": "t:sections.footer.settings.custom_icon_text.label__3"
                },
                {
                    "type": "text",
                    "id": "icon_with_text_text",
                    "label": "t:sections.footer.settings.custom_icon_text.label__4",
                    "default": "Accusamus et iusto odio lorem voluptatum."
                },
                {
                    "type": "text",
                    "id": "icon_with_text_link_text",
                    "label": "t:sections.footer.settings.custom_icon_text.label__5",
                    "default": "Register now"
                },
                {
                    "type": "url",
                    "id": "icon_with_text_link_url",
                    "label": "t:sections.footer.settings.custom_icon_text.label__6"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "t:sections.newsletter.name",
            "blocks": [
                {
                    "type": "text"
                },
                {
                    "type": "newsletter"
                },
                {
                    "type": "icon"
                }
            ]
        }
    ],
    "disabled_on": {
        "groups": ["header" ]
    }
}
{% endschema %}