{{ 'component-section-password.css' | asset_url | stylesheet_tag }}
{%- liquid
    assign background_color = section.settings.background_color
    assign logo_color = section.settings.logo_color
    assign title_color = section.settings.title_color
    assign subtitle_color = section.settings.subtitle_color
    assign btn = section.settings.btn
    assign brand_type = section.settings.brand_type
    assign brand_logo = section.settings.brand_logo
    assign brand_text = section.settings.brand_text
    assign banner = section.settings.banner
    assign show_countdown = section.settings.show_countdown
    if show_countdown
        assign countdown = section.settings.countdown
        assign countdown_color = section.settings.countdown_color
    endif
    assign show_social_media = section.settings.show_social_media
    if show_social_media
        assign social_media_color = section.settings.social_media_color
    endif
-%}
<div class="password-page password-template password-template-2"
    style="--bg-color: {{ background_color }};
    --bg-color: {{ background_color }};"
>
	<div class="password-background">
    	{%- if banner != blank -%}
    		<img srcset="{{ banner | img_url: 'master' }} 1x, {{ banner | img_url: 'master', scale: 2 }} 2x" 
            src="{{ banner | img_url: 'master' }}" 
            alt="{{ banner.alt | default: shop.name | escape }}" 
            loading="lazy">
    	{%- endif -%}
    </div>
    <div class="password-content">
        <div class="password-contentItem password-contentCenter">
			<div class="password-header">
                <h1 class="header-logo">
                    {%- if brand_type == 'image' and brand_logo != blank -%}
                        <a class="logo-img" href="/" title="Logo">
                            <img srcset="{{ brand_logo | img_url: 'master' }} 1x, {{ brand_logo | img_url: 'master', scale: 2 }} 2x"
                                src="{{ brand_logo | img_url: 'master' }}"
                                loading="lazy"
                                alt="{{ brand_logo.alt | default: shop.name | escape }}">
                        </a>
                    {%- elsif brand_text != '' -%}
                        <a class="logo-title" href="/">
                            {{ brand_text }}
                        </a>
                    {%- else -%}
                        <a class="logo-title" href="/">
                            {{ shop.name }}
                        </a>
                    {%- endif -%}
                </h1>
            </div>
            <div class="password-body">
                <div class="password-info">
                    {%- if shop.password_message and shop.password_message != '' -%}
                        {{ shop.password_message }}
                    {%- else -%}
                        {%- liquid
                            assign title = section.settings.title
                            assign subtitle = section.settings.subtitle
                        -%}
                    	{%- if title != blank -%}
                        	<h3 class="password-title">
                                {{ title }}   
                            </h3>
                        {%- endif -%}
                        {%- if subtitle != blank -%}
                        	<span class="password-subtitle">
                                {{ subtitle }}
                            </span>
                        {%- endif -%}
                        {%- if show_countdown and countdown != blank -%}
                        	<div class="password-countdown" data-countdown="{{ countdown }}" id="PasswordCountdown" 
                                style="--countdown-color: {{ countdown_color }};" 
                            ></div>
                        {%- endif -%}
                    {%- endif -%}
                </div>
                <div class="password-form">
                    {%- form 'storefront_password', autocomplete:"off" -%}
                        {%- if form.errors -%}
                            {%- assign message = form.errors | default_errors | strip_html -%}
                            <div class="form-message">
                                <div class="alertBox alertBox--error">
                                    <p class="alertBox-message">
                                        {{ message }}
                                    </p>
                                </div>
                            </div>
                        {%- endif -%}
                        <div class="form-field">
                            <label class="form-label" for='password'>{{ 'general.password_page.label' | t }}</label>
                            <input class="form-input form-input-placeholder" type='password' name='password' id='password' autocomplete="new-password" placeholder="{{ 'general.password_page.input' | t }}" />
                        </div>
                        <div class="form-actions actions">
                            <input class="button button-{{ btn }}" name="commit" type="submit" value="{{ 'general.password_page.submit' | t }}" />
                        </div>
                    {%- endform -%}
                </div>
            </div>
            {%- if show_social_media -%}
                <div class="password-footer">
                    {% render 'halo-social-media-icons' %}
                </div>
            {%- endif -%}
        </div>
    </div>
</div>
{%- if show_countdown and countdown != blank -%}
	<script type="text/javascript">
		var passwordCountdown = document.getElementById('PasswordCountdown');

        if (!passwordCountdown) return;

        var countDownDate = new Date(passwordCountdown.dataset.countdown).getTime();

        var countdown = setInterval(() => {
            let now = new Date().getTime();
            let distance = time - now;

            if (distance < 0) {
                clearInterval(countdown);
                passwordCountdown.remove();
            } else {
                let day = Math.floor(distance / (1000 * 60 * 60 * 24)),
                    hour = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)),
                    minute = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60)),
                    second = Math.floor((distance % (1000 * 60)) / 1000),
                    content;

                    content = `<span class="num">${day}</span><span class="text">${window.countdown.days}</span>\
                        <span class="num">${hour}</span><span class="text">${window.countdown.hours}</span>\
                        <span class="num">${minute}</span><span class="text">${window.countdown.mins}</span>\
                        <span class="num">${second}</span><span class="text">${window.countdown.secs}</span>`;

                passwordCountdown.innerHTML = content;
            }
        }, 1000);
	</script>
{%- endif -%}
{% schema %}
    {
        "name": "t:sections.main-password.name",
        "settings": [
        {
            "type": "header",
            "content": "t:sections.main-password.settings.header__1.content"
        },
        {
            "type": "color_background",
            "id": "background_color",
            "label": "t:sections.general.settings.color.label__1"
        },
        {
            "type": "header",
            "content": "t:sections.main-password.settings.header__2.content"
        },
        {
            "type": "select",
            "id": "brand_type",
            "label": "t:sections.main-password.settings.logo.label__1",
            "default": "text",
            "options": [
            {
                "value": "text",
                "label": "t:sections.main-password.settings.logo.options__1"
            },
            {
                "value": "image",
                "label": "t:sections.main-password.settings.logo.options__2"
            }]
        },
        {
            "type": "header",
            "content": "t:sections.main-password.settings.logo.paragraph__1.content"
        },
        {
            "type": "text",
            "id": "brand_text",
            "label": "t:sections.general.settings.content.label__2"
        },
        {
            "type": "color",
            "id": "logo_color",
            "label": "t:sections.general.settings.color.label__2"
        },
        {
            "type": "header",
            "content": "t:sections.main-password.settings.logo.paragraph__1.content"
        },
        {
            "type": "image_picker",
            "id": "brand_logo",
            "label": "t:sections.general.settings.image.label__1"
        },
        {
            "type": "header",
            "content": "t:sections.main-password.settings.header__3.content"
        },
        {
            "type": "image_picker",
            "id": "banner",
            "label": "t:sections.general.settings.image.label__1"
        },
        {
            "type": "header",
            "content": "t:sections.main-password.settings.header__4.content"
        },
        {
            "type": "paragraph",
            "content": "t:sections.main-password.settings.custom-message.paragraph.content"
        },
        {
            "type": "text",
            "id": "title",
            "label": "t:sections.general.settings.content.label__1",
            "default": "Our store will be opening soon"
        },
        {
            "type": "textarea",
            "id": "subtitle",
            "label": "t:sections.general.settings.content.label__2",
            "default": "Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est."
        },
        {
            "type": "color",
            "id": "subtitle_color",
            "label": "t:sections.general.settings.color.label__2",
            "default": "#FFFFFF"
        },
        {
            "type": "color",
            "id": "title_color",
            "label": "t:sections.general.settings.color.label__7",
            "default": "#FFFFFF"
        },
        {
            "type": "header",
            "content": "t:sections.main-password.settings.header__7.content"
        },
        {
            "type": "checkbox",
            "label": "t:sections.general.settings.countdown.label__1",
            "id": "show_countdown",
            "default": true
        },
        {
            "type": "text",
            "id": "countdown",
            "label": "t:sections.general.settings.countdown.label__2",
            "default": "Dec 31, 2021 18:00:00",
            "info": "t:sections.general.settings.countdown.info"
        },
        {
            "type": "color",
            "id": "countdown_color",
            "label": "t:sections.general.settings.color.label__2"
        },
        {
            "type": "header",
            "content":"t:sections.main-password.settings.header__5.content"
        },
        {
            "type": "select",
            "id": "btn",
            "label": "t:sections.general.settings.button.label__1",
            "default": "1",
            "options": [
            {
                "value": "1",
                "label": "t:sections.general.settings.button.options__1"
            },
            {
                "value": "2",
                "label": "t:sections.general.settings.button.options__2"
            },
            {
                "value": "3",
                "label": "t:sections.general.settings.button.options__3"
            },
            {
                "value": "4",
                "label": "t:sections.general.settings.button.options__4"
            },
            {
                "value": "5",
                "label": "t:sections.general.settings.button.options__5"
            },
            {
                "value": "6",
                "label": "t:sections.general.settings.button.options__9"
            },
            {
                "value": "7",
                "label": "t:sections.general.settings.button.options__10"
            },
            {
                "value": "8",
                "label": "t:sections.general.settings.button.options__11"
            }]
        },
        {
            "type": "header",
            "content":"t:sections.main-password.settings.header__6.content"
        },
        {
            "type": "checkbox",
            "id": "show_social_media",
            "default": true,
            "label": "t:sections.main-password.settings.social-media.label__1"
        },
        {
            "type": "color",
            "id": "social_media_color",
            "label": "t:sections.general.settings.color.label__3",
            "default": "#FFFFFF"
        }]
    }
{% endschema %}