{%- if predictive_search.performed -%}
    {%- liquid
        assign media_size = settings.search_product_image_ratio
        assign portrait_aspect_ratio = settings.search_product_portrait_aspect_ratio
    -%}
    <div id="predictive-search-results" class="predictiveSearchResults quickSearchResults custom-scrollbar">
        <div class="container{% if settings.predictive_container %}{% if settings.layout == '9' %} container-1370{% else %} container-{{ settings.predictive_container }}{% endif %}{% endif %}">
            <div class="quickSearchResultsBlock quickSearchResultsContent" data-image-ratio="{{ media_size }}" data-ratio="{{ portrait_aspect_ratio }}">
                <h2 id="predictive-search-products" class="predictive-search__heading text-body caption-with-letter-spacing search-block-title text-left">
                    <span class="text">
                        {{ 'general.search.search_result_title' | t }}
                    </span>
                </h2>
                <div id="predictive-search-results-list" class="predictive-search__results-list list-unstyled" role="listbox" aria-labelledby="predictive-search-products">
                  {%- if predictive_search.resources.products.size > 0 -%}  
                    <div class="products-grid custom-scrollbar-x column-4">
                        {%- for product in predictive_search.resources.products -%}
                            <div class="product">
                                {% render 'product-card',
                                    product_card_product: product,
                                    media_size: media_size,
                                    portrait_aspect_ratio: portrait_aspect_ratio,
                                    show_add_to_cart: true,
                                    serial: forloop.index,
                                    sectionId: section.id,
                                    show_list: true,
                                    wishlist_add: false,
                                    loading: true
                                %}
                            </div>
                        {%- endfor -%}
                        {%- if settings.show_search_product_view_all -%}
                            <div id="predictive-search-option-search-keywords" class="predictive-search__list-item" role="option">
                                <a href="{{ routes.search_url }}?q={{ predictive_search.terms }}" class="predictive-search__item predictive-search__item--term link link--text h5 animate-arrow button button-view-all" tabindex="-1" data-qs-view-all-link>
                                    {%- if search.results_count == 0 -%}
                                        {{ 'templates.search.no_results' | t: terms: predictive_search.terms }}
                                    {%- else -%}
                                        {% comment %} {{ 'general.search.view_all' | t: count: predictive_search.resources.products.size }} {% endcomment %}
                                        View All Products
                                    {%- endif -%}
                                </a>
                            </div>
                        {%- endif -%}
                    </div>
                  {%- else -%}
                    <div class="productEmpty text-center animate-arrow">
                        <span class="text">{{ 'general.search.search_no_result' | t }}</span>
                        <span class="keyword">
                            <strong>{{ predictive_search.terms }}.</strong> 
                        </span>
                        <a class="link link-underline" href="{{ routes.search_url }}?q={{ predictive_search.terms }}">
                            <span class="text">{{ 'general.search.view_more' | t }}</span>
                        </a>
                    </div>
                  {%- endif -%}
                </div>
                <span class="hidden" data-predictive-search-live-region-count-value>
                    {%- if search.results_count == 0 -%}
                        {{ 'templates.search.no_results' | t: terms: predictive_search.terms }}
                    {%- else -%}
                        {{ 'templates.search.results_with_count' | t: count: predictive_search.resources.products.size }}
                    {%- endif -%}
                </span>
            </div>
        </div>
    </div>
{%- endif -%}